<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
<%= stylesheet_link_tag 'custom_styles/sb-admin/fontawesome-free/css/all' %>
<%# HEADER %>
<main class="container">
  <div class="row">
    <!-- BARRA LATERAL IZQUIERDA -->
    <div class="col-md-3 barra-lateral-izquierda" id="barra-lateral-izquierda">
      <nav>
        <a href="#"><i class="fas fa-award"></i> Amigos</a>
        <a href="#"><i class="fas fa-award"></i> Mensajes Privados</a>
        <a href="#"><i class="far fa-comments"></i> Paginas</a>
        <a href="#"><i class="far fa-comments"></i> Videos</a>
        <a href="#"><i class="fas fa-award"></i> Amigos</a>
        <a href="#"><i class="fas fa-award"></i> Mensajes Privados</a>
        <a href="#"><i class="far fa-comments"></i> Paginas</a>
        <a href="#"><i class="far fa-comments"></i> Videos</a>
      </nav>
    </div>
    <!-- CONTENIDO PRINCIPAL -->
    <div class="col contenido-principal">
      <div class="publicar">
        <!-- FILA PARA EL BOTON DE MENU EN DISPOSITIVOS MOVILES -->
        <div class="row">
          <div class="col">
            <!-- BOTON DE MENU EN DISPOSITIVOS MOVILES -->
            <a href="#" class="btn-menu d-md-none d-flex justify-content-between" id="btn-menu">
              <span>Menu</span>
              <i class="icon-menu"></i>
            </a>
          </div>
        </div>
        <!-- FILA PARA EL FORMULARIO DE PUBLICACION -->
        <div class="row">
          <div class="col-auto foto">
            <a href="#">
              <%= image_tag 'persona2.jpg'%>
            </a>
          </div>
          <div class="col">
            <!-- FORMULARIO DE PUBLICACION -->
            <form action="">
              <textarea name="mensaje" id="" placeholder="Publicar Mensaje"></textarea>
              <div class="contenedor-botones d-flex justify-content-between">
                <div class="media">
                  <a href="#"><i class="fas fa-image"></i></a>
                  <a href="#"><i class="fas fa-play"></i></a>
                  <a href="#"><i class="fas fa-music"></i></a>
                </div>
                <div>
                  <button>Publicar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- PUBLICACION #1 -->
      <div class="publicacion">
        <!-- PUBLICACION / POST -->
        <div class="row">
          <div class="col-auto foto">
            <a href="#">
              <%= image_tag 'persona2.jpg'%>
            </a>
          </div>
          <div class="col">
            <div class="post">
              <a href="#" class="nombre">Andrea Lorem Ipsum</a>
              <p class="texto">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              </p>
              <div class="caja-botones d-flex justify-content-between align-items-center">
                <button><i class="fas fa-reply"></i></button>
                <p>15 <i class="fas fa-comment-dots"></i></p>
              </div>
            </div>
          </div>
        </div>
        <!-- COMENTARIOS -->
        <div class="row">
          <div class="col-10 offset-2">
            <div class="comentarios">
              <div class="row no-gutters comentario">
                <div class="col-auto foto">
                  <a href="#">
                    <%= image_tag 'persona2.jpg'%>
                  </a>
                </div>
                <div class="col">
                  <form action="">
                    <textarea name="" id="" placeholder="Comentario"></textarea>
                  </form>
                </div>
              </div>
              <div class="row no-gutters comentario">
                <div class="col-auto foto">
                  <a href="#">
                    <%= image_tag 'persona1.jpg'%>
                  </a>
                </div>
                <div class="col">
                  <p class="respuesta">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam.
                  </p>
                  <a href="#" class="me-gusta">Me gusta</a>
                </div>
              </div>
              <div class="row no-gutters comentario">
                <div class="col-auto foto">
                  <a href="#">
                    <%= image_tag 'persona5.jpg'%>
                  </a>
                </div>
                <div class="col">
                  <p class="respuesta">
                    Incididunt ut labore et dolore magna aliqua.
                  </p>
                  <a href="#" class="me-gusta">Me gusta</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PUBLICACION #2 -->
      <div class="publicacion">
        <!-- PUBLICACION / POST -->
        <div class="row">
          <div class="col-auto foto">
            <a href="#">
              <%= image_tag 'persona2.jpg'%>
            </a>
          </div>
          <div class="col">
            <div class="post">
              <a href="#" class="nombre">Jose Lorem Ipsum</a>
              <div class="imagen">
                <%= image_tag 'persona2.jpg'%>
              </div>
              <div class="caja-botones d-flex justify-content-between align-items-center">
                <button><i class="icon-thumbs-up"></i></button>
                <p>15 <i class="icon-thumbs-up"></i></p>
              </div>
            </div>
          </div>
        </div>
        <!-- COMENTARIOS -->
        <div class="row">
          <div class="col-10 offset-2">
            <div class="comentarios">
              <div class="row no-gutters comentario">
                <div class="col-auto foto">
                  <a href="#">
                    <%= image_tag 'ad1.jpg'%>
                  </a>
                </div>
                <div class="col">
                  <form action="">
                    <textarea name="" id="" placeholder="Comentario"></textarea>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BARRA LATERAL DERECHA -->
</main>
