<%= form_with(model: subject, url: url, local: true) do |f| %>

	<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
      <label>Nombre</label>
      <%= f.text_field :name, class:'form-control form-control-user', id:"exampleName", placeholder:"Name", autofocus: true, autocomplete: "name", required: "required"%>
    </div>
  </div>

	<div class="form-group">
    <!-- <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name"> -->
    	<label>Descripcion</label>
      <%= f.text_area :description, class:'form-control form-control-user', id:"exampledescription", placeholder:"Descripcion", autofocus: true, autocomplete: "description", cols: "15", rows:"4", required: "required" %>
  </div>

  <div class="form-group">
    <!-- <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name"> -->
      <label>Status</label>
      <%= select_tag "subject[status]", options_for_select([['Seleccione Status', nil], ['Activo', 'Activo'], ['Inactivo', 'Inactivo']], selected: @subject.status ), class: 'browser-default custom-select', id: "status_picker", required: "required"%>
  </div>

	<br>

  <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <!-- <div class="card shadow mb-4"> -->
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Profesores</h6>
          </div>
          <!-- <div class="card-body"> -->
              <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <!-- <th>Correo</th> -->
                    <th>Nombre</th>
                    <th>ID</th>
                    <th>Accion</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <!-- <th>Correo</th> -->
                    <th>Nombre</th>
                    <th>ID</th>
                    <th>Accion</th>
                  </tr>
                </tfoot>
                <tbody>

                </tbody>
              </table>
          <!-- </div> -->
        <!-- </div> -->
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12">
        <!-- <div class="card shadow mb-4"> -->
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Materia</h6>
          </div>
          <!-- <div class="card-body"> -->
              <table class="table table-striped table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <!-- <th>Correo</th> -->
                    <th>Nombre</th>
                    <th>ID</th>
                    <th>Accion</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <!-- <th>Correo</th> -->
                    <th>Nombre</th>
                    <th>ID</th>
                    <th>Accion</th>
                  </tr>
                </tfoot>
                <tbody>

                </tbody>
              </table>
            <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  
    <hr>

    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        
        <% if @subject.id %>
          <% if can? :update, Subject %>
              <%= f.submit "Editar", class:'btn btn-primary btn-sm' %>
          <% end %>

          <% if can? :read, Subject and  @subject.id %>
            <%= link_to "Ver" , admin_subject_path(@subject), :class => 'btn btn-sm btn-warning shadow-sm' %>
          <% end %>
        <% else %>
          <% if can? :create, Subject %>
            <%= f.submit "Crear", class:'btn btn-primary btn-sm shadow-sm' %>
          <% end %>
        <% end %>
        <% if can? :read, Subject %>
            <%= link_to 'Cancel', url_for(:back), :class => 'btn btn-sm btn-light shadow-sm' %>
        <% end %>
        
        <br>
      </div>
    </div>
<% end %>