  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Materias <% if params[:status] == 'Inactivo' %> Inactivas <% elsif params[:status] == 'Activo' %> Activas <% else %>  <%end%></h1>
    <% if can? :create, Subject %>
      <a href="<%= new_admin_subject_path  %>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Materia</a>
    <%end%>
  </div>

  <%= render 'admin/home/messages' if !flash.empty? %>

  <!-- DataTales Example -->
  <div class="col-lg-12 col-md-12 col-xs-12">
    <table class="table table-striped table-responsive-md btn-table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th><center>Nombre</center></th>
          <th class="d-none d-sm-table-cell"><center>Descripcion</center></th>
          <th width="275" class="d-none d-sm-table-cell"><center>Profesores</center></th>
          <th width="225"><center>Acciones</center></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><center>Nombre</center></th>
          <th class="d-none d-sm-table-cell"><center>Descripcion</center></th>
          <th width="275" class="d-none d-sm-table-cell"><center>Profesores</center></th>
          <th width="225"><center>Acciones</center></th>
        </tr>
      </tfoot>
      <tbody>
        <% @subjects.each do |subject| %>
          <tr>
            <td><center><%= subject.name %></center></td>
            <td class="d-none d-sm-table-cell"><center><%= truncate(subject.description , :length => 50) %></center></td>
            <td class="d-none d-sm-table-cell">
              <center>
                <select name="" id="" class="browser-default custom-select">
                    <option value="" selected="true">Profesores: <%= subject.name %> </option>
                  <% subject.users.ids.each do |ps| %>
                    <option value=""><%= User.find(ps).name+' '+User.find(ps).lastname %></option>
                  <% end %>
                </select>
              </center>
            </td>
            <td>
              <center>
                <% if can? :update, Subject %>
                  <a href="<%= admin_subject_path(subject)%>"><button class="btn-floating btn-sm btn-outline-info shadow-sm" data-placement="botton" title="Detalle <%= subject.name %> "><i class="fas fa-fw fa-eye"></i></button></a>
                <% end %>
                <% if can? :update, Subject %>
                  <a href="<%=edit_admin_subject_path(subject)%>"><button class="btn-floating btn-sm btn-outline-primary shadow-sm" data-placement="botton" title="Editar <%= subject.name %>"><i class="fas fa-fw fa-edit"></i></button></a>
                <% end %>
                <% if can? :destroy, Subject %>
                   <button class="btn-floating btn-sm btn-outline-danger shadow-sm" href="#"  data-placement="botton" title="Eliminar <%= subject.name %>" onclick="check_and_display_delete_modal('<%= subject.id %>', 'Esta seguro de Eliminar la Materia <%= subject.name %>', 'Eliminar Materia?')"><i class="fas fa-fw fa-trash"></i></button>
                <%end%>
              </center>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="DeleteSubject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Materia?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          

        </div>
        <div class="modal-footer" id="myModalFooter">
          <button class="d-none d-sm-inline-block btn btn-sm btn-light shadow-sm" type="button" data-dismiss="modal">Cancel</button>
          <!-- <a class="btn btn-primary" href="login.html">Logout</a> -->
          <!-- <a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" rel="nofollow" data-method="delete" href="/admin/sections/26">Eliminar</a> -->

          </div>
      </div>
    </div>
  </div>



<script type="text/javascript">
  
  $(document).ready(function () {
    $('#dataTable').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });

  <% len = @subjects.length %>
  var subjects = {
    <% @subjects.each_with_index do |subject, index| %>
      
      <% if index+1 != len %>
        '<%= subject.id %>' : '<%=link_to('Eliminar Materia', admin_subject_path(subject), class:'btn btn-danger btn-sm shadow-sm modal_delete', method: :delete) %>',
      <% elsif index+1 == len %>
        '<%= subject.id %>' : '<%= link_to('Eliminar Materia', admin_subject_path(subject), class:'btn btn-danger btn-sm shadow-sm modal_delete', method: :delete) %>'
      <%  end %>
    <% end %>
  };

  

  function check_and_display_delete_modal(id, menssage, modal_title){

    $('.modal_delete').remove();
    
    button = subjects[id];

    console.log(button);

    $modal = $('#DeleteSubject');
    $modal.find('.modal-title').text('' + modal_title);
    $modal.find('.modal-body').text(''+ menssage);

    //$(".d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm").remove(); //Con esta linea elimino en el modal un button parecido al que realizara la accion de eliminar.
    
    $( "#myModalFooter" ).append(button);
    $modal.modal('show');
  }

</script>