<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Crear Materia</h1>
</div>

<%= render 'form', subject: @subject, url: admin_subjects_path(@subject) %>

<script type="text/javascript">

  var idUsers = [];

  function addUser(id, name, lastname, dni, iddataTable)
  {
    //var $dataTable = $('#dataTable2').dataTable();
    //alert(id + name + lastname + dni + iddataTable);

    lastname = (lastname)?lastname:'';

    if (iddataTable == 1)
    {
      var dataTable = $('#dataTable2').dataTable();
      dni = !(dni)?'No id':dni;
      dataTable.fnAddData([
        (name)+' '+(lastname),
        dni+""+'<input type="hidden" readonly="readonly" value="'+id+'" id="inputValue'+id+'">',
        ""+'<button class="btn-floating btn-sm btn-outline-danger" id="accionValuedt2'+id+'" data-toggle="tooltip" data-placement="botton" title="Remover Estudiante">-</button>'
      ]);
    } else
    {
      var dataTable = $('#dataTable').dataTable();
      dni = !(dni)?'No id':dni;
      dataTable.fnAddData([
        (name)+' '+(lastname),
        dni+""+'<input type="hidden" readonly="readonly" value="'+id+'" id="inputValue'+id+'">',
        ""+'<button class="btn-floating btn-sm btn-outline-success" id="accionValuedt2'+id+'" data-toggle="tooltip" data-placement="botton" title="Agregar a Seccion">+</button>'
      ]);
    }
  }

  function getTableData(){
    data = [];
    $( ".hello" ).remove();
    $("#dataTable2 td:nth-child(2)").each(function (index) {
      var row = 'Row no. ' + (index+1) + ', Column 2 : ' + $(this).html();
      var id = (row.split('value="')[1]).split('"')[0];
      data.push(id);

      $('<input>').attr({class:"hello", id: id, name: "subject[user_ids][]", type:'hidden', value: id}).appendTo("form");  
    }
    );
    return data;
  }

  $(document).ready(function(){
    var dataTable = $('#dataTable').dataTable();
    $('.dataTables_length').addClass('bs-select');
    var data = $.getJSON('<%= admin_users_path(:role => 'Profesor', :status => 'Activo') %>',function(data){
      $.each(data, function(idx, elem){

        elem.dni = !(elem.dni)?'No id':elem.dni;

        dataTable.fnAddData([
          //elem.email+"",
          (elem.name)+' '+(elem.lastname),
          elem.dni+""+'<input type="hidden" readonly="readonly" value="'+elem.id+'" id="inputValue'+elem.id+'">',
          ""+'<button href="#/" class="btn-floating btn-sm btn-outline-success" id="accionValuedt1'+elem.id+'" data-toggle="tooltip" data-placement="botton" title="Agregar a Seccion">+</button>' 
        ]);
      });
    });
  }); 

  $(document).ready(function(){
    var table = $('#dataTable2').DataTable();
    $('.dataTables_length').addClass('bs-select');
    $('#dataTable2').on( 'click', 'button', function () {
      var id, name, lastname, dni;
      for (i = 0; i < ((table.row( $(this).parents('tr') ).data()).length - 1); i++)
      {
        if (i == 0){
          name = table.row( $(this).parents('tr') ).data()[i];
          lastname = '';
        } else if(i == 1){
          dni = (table.row( $(this).parents('tr') ).data())[i].split("<")[0];
          id = ((table.row( $(this).parents('tr') ).data())[i].split('value="')[1]).split('"')[0];    
        } 
      }
      
      table.row( $(this).parents('tr') ).remove().draw(false);
      addUser(id, name, lastname, dni, 2);
      idUsers = getTableData();
    }); 
  });

  $(document).ready(function(){
    var table = $('#dataTable').DataTable();
    $('.dataTables_length').addClass('bs-select');
    $('#dataTable').on( 'click', 'button', function () {

      console.log( table.row( $(this).parents('tr') ).data() );
      
      var id, name, lastname, dni;
      for (i = 0; i < ((table.row( $(this).parents('tr') ).data()).length - 1); i++)
      {
        if (i == 0){
          name = table.row( $(this).parents('tr') ).data()[i];
          lastname = '';
        } else if(i == 1){
          dni = (table.row( $(this).parents('tr') ).data())[i].split("<")[0];
          id = ((table.row( $(this).parents('tr') ).data())[i].split('value="')[1]).split('"')[0];    
        } 
      }
      
      //table.row( this ).delete();
      table.row( $(this).parents('tr') ).remove().draw(false);
      addUser(id, name, lastname, dni, 1);
      idUsers = getTableData();
    }); 
  });
</script>