
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Materia: <%= @subject.name %></h1>
</div>

<div class="row">
	<div class="col-lg-12">

		<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
				<h6 class="m-0 font-weight-bold text-dark">Descripcion</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample1">
				<div class="card-body">
				<strong><%= @subject.description%>.</strong>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-xs-12">

		<!-- Collapsable Card Example -->
		<!-- <div class="card shadow mb-4"> -->
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
				<h6 class="m-0 font-weight-bold text-dark">Profesores</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample2">
				<!-- <div class="card-body"> -->
				<strong>
					<!-- <div class="card-body"> -->
			            <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
			              <thead>
			                <tr>
			                  <th><center>Correo</center></th>
			                  <th><center>Nombre</center></th>
			                  <th><center>ID</center></th>
			                </tr>
			              </thead>
			              <tfoot>
			                <tr>
			                  <th><center>Correo</center></th>
			                  <th><center>Nombre</center></th>
			                  <th><center>ID</center></th>
			                </tr>
			              </tfoot>
			              <tbody>
			              	<% @profesor_subject.each do |us| %>
				              	<tr>
				              		<td><center><%= us.email %></center></td>
				              		<td><center><%= us.name %> <%= us.lastname %></center></td>
				              		<td><center><%= us.dni %></center></td>
				              	</tr>
			              	<% end %>
			              </tbody>
			            </table>
			        <!-- </div> -->
				</strong>
				<!-- </div> -->
			</div>
		<!-- </div> -->
	</div>
</div>




<div class="form-group">
	<hr>
    <div class="col-lg-12 col-md-12 col-xs-12">
    	<% if can? :update, Subject %>
			<%= link_to 'Editar', edit_admin_subject_path(@subject), :class => 'btn btn-sm btn-primary shadow-sm' %>
		<% end %>

		<% if can? :read, Subject %>
			<%= link_to 'Atras', url_for(:back), :class => 'btn btn-sm btn-light shadow-sm' %>
		<% end %>
	</div>
</div>


<script>

	$(document).ready(function () {
	    $('#dataTable').DataTable();
	    //$('.dataTables_length').addClass('bs-select');


	});

	
</script>