<%= render 'admin/home/messages' if !flash.empty? %>
<%= stylesheet_link_tag 'forums', media: 'print, screen' %>

<div class="row">
  <div class="d-none d-sm-block col-md-8 col-md-block carta-estudiante1 text-white bg-light card mb-5">
    <div class="card-body">
      <h1 class="card-title text-center"'>Anuncios de los profesores</h1>
      <h6 class="etiqueta">Área de estudiantes y profesores</h6>
    </div>
  </div>

  <div class="d-sm-none card mx-3 p-0 bg-light carta-estudiante1 text-dark" style="width: 18rem;">
    <div class="card-body pb-2 mb-3">
      <h2 class="card-title text-center">Anuncios</h2>
      <h6 class="card-subtitle text-muted text-center"><small>"Publique una informaci&oacuten importante"</small></h6>
    </div>
  </div>

  <% if can? :create, Forum %>
    <div class="col-md-4 valoracion d-flex justify-content-start justify-content-md-end align-items-end my-3">
      <a href="<%= new_ad_path  %>" class="boton-crear btn btn-md btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Anuncios</a>
    </div>
  <% end %>
</div>

<div class="fixed-table-header">
  <% if can? :create, Forum %>
    <table class="table table-bordered table-hover table-responsive-md btn-table table-bordered table-striped" id="dataTable">
  <% else %>
    <table class="table table-bordered table-hover table-responsive-md btn-table table-bordered table-striped" id="dataTable">
  <% end %>

      <thead class="thead bg-secondary text-white">
        <tr>
          <!-- Quitar-->
          <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
            <div class="th-inner sortable both">Fecha de creación</div><div class="fht-cell">
            </div>
          </th>
        
          <% if can? :create, Forum %>
            <th style="text-align: center; " colspan="3">
              <div class="th-inner ">Lista de contenido</div>
              
              <div class="fht-cell"></div>
            </th>
          <% else %>
          <th style="text-align: center; " colspan="3">
              <div class="th-inner ">Lista de contenido</div>
              
              <div class="fht-cell"></div>
            </th>
          <% end %>       
        </tr>

        <tr>
          <% if current_user.is_profesor? %>
            <th style="text-align: center; " data-field="name" data-not-first-th="">
              <div class="th-inner sortable both">Grado dirigido</div>
              <div class="fht-cell" style="width: 200px;"></div>
            </th>
          <% end %>

           <% if current_user.is_student? %>
            <th style="text-align: center; " data-field="name" data-not-first-th="">
              <div class="th-inner sortable both">Materia impartida por el/la profesor/a</div>
              <div class="fht-cell" style="width: 226px;"></div>
            </th>
          <% end %>
        
            <th style="text-align: center; " data-field="price">
              <div class="th-inner sortable both">Título del anuncio</div>
              <div class="fht-cell" style="width: 218px;"></div>
            </th>
          
          <th style="text-align: center; " data-field="operate">
            <div class="th-inner ">Acción a tomar</div>
            <div class="fht-cell" style="width: 225px;"></div>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @ads.reverse_each do |ad| %>
          <% current_user.sections.pluck(:id).each do |single| %>
            <% if single == ad.section_id %>
              <% if current_user == ad.user || (cannot? :create, Forum) %>
                <tr>
                  <td><%= ad.created_at.strftime("%d de %b, %y") %></td>
                  <% if current_user.is_profesor? %>
                    <td><%= ad.section.description %></td>
                  <% end %>
                  <% if current_user.is_student? %>
                    <td><%= ad.user.subjects.pluck(:name).join(', ') unless ad.user.blank? == true %></td>
                  <% end %>                  
                  <td><%= truncate(ad.name, :length => 30) %></td>
          
                  <td>
                    <center>
                      <% if current_user == ad.user %>
                        <a class="btn-floating btn-sm btn-outline-info shadow-sm" href="<%= ad_path(ad) %>" data-placement="botton" title="Visualizar contenido"><i class="fas fa-fw fa-eye"></i></a>
                        <a class="btn-floating btn-sm btn-outline-warning shadow-sm" href="<%= edit_ad_path(ad) %>" data-placement="botton" title="Modificar contenido"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="btn-floating btn-sm btn-outline-danger shadow-sm" href="<%= ad_path(ad) %>" data-method="delete" data-placement="botton" title="Eliminar contenido" data-confirm= 'Está segur@ de que desea eliminar su contenido titulado como: "<%= ad.name%>"?.' ><i class="fas fa-fw fa-trash"></i></a>
                      <% else %>
                        <a class="btn-floating btn-sm btn-outline-info shadow-sm" href="<%= ad_path(ad) %>" data-placement="botton" title="Visualizar contenido"><i class="fas fa-fw fa-eye"></i></a>
                        <a class="btn-floating btn-sm btn-outline-success shadow-sm" data-container="body" data-placement="top" data-toggle="popover" title="<%= ad.user.name %> <%= ad.user.lastname %>" data-content="<%= truncate(ad.name ,:length => 40, class: 'color') %>"><i class="fas fa-info-circle"></i></a>
                      <% end %>
                    </center>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>

<script>
  $(function(){
    $('[data-toggle="popover"]').popover();
  })
</script>

<script type="text/javascript">
    
    $(document).ready(function () {
      $('#dataTable').DataTable();
      $('.dataTables_length').addClass('bs-select');
    });

    $('.btn-floating.btn-sm.btn-outline-danger.shadow-sm').click(function() {
    var d = $(this).data('datac');      
    //alert(d); 
    button = '<a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" rel="nofollow" data-method="delete" href="'+d.split(",")[0]+'">Eliminar</a>';
    msg = 'Esta seguro de Eliminar: '+d.split(",")[1];
    $modal = $('#DeleteNew');
    $modal.find('.modal-title').text('' + 'Eliminar Anuncio?');
    $modal.find('.modal-body').text(''+ msg);

    $(".d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm").remove(); //Con esta linea elimino en el modal un button parecido al que realizara la accion de eliminar.
    
    $( "#myModalFooter" ).append(button);
    $modal.modal('show');
  });

</script>
