<%= render 'admin/home/messages' if !flash.empty? %>
<%= stylesheet_link_tag 'forums', media: 'print, screen' %>
<div class= 'row'>
  <div class="col-md-7 col-12 carta card mb-md-5 mb-3">
    <div class="card-body">
      <h1 class="card-title titulo-foro text-center">Anuncios para los estudiantes</h1>
      <h6 class="etiqueta">Área de profesores</h6>
    </div>
  </div>

  <div class= 'd-none col-md-5 col-12 mb-0 d-flex justify-content-end align-items-end' id="container">
    <div class="d-none d-md-block blockWrapper text-center">
      <a href='<%= ads_path %>'>
        <p class="block mb-0" style= 'height:124px;'>↵</p>
      </a>
      <h4 class= 'font-weight-bold'>Regresar</h4>
    </div>

    <div class= 'd-md-none d-flex justify-content-end'>
      <a class='d-flex btn btn-dark mr-0' title='Regresar' href='<%= ads_path %>'>⏎ Regresar</a>
    </div>
  </div>
</div>

<% if !@ad.errors.empty? %>
  <div class="alert alert-error bg-danger d-flex justify-content-center">
    <a type="button rounded" class="btn btn-dark">
      Por favor, corrija los siguientes errores <span class="badge badge-pill badge-light"><%= @ad.errors.count %></span>
    </a>
  </div>
<%end%>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag(("anuncio2.jpg"), class: "card-img-top", style: 'height: 100%;', alt: 'file image')  %>
    </div>
    <div class="col-md-8 text-dark">
      <h2 class ='mb-0 pl-3 bg-warning'>Publique su información <button class="btn btn-dark" data-container="body" data-placement="bottom" data-toggle="popover" title="Bienvenidos al área de anuncios" data-content="Con la finalidad de publicar un aviso, tal como: <no hay clases por motivo de enfermedad>, <no olviden los materiales de dibujo>, <recuerden estudiar para el examen del viernes> estos y otros ejemplos. Informar al alumno hará bien para todos.">Click Aquí</button></h2>
          <div class= 'card-body pb-0'>
            <%= simple_form_for @ad, validate: true do |f| %> 
              <%# Section %>
              <span class="form-group d-flex mb-0">
                <%= f.input :section_id, as: :radio_buttons, label: 'Grado dirigido', :item_wrapper_class =>  'bg-dark', collection: current_user.sections, :item_wrapper_class => 'd-inline mx-2 my-0 text-white bg-dark'%>
              </span>
              
              <%# Title %>
              <div class="form-group d-inline">
                <%= f.input :name, label: 'Título de la publicación', label_html: {style: "color: white !important;", class: 'text-white rounded-top font-weight-bold bg-dark rounded col-12 m-0'}, placeholder: 'Contendrá el encabezado del foro...' %>
              </div>
              
              <%# Description %>
              <div class="form-group">
                <%= f.input :description, :as => :text, label: 'Contenido principal', :input_html => { 'rows' => 6, 'cols' => 5 }, label_html: {style: "color: white !important;" ,class: 'text-white rounded-top font-weight-bold bg-dark rounded col-12 m-0'}, placeholder: 'Contendrá el encabezado del foro...' %>
              </div>

              <div class='d-flex justify-content-end'> 
                <%= f.submit "Publicar", class: "btn color-boton" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function(){
        $('[data-toggle="popover"]').popover();
      })
    </script>
