 <%= render 'admin/home/messages' if !flash.empty? %>
<%= stylesheet_link_tag 'forums', media: 'print, screen' %>
<div class="row ">
  <div class="col-7 d-flex">
    <div class="carta card mb-5">
      <div class="card-body">
        <h1 class="card-title titulo-foro text-center">Anuncio para los estudiantes</h1>
        <h6 class="etiqueta">Área de estudiantes y profesores</h6>
      </div>
    </div>
  </div>
  <div class= 'col-5 mb-0 d-flex justify-content-end align-items-center' id="container">
    <div class="blockWrapper text-center">
      <a  data-toggle="modal" data-target="#fm-modal-grid">
        <p class="block mb-0">?</p>
      </a>
      <h4 class= 'font-weight-bold' data-toggle="modal" data-target="#fm-modal-grid">Click aquí</h4>
    </div>
  </div>
</div>
<div class= 'd-flex justify-content-end'>
  <a class='d-flex btn btn-dark' title='Regresar' href='<%= ads_path%>'>⏎ Regresar</a>
</div>
<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col">
      <div class="card-columns">
        <div class="card mt-5">
          <%= image_tag(("einstein.jpg"), class: "card-img-top img-fluid", style: 'height: 480px',  alt: 'announcements image')  %>
          <div class="card-body bg-dark">
            <h4 class="card-text text-center"><strong>1) </strong>Para ver los anuncios</h4>
          </div>
        </div>
        <div class="card">
          <%= image_tag(("interrogacion.jpg"), class: "card-img-top img-fluid", alt: 'announcements image')  %>
          <div class="card-body bg-dark">
            <h4 class="card-text text-center"><strong>2) </strong>Deberá seleccionar el bloque</h4>
          </div>
        </div>
        <div class="card">
          <%= image_tag(("alumns.jpg"), class: "card-img-top img-fluid", style: 'height: 270px', alt: 'announcements image')  %>
          <div class="card-body bg-dark">
            <h4 class="card-text text-center"><strong>4) </strong>De esta manera podrá observar</h4>
          </div>
        </div>
        <div class="card mt-3">
          <%= image_tag(("corner.jpg"), class: "card-img-top img-fluid", style: 'height: 180px', alt: 'announcements image')  %>
          <div class="card-body bg-dark">
            <h4 class="card-text text-center"><strong>3) </strong>Ubicada en la esquina superior derecha</h4>
          </div>
        </div>
        <div class="card">
          <%= image_tag(("amplify.jpg"), class: "card-img-top img-fluid", style: 'height: 180px', alt: 'announcements image')  %>
          <div class="card-body bg-dark">
            <h4 class="card-text text-center"><strong>5) </strong>La información transmitida por sus profesores</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# Modal bloq ? click %>
<div class="modal fade" id="fm-modal-grid" tabindex="-1" role="dialog" aria-labelledby="fm-modal-grid" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title font-weight-bold mb-0" id=""><%= simple_format(@ad.name, class: 'mb-0') %></h5>
        <button class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true" class='text-white'>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 p-0">
              <h6><%= simple_format(@ad.description ,class: 'color text-justify') %></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class = 'col-10 d-flex justify-content-start'>
          <h6 class= 'font-italic color'>
            <small>Creado el: <%= @ad.created_at.strftime("%d %b %y")%>. -
              Por el/la profesor/a: <%= @ad.user.name %> <%= @ad.user.lastname %></small>.
          </h6>
        </div>
        <div class = 'col-2 d-flex justify-content-end'>
          <button class="btn btn-dark" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .color-black{
    color: black !important;
  }
</style>
