<%= render 'admin/home/messages' if !flash.empty? %>
<%= stylesheet_link_tag 'forums', media: 'print, screen' %>
<div class= 'row'>
  <div class="col-12 col-md-7 carta card mb-3 mb-md-5">
    <div class="card-body">
      <h1 class="card-title titulo-foro">Foros de estudiantes</h1>
      <h6 class="etiqueta">Área de profesores - Modo edición</h6>
    </div>
  </div>

  <div class= 'd-none col-md-5 col-12 mb-0 d-flex justify-content-end align-items-end' id="container">
    <div class="d-none d-md-block blockWrapper text-center">
      <a href='<%= forums_path %>'>
        <p class="block mb-0" style= 'height:124px;'>↵</p>
      </a>
      <h4 class= 'font-weight-bold'>Regresar</h4>
    </div>

    <div class= 'd-md-none d-flex justify-content-end'>
      <a class='d-flex btn btn-dark mr-0' title='Regresar' href='<%= forums_path %>'>⏎ Regresar</a>
    </div>
  </div>
</div>
<% if !@forum.errors.empty? %>
  <div class="alert alert-error bg-danger d-flex justify-content-center">
    <a type="button rounded" class="btn btn-dark">
      Por favor, corrija los siguientes errores <span class="badge badge-pill badge-light"><%= @forum.errors.count %></span>
    </a>
    <% @titulo = @forum.errors[:title].join('. ') %>
    <% @descripcion = @forum.errors[:comment].join('. ') %>
  </div>
<%end%>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag(("teacher.jpg"), class: "card-img-top", style: 'height: 100%;', alt: 'file image')  %>
    </div>
    <div class="col-md-8">
      <h2 class ='mb-0 pl-3 bg-warning'>Foro - Modo edición -<button class="btn btn-dark" data-container="body" data-placement="bottom" data-toggle="popover" title="Editar contenido" data-content="Una vez modifique el contenido de su publicación será enviado a la página principal de foros donde verá sus cambios pertinentes.">Click Aquí</button></h2>
      <div class= 'card-body pb-0'>
        <%= simple_form_for @forum, validate: true do |f| %> 
          <%# Section %>
          <span class="form-group d-flex mb-0">
            <%= f.input :section_id, as: :radio_buttons, label: 'Grado dirigido', :item_wrapper_class =>  'bg-dark', collection: current_user.sections, :item_wrapper_class => 'text-white bg-dark d-inline mx-2 my-0'%>
          </span>
          
          <%# Title %>
          <div class="form-group d-inline">
            <%= f.input :title, label: 'Título de la publicación', label_html: {style: "color: white !important;", class: 'text-white rounded-top font-weight-bold bg-dark rounded col-12 m-0'}, placeholder: 'Contendrá el encabezado del foro...' %>
          </div>
          
          <%# Description %>
          <div class="form-group">
            <%= f.input :comment, :as => :text, label: 'Contenido principal', :input_html => { 'rows' => 6, 'cols' => 5 }, label_html: {style: "color: white !important;" ,class: 'text-white rounded-top font-weight-bold bg-dark rounded col-12 m-0'}, placeholder: 'Contendrá el encabezado del foro...' %>
          </div>

          <div class='d-flex justify-content-end'> 
            <%= f.submit "Publicar", class: "btn color-boton" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('[data-toggle="popover"]').popover();
  })
</script>
