<%= render 'admin/home/messages' if !flash.empty? %>
<%= stylesheet_link_tag 'forums', media: 'print, screen' %>

<div class="row">
  <div class="d-none d-sm-block col-md-8 col-md-block carta-estudiante1 text-white bg-light card mb-5">
    <div class="card-body">
      <h1 class="card-title text-center">Foros de estudiante</h1>
      <h6 class="etiqueta">Área de estudiantes y profesores</h6>
    </div>
  </div>

  <div class="d-sm-none card mx-3 p-0 bg-white text-dark text-center" style="width: 18rem;">
    <div class="card-body pb-2 mb-3">
      <h2 class="card-title text-center">Foro de estudiantes</h2>
      <h6 class="card-subtitle text-muted text-center"><small>"Cree su tema de discusi&oacuten con confianza"</small></h6>
    </div>
  </div>

  <% if can? :create, Forum %>
    <div class="col-md-4 valoracion d-flex justify-content-start justify-content-md-end align-items-end my-3">
      <a href="<%= new_forum_path  %>" class="boton-crear btn btn-md btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Foro</a>
    </div>
  <% end %>
</div>

<div class="fixed-table-header" style="margin-right: 0px;">
  <% if can? :create, Forum %>
    <table class="table table-bordered table-hover table-responsive-md btn-table table-bordered table-striped" id="dataTable">
  <% else %>
    <table class="table table-bordered table-hover table-responsive-md btn-table table-bordered table-striped" id="dataTable">
  <% end %>
    <thead class="thead bg-secondary text-white">
    <tr>

      <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
        <div class="th-inner sortable both">Fecha de creación</div><div class="fht-cell">
        </div>
      </th>
      
      <% if can? :create, Forum %>
        <th style="text-align: center; " colspan="3">
          <div class="th-inner ">Lista de contenido</div>
          <div class="fht-cell"></div>
        </th>
      <% else %>
        <th style="text-align: center; " colspan="3">
          <div class="th-inner ">Lista de contenido</div>  
          <div class="fht-cell"></div>
        </th>
      <% end %>   
    </tr>

    <tr>
      <% if current_user.is_profesor? %>
        <th style="text-align: center; " data-field="name" data-not-first-th="">
          <div class="th-inner sortable both">Grado dirigido</div>
          <div class="fht-cell" style="width: 200px;"></div>
        </th>
      <% end %>

      <% if current_user.is_student? %>
        <th style="text-align: center; " data-field="name" data-not-first-th="">
          <div class="th-inner sortable both">Materia impartida por el/la profesor/a</div>
          <div class="fht-cell" style="width: 226px;"></div>
        </th>
      <% end %>
    
      <th style="text-align: center; " data-field="price">
        <div class="th-inner sortable both">Título del contenido</div>
        <div class="fht-cell" style="width: 218px;"></div>
      </th>
      
      <th style="text-align: center; " data-field="operate">
        <div class="th-inner ">Acción a tomar</div>
        <div class="fht-cell" style="width: 225px;"></div>
      </th>
    </tr>
    </thead>

    <tbody>
      <% @forums.reverse_each do |forum| %>
        <!--Get user id and compare with id forum_section-->
        <% current_user.sections.pluck(:id).each do |single| %>
        <!-- user_id == forum_id?-->
          <% if single == forum.section_id %>
            <% if current_user == forum.user || (cannot? :create, Forum) %>

              <tr>
                <td><%= forum.created_at.strftime("%d de %b, %y") %></td>
                <% if current_user.is_profesor? %>
                  <td><%= forum.section.description %></td>
                <% end %>
                <% if current_user.is_student? %>
                  <td><%= forum.user.subjects.pluck(:name).join(', ') unless forum.user.blank? == true %></td>
                <% end %>
                <td><%= truncate(forum.title, :length => 30) %></td>
                
        
                <td>
                  <center>
                    <% if current_user == forum.user %>
                      <a class="btn-floating btn-sm btn-outline-info shadow-sm" href="<%= forum_path(forum) %>" data-placement="botton" title="Visualizar contenido"><i class="fas fa-fw fa-eye"></i></a>
                      <a class="btn-floating btn-sm btn-outline-warning shadow-sm" href="<%= edit_forum_path(forum) %>" data-placement="botton" title="Modificar contenido"><i class="fas fa-fw fa-edit"></i></a>
                      <a class="btn-floating btn-sm btn-outline-danger shadow-sm" href="<%= forum_path(forum) %>" data-method="delete" data-placement="botton" title="Eliminar contenido" data-confirm= 'Está segur@ de que desea eliminar su contenido titulado como: "<%= forum.title%>"?.' ><i class="fas fa-fw fa-trash"></i></a>
                    <% else %>
                      <a class="btn-floating btn-sm btn-outline-info shadow-sm" href="<%= forum_path(forum) %>" data-placement="botton" title="Visualizar contenido"><i class="fas fa-fw fa-eye"></i></a>
                      <a class="btn-floating btn-sm btn-outline-success shadow-sm" data-container="body" data-placement="top" data-toggle="popover" title="<%= forum.user.name %> <%= forum.user.lastname %>" data-content="<%= truncate(forum.title ,:length => 40, class: 'color') %>"><i class="fas fa-info-circle"></i></a>
                    <% end %> 
                  </center>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(function(){
    $('[data-toggle="popover"]').popover();
  })
</script>

<script type="text/javascript">
    
    $(document).ready(function () {
      $('#dataTable').DataTable();
      $('.dataTables_length').addClass('bs-select');
    });

    $('.btn-floating.btn-sm.btn-outline-danger.shadow-sm').click(function() {
    var d = $(this).data('datac');      
    //alert(d); 
    button = '<a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" rel="nofollow" data-method="delete" href="'+d.split(",")[0]+'">Eliminar</a>';
    msg = 'Esta seguro de Eliminar: '+d.split(",")[1];
    $modal = $('#DeleteNew');
    $modal.find('.modal-title').text('' + 'Eliminar Anuncio?');
    $modal.find('.modal-body').text(''+ msg);

    $(".d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm").remove(); //Con esta linea elimino en el modal un button parecido al que realizara la accion de eliminar.
    
    $( "#myModalFooter" ).append(button);
    $modal.modal('show');
  });

</script>
