<%= stylesheet_link_tag 'forums', media: 'print, screen' %>
<%= render 'admin/home/messages' if !flash.empty? %>

<div class= 'row'>
  <div class="col-7 carta-estudiante1 text-white bg-light card mb-5">
    <div class="card-body">
      <h1 class="card-title"'>Foros de estudiantes</h1>
      <h6 class="etiqueta">Área de estudiantes y profesores</h6>
    </div>
  </div>

  <div class= 'col-5 mb-0 d-flex justify-content-end align-items-end' id="container">
    <div class="blockWrapper text-center">
      <a href='<%= forums_path %>'><p class="block mb-0" style= 'height:124px;'>↵</p></a>
      <h4><%= link_to 'Regresar', forums_path , class: 'font-weight-bold text-dark' %></h4>
      
    </div>
  </div>
</div>

<!-- PUBLICACION / POST -->
<div class="publicacion d-flex justify-content-end mb-4 pt-5 rounded-circle">
  <div class="card col-11 d-flex px-0 bg-ligh"> 
    <% if can? :create, Forum %>
      <div class="dropdown d-flex justify-content-end bg-dark">
        <!-- ROL PARA EL PROFESOR -->
        <a href="#" class="nav-link dropdown-toggle" id="menu-categorias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </a>
        
        <div class="dropdown-menu">
          <div class= ''>
            <%= link_to 'Eliminar ', forum_path(@forum), method: :delete, class: 'alertas'%>
          </div>

          <div class= ''>
            <%= link_to 'Modificar', edit_forum_path(@forum), class: 'alertas'%>     
          </div>
        </div>
      </div>
    <% else %>
      <!-- Diseño amarillo -->
      <div href="#" class="mb-0 alert alert-warning rounded-0"></div>      
    <% end %>
      
    <div class="card-body px-4 py-1">  
      <h3 class= 'font-weight-700 text-justify mt-1'><%= simple_format(@forum.title , class: 'color') %></h3>
      <h5 class= 'text-justify'><%= simple_format(@forum.comment, class: 'color') %></h5>
      <p class= 'font-italic mb-0'>Publicado por el/la profesor/a: <%= @forum.user.name unless @forum.user.blank? %> <%= @forum.user.lastname unless @forum.user.blank? %></p>
    </div>
  </div>
</div>

<hr>

<%# STUDENTS FORUMS %>
<%= render 'comments/form'%>

<%#  STUDENTS COMMENTS %>
<%= render @forum.comments %>

