<%= form_with(model: thought, url: url, local: true) do |f| %>

	<%= render 'admin/home/messages' if !flash.empty? %>
 	
	<div class="form-group row">
	    <div class="col-sm-6 mb-3 mb-sm-0">
	      <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
	     	<label>Autor</label>
	      	<%= f.text_field :author, class:'form-control', id:"exampleauthor", placeholder:"Autor", autofocus: true, autocomplete: "author", required:'true'%>
	    </div>
	</div>

	<div class="form-group">
	    <!-- <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name"> -->
		<label>Descripcion</label>
	    <%= f.text_area :thought, class:'form-control form-control-user', id:"thought", placeholder:"Pensamiento", autofocus: true, autocomplete: "thought", cols: "15", rows:"4", required:'true'%>
	</div>

  	<hr>
	
	<div class="form-group row">
		<div class="col-sm-6 mb-3 mb-sm-0">
			
			<% if @thought.id %>
				<% if can? :update, Thought %>
		    		<%= f.submit "Editar", class:'btn btn-primary btn-sm' %>
				<% end %>
			<% else %>
				<% if can? :create, Thought %>
					<%= f.submit "Crear", class:'btn btn-primary btn-sm shadow-sm' %>
				<% end %>
			<% end %>
			<% if can? :read, Thought %>
		    	<%= link_to 'Cancel', url_for(:back), :class => 'btn btn-sm btn-light shadow-sm' %>
		    <% end %>
		    <br>
		</div>
	</div>
<% end %>
