
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Pensamientos</h1>
    <% if can? :create, Thought %>
      <a href="<%= new_admin_thought_path  %>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Pensamiento</a>
    <%end%>
    <!-- <a href="<%= new_admin_news_path  %>"><button class="btn btn-primary btn-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Anuncio</button></a> -->
  </div>

  <%= render 'admin/home/messages' if !flash.empty? %>
    
  <!-- DataTales Example -->
  <div class="col-lg-12 col-md-12 col-xs-12">
    <!-- <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div> -->
    <div class="card-body">
        <table class="table table-striped table-responsive-md btn-table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th><center>Pensamiento</center></th>
              <th width="215"><center>Autor</center></th>
              <th width="225"><center>Acciones</center></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><center>Descripcion</center></th>
              <th width="215"><center>Autor</center></th>
              <th width="225"><center>Acciones</center></th>
            </tr>
          </tfoot>
          <tbody>
            <% @thoughts.each do |thought| %>
              <tr>
                <td><center><%= thought.thought %></center></td>
                <td>
                  <center><%= thought.author %></center>
                </td>
                <td>
                  <center>
                    <% if can? :read, Thought %>
                      <!-- <a href="<%#= admin_thought_path(thought)%>"><button class="btn-floating btn-sm btn-outline-info shadow-sm" data-toggle="tooltip" data-placement="botton" title="Detalle <%#= thought.thought %>"><i class="fas fa-fw fa-eye"></i></button></a> -->

                      <a href="#"><button class="btn-floating btn-sm btn-outline-info shadow-sm" onclick="set_detail_thought('<%= thought.id%>', '<%= thought.thought %>','<%= thought.author %>', '<%= edit_admin_thought_path(thought) %>')" data-toggle="tooltip" data-placement="botton" title="Detalle <%= thought.thought %>"><i class="fas fa-fw fa-eye"></i></button></a>

                    <% end %>

                    <% if can? :update, Thought %>
                      <a href="<%=edit_admin_thought_path(thought)%>"><button class="btn-floating btn-sm btn-outline-primary shadow-sm" data-toggle="tooltip" data-placement="botton" title="Editar <%= thought.thought %>"><i class="fas fa-fw fa-edit"></i></button></a>
                    <% end %>
                    
                    
                    <% if can? :destroy, Thought %>
                      <button class="btn-floating btn-sm btn-outline-danger shadow-sm" href="#"  data-placement="botton" title="Eliminar <%= thought.thought %>" onclick="check_and_display_delete_modal('<%= thought.id %>', 'Esta seguro de Eliminar el Pesamiento <%= thought.thought %>', 'Eliminar Pensamiento?')"><i class="fas fa-fw fa-trash"></i></button>
                    <%end%>
                  </center>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>


  <!-- Logout Modal-->
  <div class="modal fade" id="DeleteThought" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Pensamiento?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          

          </div>
        <div class="modal-footer" id="myModalFooter">
          <button class="d-none d-sm-inline-block btn btn-sm btn-light shadow-sm" type="button" data-dismiss="modal">Cancel</button>
          <!-- <a class="btn btn-primary" href="login.html">Logout</a> -->
          <!-- <a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" rel="nofollow" data-method="delete" href="/admin/sections/26">Eliminar</a> -->

          </div>
      </div>
    </div>
  </div>




<script type="text/javascript">
  
  $(document).ready(function () {
    $('#dataTable').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });

  <% len = @thoughts.length %>
  var thoughts = {
    <% @thoughts.each_with_index do |thought, index| %>
      
      <% if index+1 != len %>
        '<%= thought.id %>' : '<%=link_to('Eliminar Pensamiento', admin_thought_path(thought), class:'btn btn-danger btn-sm shadow-sm modal_delete', method: :delete) %>',
      <% elsif index+1 == len %>
        '<%= thought.id %>' : '<%= link_to('Eliminar Pensamineto', admin_thought_path(thought), class:'btn btn-danger btn-sm shadow-sm modal_delete', method: :delete) %>'
      <%  end %>
    <% end %>
  };

  function check_and_display_delete_modal(id, menssage, modal_title){

    $('.modal_delete').remove();
    
    button = thoughts[id];

    console.log(button);

    $modal = $('#DeleteThought');
    $modal.find('.modal-title').text('' + modal_title);
    $modal.find('.modal-body').text(''+ menssage);

    //$(".d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm").remove(); //Con esta linea elimino en el modal un button parecido al que realizara la accion de eliminar.
    
    $( "#myModalFooter" ).append(button);
    $modal.modal('show');
  }


  function set_detail_thought(id,thought,author,link_to_edit)
    {
      $('.modal_detail').remove();
      $('#ShowDetailModal').remove();

      id = id ? id : 'Sin identificar';
      thought = thought ? thought : 'Sin identificar';
      author = author ? author : 'Sin identificar';

      var modal = 
        '<!-- Logout Modal-->'+
        '<div class="modal fade modal_detail" id="ShowDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">'+
          '<div class="modal-dialog modal-lg" role="document">'+
            '<div class="modal-content">'+
              '<div class="modal-header">'+
                '<h5 class="modal-title">Detalle Pensamineto: '+id+'</h5>'+
                '<button class="close" type="button" data-dismiss="modal" aria-label="Close">'+
                  '<span aria-hidden="true">×</span>'+
                '</button>'+
              '</div>'+

              '<div class="modal-body">'+
                
                '<div class="row">'+
                  '<div class="col-lg-12">'+
              
                    '<!-- Collapsable Card Example -->'+
                    '<div class="card shadow mb-4">'+
                    '<!-- Card Header - Accordion -->'+
                      '<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">'+
                        '<h6 class="m-0 font-weight-bold text-dark">Autor</h6>'+
                      '</a>'+
                      '<!-- Card Content - Collapse -->'+
                      '<div class="collapse show" id="collapseCardExample1">'+
                        '<div class="card-body">'+
                          '<strong>'+author+'</strong>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+

                    '<!-- Collapsable Card Example -->'+
                    '<div class="card shadow mb-4">'+
                    '<!-- Card Header - Accordion -->'+
                      '<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">'+
                        '<h6 class="m-0 font-weight-bold text-dark">Pensamiento</h6>'+
                      '</a>'+
                      '<!-- Card Content - Collapse -->'+
                      '<div class="collapse show" id="collapseCardExample2">'+
                        '<div class="card-body">'+
                          '<strong>'+thought+'</strong>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+

                  '</div>'+
                '</div>'+
                
              '</div>'+

              '<div class="modal-footer">'+
                '<a href="'+link_to_edit+'" > <button class="btn btn-primary btn-sm shadow-sm" type="button">Editar</button></a>'+
                '<button class="btn btn-success btn-sm shadow-sm" type="button" data-dismiss="modal">Aceptar</button>'+
              '</div>'+
            '</div>'+
          '</div>'+
        '</div>';

      //console.log(modal);

      $('body').append(modal);
      $modal = $('#ShowDetailModal');
      $modal.modal('show');

    }
  
</script>
