<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Crear Pensamiento</h1>
</div>

<%= render 'form', thought: @thought, url: admin_thoughts_path(@thought) %>