
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Pensamiento: <%= @thought.id %></h1>
</div>

<div class="row">
	<div class="col-lg-12">

		<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
				<h6 class="m-0 font-weight-bold text-dark">Pensamiento</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample1">
				<div class="card-body">
				<strong><%= @thought.thought %></strong>
				</div>
			</div>
		</div>

		<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
				<h6 class="m-0 font-weight-bold text-dark">Autor</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample2">
				<div class="card-body">
				<strong><%= @thought.author %></strong>
				</div>
			</div>
		</div>
	</div>	
</div>	

<hr>

<div class="form-group">
    <div class="col-lg-12 col-md-12 col-xs-12">
		
		<% if can? :update, Thought %>
			<%= link_to 'Editar', edit_admin_thought_path(@thought), :class => 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm' %>
		<% end %>

		<% if can? :read, Thought %>
			<%= link_to 'Atras', url_for(:back), :class => 'd-none d-sm-inline-block btn btn-sm btn-light shadow-sm' %>
		<% end %>
	</div>
</div>
	

