
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    
    <% if current_user.is_profesor? %>
      <h1 class="h3 mb-2 text-gray-800">Cambiar Mensaje o Contraseña: <% if @user.name == false and @user.lastname == false %> Sin identificar <% else %><%= @user.name %> <%=@user.lastname%><% end %>
      </h1>
    <% else %>
      <h1 class="h3 mb-2 text-gray-800">Cambiar Contraseña: <% if @user.name == false and @user.lastname == false %> Sin identificar <% else %><%= @user.name %> <%=@user.lastname%><% end %>
      </h1>
    <%end%>

  
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
    
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= render 'admin/home/messages' if !flash.empty? %>

    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
      <a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
        <h6 class="m-0 font-weight-bold text-dark">Nombre y Apellido</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample1">
        <div class="card-body">
        <strong>
          <% if @user.name == false and @user.lastname == false %>
            Sin identificar
          <% else %>
            <%= @user.name %> <%=@user.lastname%>
          <% end %>
        </strong>
        </div>
      </div>
    </div>
    
   <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
      <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
        <h6 class="m-0 font-weight-bold text-dark">DNI</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample2">
        <div class="card-body">
        <strong>
          <% if @user.dni %>
            <%= @user.dni %>
          <% else %>
            Sin identificar
          <% end %> 
        </strong>
        </div>
      </div>
    </div>

    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
      <a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample3">
        <h6 class="m-0 font-weight-bold text-dark">Fecha de Nacimiento</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample3">
        <div class="card-body">
        <strong>
          <% if @user.birthdate %>
            <%= @user.birthdate %>
          <% else%>
            Sin identifcar
          <% end %>   
        </strong>
        </div>
      </div>
    </div>

    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
      <a href="#collapseCardExample4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">
        <h6 class="m-0 font-weight-bold text-dark">Email</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample4">
        <div class="card-body">
        <strong>
          <% if @user.email %>
            <%= @user.email %>
          <% else %>
            Sin identificar
          <% end %>
        </strong>
        </div>
      </div>
    </div>

    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
      <a href="#collapseCardExample8" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample8">
        <h6 class="m-0 font-weight-bold text-dark">Teléfono 1</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample8">
        <div class="card-body">
        <strong>
          <% if @user.cellphone %>
            <%= @user.cellphone %>
          <% else %>
            Sin identificar
          <% end %>
        </strong>
        </div>
      </div>
    </div>

        <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
      <a href="#collapseCardExample9" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample9">
        <h6 class="m-0 font-weight-bold text-dark">Teléfono 2</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample9">
        <div class="card-body">
        <strong>
          <% if @user.cellphone2 %>
            <%= @user.cellphone2 %>
          <% else %>
            Sin identificar
          <% end %>
        </strong>
        </div>
      </div>
    </div>

    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
      <a href="#collapseCardExample5" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample5">
        <h6 class="m-0 font-weight-bold text-dark">Direccion</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample5">
        <div class="card-body">
        <strong>
          <% if @user.address %>
            <%= @user.address %>
          <% else %>
            Sin identificar
          <% end %>
        </strong>
        </div>
      </div>
    </div>

    <% if @user.is_student? and @user.representing_id_1 != nil and @user_representing %>
      <!-- Collapsable Card Example -->
      <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
        <a href="#collapseCardExample6" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample6">
          <h6 class="m-0 font-weight-bold text-dark">Representante</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample6">
          <div class="card-body">
          <strong>
            <%= @user_representing.name %> <%= @user_representing.lastname %>
          </strong>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
      <a href="#collapseCardExample7" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample7">
        <h6 class="m-0 font-weight-bold text-dark"><% if @user.roles.count > 1 %> Roles <% else%> Rol <% end %> </h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample7">
        <div class="card-body">
        <strong>
          <% Role.all.each do |rol| %>          
            <% @user.roles.each do |ur| %>
              <% if ur.id == rol.id %>
                <%= rol.name %>
                <br>
              <% end %>
            <% end %>
          <% end %>
        </strong>
        </div>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    <% if current_user.is_profesor? %>
      <div class="form-group">
        <div class="col-sm-12 mb-12 mb-sm-0">
          <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
          <label>Mensaje</label>
          <%= f.text_area :message, class:'form-control form-control-user', id:"message", placeholder:"Mensaje", autofocus: true, autocomplete: "Mensaje", cols: "15", rows:"5", required:'true'%>
        <hr>
      </div>
    <% end %>
    

    <div class="form-group row">

      <div class="col-lg-6 col-md-6 col-xs-12">
        <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
        <i>(Nueva Contraseña, deje en blanco este campo si no cambiará la contraseña)</i>
        <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, class:"form-control form-control-user", id:"exampleInputPassword", placeholder:"Password", autocomplete: "new-password" %>
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12">
        <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
        <i>(Confirmación de Nueva Contraseña, deje en blanco este campo si no cambiará la contraseña)</i>
        <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password_confirmation, class:"form-control form-control-user", id:"exampleInputConfirmationPassword", placeholder:"Confirmation Password", autocomplete: "new-password" %>
      </div>
    </div>

    

    <div class="form-group row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
        <i>(Por favor introduzca su contraseña actual)</i>
        <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :current_password, class:"form-control form-control-user", id:"exampleInputCurrentPassword", placeholder:"Current Password", autocomplete: "current-password" %>
      </div>
    </div>

    <div class="form-group">
      <hr>
      <div class="col-lg-12 col-md-12 col-xs-12">
        <% if current_user.is_profesor? %>
          <%= f.submit "Cambiar Mensaje o Contraseña", class:'d-sm-inline-block btn btn-sm btn-primary shadow-sm' %>
        <% else %>
          <%= f.submit "Cambiar Contraseña", class:'d-sm-inline-block btn btn-sm btn-primary shadow-sm' %>
        <%end%>
        <%= link_to 'Cancel', :back, :class => 'd-sm-inline-block btn btn-sm btn-light shadow-sm' %>
      </div>
    </div>
<% end %>

<!-- <h3>Cancel my account</h3> -->

<!-- <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->
<!-- <br>
<%= link_to "Back", :back %> -->

<script>
  $(".card-body").css('color','text-dark');
</script>