
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <!-- Form -->
              <%= form_for(resource, as: resource_name, :html => {class:"user"}, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
                    <%= f.text_field :name, class:'form-control form-control-user', id:"exampleFirstName", placeholder:"First Name", autofocus: true, autocomplete: "name"%>
                  </div>
                  <div class="col-sm-6">
                    <!-- <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name"> -->
                    <%= f.text_field :lastname, class:'form-control form-control-user', id:"exampleLastName", placeholder:"Last Name", autofocus: true, autocomplete: "lastname"%>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
                    <%= f.date_field :birthdate, class:'form-control form-control-user', id:"exampleBirthdate", placeholder:"Birthdate", autofocus: true, autocomplete: "birthdate"%>
                  </div>
                  <div class="col-sm-6">
                    <!-- <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name"> -->
                    <%= f.text_field :dni, class:'form-control form-control-user', id:"exampleDni", placeholder:"DNI", autofocus: true, autocomplete: "dni"%>
                  </div>
                </div>
                <div class="form-group">
                  <!-- <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address"> -->
                  <%= f.text_field :address, class:'form-control form-control-user', id:"exampleAddress", placeholder:"Address", autofocus: true, autocomplete: "address"%>
                </div>                
                <div class="form-group">
                  <!-- <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address"> -->
                  <%= f.email_field :email, class:'form-control form-control-user', id:"exampleInputEmail", placeholder:"Enter Email Address...", autofocus: true, autocomplete: "email"%>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <!-- <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password"> -->
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, class:"form-control form-control-user", id:"exampleInputPassword", placeholder:"Password", autocomplete: "new-password" %>
                  </div>
                  <div class="col-sm-6">
                    <!-- <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password"> -->
                    <br>
                    <%= f.password_field :password_confirmation, class:"form-control form-control-user", id:"exampleRepeatPassword", placeholder:"Password", autocomplete: "new-password" %>
                  </div>
                </div>
                <!-- <a href="login.html" class="btn btn-primary btn-user btn-block">
                  Register Account
                </a> -->
                <%= f.submit "Log in", class:"btn btn-primary btn-user btn-block" %>
                <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fa fa-google fa-fw"></i> Register with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fa fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
              <% end %>
              <!-- End Form -->
              <hr>
              <div class="text-center">
                <!-- <a class="small" href="forgot-password.html">Forgot Password?</a> -->
                <%- if controller_name != 'sessions' %>
                  <%= link_to "Forgot your password?", new_password_path(resource_name), :class=>"small" %>
                <% end %>
              </div>
              <div class="text-center">
                <!-- <a class="small" href="login.html">Already have an account? Login!</a> -->
                <%- if controller_name != 'sessions' %>
                  <%= link_to "Log in", new_session_path(resource_name), :class=>"small"%>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var body = document.body;
  body.classList.add("bg-gradient-primary");
  //alert("DOne");
  //document.getElementsByClassName('nav justify-content-end')[0].style.visibility = "hidden";
</script>