<% unless comment.body.blank? == true %>
  <div class="publicacion d-flex justify-content-end my-4 rounded-circle">
    <div class="card col-12 col-md-10 d-flex px-0 bg-ligh">
 
      <div class= 'row pb-3 px-3 pt-2'>
        <div class="col-7 foto d-flex align-items-center">
          <a>
            <div>
              <%=image_tag (comment.user.avatar)  %>          
            </div>
          </a>
          
          <div class = 'pt-2'>          
            <p class="nombre-alumno px-4 mb-0 font-weight-bold text-justify"><%= comment.user.name unless comment.user.blank? %> <%= comment.user.lastname unless comment.user.blank? %></p>
            <h6 class="text-muted fecha-alumno px-4 "><%= comment.created_at.strftime("%d %b %Y") unless comment.user.blank? %></h6>
          </div>
        </div>

        
        <% if current_user.id == comment.user_id  %>
          <div class= 'd-flex col-5 justify-content-end pt-2' style= 'height:40px;'>
            <a href="#" class="nav-link dropdown-toggle" id="menu-categorias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-trash-alt"></i>
            </a>

            <div class="dropdown-menu p-2">
              <div class= ''>   
                <%= link_to 'Eliminar comentario', [comment.forum, comment],
                method: :delete, class: 'alertas',
                data: { confirm: 'Está segur@ de que desea eliminar su comentario?' } %>
              </div>  
            </div>  
          </div>  
        <% end  %>
      </div>

      <div class="card-body px-5 pt-0 mb-0">
        <h5 class="text-justify"><%= simple_format(comment.body, class: 'color') %></h5>
      </div>
    </div>
  </div>
<%end%>