  <%= render 'admin/home/messages' if !flash.empty? %>
    
  <div class='d-flex justify-content-end mb-4'>
    <%= form_for([@forum, @forum.comments.build] , :html => {:class => 'rounded p-0 col-10 color-foro-estudiante'} ) do |f| %>
      <div class="alert alert-dark mb-4 ">
        <strong>Bienvenidos foros de aprendizaje</strong>    
      </div>
      
      <div class="color form-group d-flex justify-content-end">
        <div class="col-sm-12">
          <%= f.text_area :body, placeholder: 'Comentario...', class: 'color form-control',cols:"25", rows:"6" %>
        </div>
      </div>
    
      <div class="form-group d-flex justify-content-end pr-2 mb-0">
        <p>
          <%= f.submit 'Responder', class: 'btn btn-dark d-flex justify-content-end mb-0' %>
        </p>
      </div>
    <% end %>
  </div>