<% if resource.errors.any? %>
  

     
    <!-- Central Modal Medium Success -->
    <div class="modal fade" id="FlashMessageDeviseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <% resource.errors.full_messages.each do |message| %>
      <div class="modal-dialog modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <p class="heading lead"><%= I18n.t("errors.messages.not_saved", count: resource.errors.count,  resource: resource.class.model_name.human.downcase) %></p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>

          <!--Body-->
          <div class="modal-body">
            <div class="text-center">
              <p class="text-danger"><i class="fas fa-check fa-4x mb-3 animated rotateIn"></i></p>
              <p><%= message %></p>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <!-- <a type="button" class="btn btn-success">Get it now <i class="far fa-gem ml-1 text-white"></i></a> -->
            <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">Aceptar</a>
          </div>
          <% end %>
        </div>
        <!--/.Content-->
      </div>
    </div>


  <script>
    $(document).ready(function () {

      var message = '<% resource.errors.full_messages.each do |message| %> <%= message %> <%end%>';
      //console.log('Este es el alert '+message);
      if (message){
        $modal = $('#FlashMessageDeviseModal');
        $modal.modal('show');
        $modal.modal('hide');
      }
    });
  </script>

<% end %>


