<%= form_with(model: new, url: url, local: true) do |f| %>

  <%= render 'admin/home/messages' if !flash.empty? %>

	<div class="form-group row">
    <div class="col-sm-2 mb-2 mb-sm-0">
      <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
      <label>Fecha de Inicio</label>
      <%= f.date_field :date_init, class:'form-control form-control-user', id:"exampledate_init", placeholder:"Fecha Inicio", autofocus: true, autocomplete: "date_init"%>
    </div>
    <div class="col-sm-2">
      <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
      <label>Fecha de Fin</label>
      <%= f.date_field :date_end, class:'form-control form-control-user', id:"exampledate_end", placeholder:"Fecha Fin", autofocus: true, autocomplete: "date_end"%>
    </div>
  </div>
	
	<div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
      <label>Titulo del Anuncio</label>
      <%= f.text_field :name, class:'form-control form-control-user', id:"exampleName", placeholder:"Name", autofocus: true, autocomplete: "name"%>
    </div>
  </div>

	<div class="form-group">
    <!-- <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name"> -->
    	<label>Descripcion</label>
      <%= f.text_area :description, class:'form-control form-control-user', id:"exampledescription", placeholder:"Descripcion", autofocus: true, autocomplete: "description", cols: "15", rows:"4" %>
  </div>

  <hr>
  
  <div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
    
      <% if @new.id %>
        <% if can? :update, New %>
            <%= f.submit "Editar", class:'btn btn-primary btn-sm' %>
        <% end %>
      <% else %>
        <% if can? :create, New %>
          <%= f.submit "Crear", class:'btn btn-primary btn-sm shadow-sm' %>
        <% end %>
      <% end %>

      <% if can? :read, New %>
          <%= link_to 'Cancel', url_for(:back), :class => 'btn btn-sm btn-light shadow-sm' %>
      <% end %>
      
      <br>
    </div>
  </div>

<% end %>