
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Anuncios</h1>
    <% if can? :create, New %>
      <a href="<%= new_admin_news_path  %>" class="btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Anuncio</a>
    <%end%>
    <!-- <a href="<%= new_admin_news_path  %>"><button class="btn btn-primary btn-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Anuncio</button></a> -->
  </div>

  <%= render 'admin/home/messages' if !flash.empty? %>

 

  
  <!-- DataTales Example -->
  <div class="col-lg-12 col-md-12 col-xs-12">
    <!-- <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div> -->
    <table class="table table-striped table-responsive-md btn-table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th><center>Titulo</center></th>
          <th width="180"><center>Fecha de Inicio</center></th>
          <th width="180"><center>Fecha de Fin</center></th>
          <th width="225"><center>Acciones</center></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><center>Titulo</center></th>
          <th width="180"><center>Fecha de Inicio</center></th>
          <th width="180"><center>Fecha de Fin</center></th>
          <th width="225"><center>Acciones</center></th>
        </tr>
      </tfoot>
      <tbody>
        <% @news.each do |new| %>
          <tr>
            <td><center><%= new.name %></center></td>
            <td><center><%= new.date_init %></center></td>
            <td><center><%= new.date_end %></center></td>
            <td>
              <center>
                <% if can? :read, New %>
                  <a href="#"><button class="btn-floating btn-sm btn-outline-info shadow-sm" onclick="set_detail_new('<%= new.id%>', '<%= new.name %>', '<%= new.description %>','<%= new.date_init %>', '<%= new.date_end %>', '<%= new.user.email %>', '<%= edit_admin_news_path(new) %>')" data-toggle="tooltip" data-placement="botton" title="Detalle <%= new.name %>"><i class="fas fa-fw fa-eye"></i></button></a>
                <% end %>
                <% if can? :update, New %>
                  <a href="<%=edit_admin_news_path(new)%>"><button class="btn-floating btn-sm btn-outline-primary shadow-sm" data-toggle="tooltip" data-placement="botton" title="Editar <%= new.name %>"><i class="fas fa-fw fa-edit"></i></button></a>
                <% end %>
                <% if can? :destroy, New %>
                  <button class="btn-floating btn-sm btn-outline-danger shadow-sm" href="#"  data-placement="botton" title="Eliminar <%= new.name %>" onclick="check_and_display_delete_modal('<%= new.id %>', 'Esta seguro de Eliminar el Anuncio <%= new.name %>', 'Eliminar Anuncio?')"><i class="fas fa-fw fa-trash"></i></button>
                <%end%>
              </center>
            </td>
          </tr>
        <% end %>            
      </tbody>
    </table>
  </div>


  <!-- Logout Modal-->
  <div class="modal fade" id="DeleteNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Anuncio?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          

          </div>
        <div class="modal-footer" id="myModalFooter">
          <button class="btn btn-light btn-sm shadow-sm" type="button" data-dismiss="modal">Cancel</button>
          <!-- <a class="btn btn-primary" href="login.html">Logout</a> -->
          <!-- <a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" rel="nofollow" data-method="delete" href="/admin/sections/26">Eliminar</a> -->

          </div>
      </div>
    </div>
  </div>




<script type="text/javascript">
  
  $(document).ready(function () {
    $('#dataTable').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });

  /*$('.btn-floating.btn-sm.btn-outline-danger.shadow-sm').click(function() {
    var d = $(this).data('datac');      
    //alert(d); 
    button = '<a class="btn btn-danger btn-sm shadow-sm" rel="nofollow" data-method="delete" href="'+d.split(",")[0]+'">Eliminar</a>';
    msg = 'Esta seguro de Eliminar la Pensamiento '+d.split(",")[1];
    $modal = $('#DeleteNew');
    $modal.find('.modal-title').text('' + 'Eliminar Anuncio?');
    $modal.find('.modal-body').text(''+ msg);

    //$(".d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm").remove(); //Con esta linea elimino en el modal un button parecido al que realizara la accion de eliminar.
    
    $( "#myModalFooter" ).append(button);
    $modal.modal('show');
  });*/

  <% len = @news.length %>
  var event = {
    <% @news.each_with_index do |new, index| %>
      
      <% if index+1 != len %>
        '<%= new.id %>' : '<%=link_to('Eliminar Anuncio', admin_news_path(new), class:'btn btn-danger btn-sm shadow-sm modal_delete', method: :delete) %>',
      <% elsif index+1 == len %>
        '<%= new.id %>' : '<%= link_to('Eliminar Anuncio', admin_news_path(new), class:'btn btn-danger btn-sm shadow-sm modal_delete', method: :delete) %>'
      <%  end %>
    <% end %>
  };

  

  function check_and_display_delete_modal(id, menssage, modal_title){

    $('.modal_delete').remove();
    
    button = event[id];

    console.log(button);

    $modal = $('#DeleteNew');
    $modal.find('.modal-title').text('' + modal_title);
    $modal.find('.modal-body').text(''+ menssage);

    //$(".d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm").remove(); //Con esta linea elimino en el modal un button parecido al que realizara la accion de eliminar.
    
    $( "#myModalFooter" ).append(button);
    $modal.modal('show');
  }

  function set_detail_new(id, name, description, date_init, date_end, user_email, link_to_edit)
    {
      $('.modal_detail').remove();
      $('#ShowDetailModal').remove();

      id = id ? id : 'Sin identificar';
      name = name ? name : 'Sin identificar';
      description = description ? description : 'Sin identificar';
      date_init = date_init ? date_init : 'Sin identificar';
      date_end = date_end ? date_end : 'Sin identificar';
      user_email = user_email ? user_email : 'Sin identificar';
      link_to_edit = link_to_edit ? link_to_edit : '#';

      var modal = 
        '<!-- Logout Modal-->'+
        '<div class="modal fade modal_detail" id="ShowDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">'+
          '<div class="modal-dialog modal-lg" role="document">'+
              '<div class="modal-content">'+
                '<div class="modal-header">'+
                    '<h5 class="modal-title">Detalle Usuario: '+id+' - '+name+'</h5>'+
                    '<button class="close" type="button" data-dismiss="modal" aria-label="Close">'+
                    '<span aria-hidden="true">×</span>'+
                  '</button>'+
                '</div>'+
                
                '<div class="modal-body">'+
                  
                  '<div class="row">'+
                    '<div class="col-lg-12">'+
                    
                      '<!-- Collapsable Card Example -->'+
                      '<div class="card shadow mb-4">'+
                      '<!-- Card Header - Accordion -->'+
                        '<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">'+
                          '<h6 class="m-0 font-weight-bold text-dark">Título</h6>'+
                        '</a>'+
                        '<!-- Card Content - Collapse -->'+
                        '<div class="collapse show" id="collapseCardExample1">'+
                          '<div class="card-body">'+
                          '<strong>'+name+'</strong>'+
                          '</div>'+
                        '</div>'+
                      '</div>'+

                      '<!-- Collapsable Card Example -->'+
                      '<div class="card shadow mb-4">'+
                      '<!-- Card Header - Accordion -->'+
                        '<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">'+
                          '<h6 class="m-0 font-weight-bold text-dark">Descripción</h6>'+
                        '</a>'+
                        '<!-- Card Content - Collapse -->'+
                        '<div class="collapse show" id="collapseCardExample2">'+
                          '<div class="card-body">'+
                          '<strong>'+description+'</strong>'+
                          '</div>'+
                        '</div>'+
                      '</div>'+

                      '<!-- Collapsable Card Example -->'+
                      '<div class="card shadow mb-4">'+
                      '<!-- Card Header - Accordion -->'+
                        '<a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample3">'+
                          '<h6 class="m-0 font-weight-bold text-dark">Fecha de Inicio</h6>'+
                        '</a>'+
                        '<!-- Card Content - Collapse -->'+
                        '<div class="collapse show" id="collapseCardExample3">'+
                          '<div class="card-body">'+
                          '<strong>'+date_init+'</strong>'+
                          '</div>'+
                        '</div>'+
                      '</div>'+

                      '<!-- Collapsable Card Example -->'+
                      '<div class="card shadow mb-4">'+
                      '<!-- Card Header - Accordion -->'+
                        '<a href="#collapseCardExample7" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample7">'+
                          '<h6 class="m-0 font-weight-bold text-dark">Fecha de Finalización</h6>'+
                        '</a>'+
                        '<!-- Card Content - Collapse -->'+
                        '<div class="collapse show" id="collapseCardExample7">'+
                          '<div class="card-body">'+
                          '<strong>'+date_end+'</strong>'+
                          '</div>'+
                        '</div>'+
                      '</div>'+

                      '<!-- Collapsable Card Example -->'+
                      '<div class="card shadow mb-4">'+
                      '<!-- Card Header - Accordion -->'+
                        '<a href="#collapseCardExample4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">'+
                          '<h6 class="m-0 font-weight-bold text-dark">Usuario creador (Email)</h6>'+
                        '</a>'+
                        '<!-- Card Content - Collapse -->'+
                        '<div class="collapse show" id="collapseCardExample4">'+
                          '<div class="card-body">'+
                          '<strong>'+user_email+'</strong> '+
                          '</div> '+
                        '</div> '+
                      '</div> '+

                    '</div>'+
                  '</div>'+

                '</div>'+

                '<div class="modal-footer">'+
                  '<a href="'+link_to_edit+'" > <button class="btn btn-primary btn-sm shadow-sm" type="button">Editar</button></a>'+
                  '<button class="btn btn-success btn-sm shadow-sm" type="button" data-dismiss="modal">Aceptar</button>'+
                '</div>'+
            '</div>'+
          '</div>'+
      '</div>';

    console.log(modal);

      $('body').append(modal);
      $modal = $('#ShowDetailModal');
      $modal.modal('show');

    }

</script>

