
	
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Anuncio: <%= @new.name %></h1>
	</div>

	<div class="row">
		<div class="col-lg-12">

			<!-- Collapsable Card Example -->
			<div class="card shadow mb-4">
			<!-- Card Header - Accordion -->
				<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
					<h6 class="m-0 font-weight-bold text-dark">Descripcion</h6>
				</a>
				<!-- Card Content - Collapse -->
				<div class="collapse show" id="collapseCardExample1">
					<div class="card-body">
					<strong><%= @new.description%>.</strong>
					</div>
				</div>
			</div>

			<!-- Collapsable Card Example -->
			<div class="card shadow mb-4">
			<!-- Card Header - Accordion -->
				<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
					<h6 class="m-0 font-weight-bold text-dark">Fecha de Inicio</h6>
				</a>
				<!-- Card Content - Collapse -->
				<div class="collapse show" id="collapseCardExample2">
					<div class="card-body">
					<strong><%= @new.date_init%>.</strong>
					</div>
				</div>
			</div>

			<!-- Collapsable Card Example -->
			<div class="card shadow mb-4">
			<!-- Card Header - Accordion -->
				<a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample3">
					<h6 class="m-0 font-weight-bold text-dark">Fecha de Fin</h6>
				</a>
				<!-- Card Content - Collapse -->
				<div class="collapse show" id="collapseCardExample3">
					<div class="card-body">
					<strong><%= @new.date_end%>.</strong>
					</div>
				</div>
			</div>

			<!-- Collapsable Card Example -->
			<div class="card shadow mb-4">
			<!-- Card Header - Accordion -->
				<a href="#collapseCardExample4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">
					<h6 class="m-0 font-weight-bold text-dark">Usuario</h6>
				</a>
				<!-- Card Content - Collapse -->
				<div class="collapse show" id="collapseCardExample4">
					<div class="card-body">
					<strong><%= @user_email%>.</strong>
					</div>
				</div>
			</div>

			<div class="form-group">
				<hr>
			    <div class="col-sm-4 mb-4 mb-sm-0">
					<% if can? :update, New %>
		        		<%= link_to "Editar", edit_admin_news_path(@new), :class => 'btn btn-primary btn-sm shadow-sm' %>
					<%end%>
					
					<% if can? :read, New %>
		    			<%= link_to 'Atras', url_for(:back), :class => 'btn btn-sm btn-light shadow-sm' %>
					<%end%>
				</div>
			</div>
		
		</div>
	</div>
