<h2><%= link_to qualification.title, qualification_path(qualification) %></h2>
 
<p><%= truncate(qualification.description, length: 150) %></p>
 
<p><%= link_to 'Edit', edit_qualification_path(qualification) %></p>
<hr>