<div class="row">
  <div class="col-8 carta-estudiante1 text-white bg-light card mb-5">
    <div class="card-body">
      <h1 class="card-title text-center">Archivos y calificaciones</h1>
      <h6 class="etiqueta">Área de estudiantes y profesores</h6>
    </div>
  </div>

  <% if can? :create, Forum %>
    <div class="col-4 valoracion d-flex justify-content-end align-items-center">
      <div class="button_cont" align="center">
        <a class="example_c" href="<%= new_ad_path %>" rel="nofollow noopener">Subir archivos</a>
      </div>
    </div>
  <% end %>
</div>


<div class="fixed-table-header" style="margin-right: 0px;">
  <table class="table table-bordered table-hover table-responsive-md btn-table table-bordered table-striped" id="dataTable" style="width: 927px;">

    <thead class="thead bg-secondary text-white">
    <tr>

      <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
        <div class="th-inner sortable both">Fecha de creación</div><div class="fht-cell" style="width: 176px;">
        </div>
      </th>
      
      <th style="text-align: center; " colspan="2">
        <div class="th-inner ">Lista de archivos</div>
        
        <div class="fht-cell"></div>
      </th>
      
    </tr>

    <tr>
      <th style="text-align: center; " data-field="name" data-not-first-th="">
        <div class="th-inner sortable both">Nombre del archivo</div>
        <div class="fht-cell" style="width: 226px;"></div>
      </th>
      
      <th style="text-align: center; " data-field="operate">
        <div class="th-inner ">Acción a tomar</div>
        <div class="fht-cell" style="width: 225px;"></div>
      </th>
    </tr>
    </thead>

    <% @qualifications.reverse_each do |qualification| %>
  <tr>
    <td><%= qualification.created_at.strftime("%d de %b, %y") %></td>
    <td><%= truncate(qualification.title, :length => 30) %></td>
    

    <td>

      <center>
        <% if can? :create, Forum %>
          <a class="btn-floating btn-sm btn-outline-primary shadow-sm" href="<%= qualification_path(qualification) %>" data-placement="botton" title="Visualizar contenido"><i class="fas fa-file-download"></i></a>
          <a class="btn-floating btn-sm btn-outline-danger shadow-sm" href="<%= qualification_path(qualification) %>" data-method="delete" data-placement="botton" title="Eliminar contenido" data-confirm= 'Está segur@ de que desea eliminar su contenido titulado como: "<%= qualification.title%>"?.' ><i class="fas fa-fw fa-trash"></i></a>
        <% else %>
          <a class="btn-floating btn-sm btn-outline-info shadow-sm" href="<%= qualification_path(qualification) %>" data-placement="botton" title="Visualizar contenido"><i class="fas fa-fw fa-eye"></i></a>
          <a class="btn-floating btn-sm btn-outline-success shadow-sm" href="<%= root_path %>" data-placement="botton" title="Regresar a la página principal"><i class="fas fa-undo-alt"></i></a>
        <% end %>


      </center>
    </td>

  </tr>
    <% end %>
  </table>
</div>



 
<%= link_to 'Add post', new_qualification_path %>
 
<%= render @qualifications %>