<%= link_to 'All Qualifications', qualifications_path %>
<h1><%= @qualification.title %></h1>
 
<%= image_tag(@qualification.image.url, alt: 'Image') if @qualification.image? %>
 
<p><%= @qualification.description %></p>
 
<p><%= link_to 'Edit', edit_qualification_path(@qualification) %></p>