
<%= form_with(model: section, url: url, local: true) do |f| %>
  	
  	<%= render 'admin/home/messages' if !flash.empty? %>

  	<div class="form-inputs">
  		<label>Nombre de la Sección</label>
  		<%= f.text_field :description, class:'form-control form-control-user', required:'true' %>	
	</div>

  	<br>

	<div class="row">
	    <div class="col-lg-6 col-md-6 col-xs-12">
	      <!-- <div class="card shadow mb-4"> -->
	        <div class="card-header py-3">
	          <h6 class="m-0 font-weight-bold text-dark">Estudiantes</h6>
	        </div>
	        <!-- <div class="card-body"> -->
	            <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
	              <thead>
	                <tr>
	                  <!-- <th>Correo</th> -->
	                  <th>Nombre</th>
	                  <th>ID</th>
	                  <th>Accion</th>
	                </tr>
	              </thead>
	              <tfoot>
	                <tr>
	                  <!-- <th>Correo</th> -->
	                  <th>Nombre</th>
	                  <th>ID</th>
	                  <th>Accion</th>
	                </tr>
	              </tfoot>
	              <tbody>

	              </tbody>
	            </table>
	        <!-- </div> -->
	      <!-- </div> -->
	    </div>

	    <div class="col-lg-6 col-md-6 col-xs-12">
	      <!-- <div class="card shadow mb-4"> -->
	        <div class="card-header py-3">
	          <h6 class="m-0 font-weight-bold text-dark">Seccion</h6>
	        </div>
	        <!-- <div class="card-body"> -->
	            <table class="table table-striped table-bordered" id="dataTable2" width="100%" cellspacing="0">
	              <thead>
	                <tr>
	                  <!-- <th>Correo</th> -->
	                  <th>Nombre</th>
	                  <th>ID</th>
	                  <th>Accion</th>
	                </tr>
	              </thead>
	              <tfoot>
	                <tr>
	                  <!-- <th>Correo</th> -->
	                  <th>Nombre</th>
	                  <th>ID</th>
	                  <th>Accion</th>
	                </tr>
	              </tfoot>
	              <tbody>

	              </tbody>
	            </table>
	          <!-- </div> -->
	      <!-- </div> -->
	    </div>
  	</div>

  	<hr>

	<div class="row">
	    <div class="col-lg-12 col-md-12 col-xs-12">
	      <!-- <div class="card shadow mb-4"> -->
	        <div class="card-header py-3">
	          <h6 class="m-0 font-weight-bold text-dark">Materias</h6>
	        </div>
	        <!-- <div class="card-body"> -->
	            <table class="table table-striped table-bordered" id="dataTable3" width="100%" cellspacing="0">
	              <thead>
	                <tr>
	                  <!-- <th>Correo</th> -->
	                  <th>Materia</th>
	                  <th>Profesor</th>
	                  <th>Accion</th>
	                </tr>
	              </thead>
	              <tfoot>
	                <tr>
	                  <!-- <th>Correo</th> -->
	                  <th>Materia</th>
	                  <th>Profesor</th>
	                  <th>Accion</th>
	                </tr>
	              </tfoot>
	              <tbody>

	              </tbody>
	            </table>
	        <!-- </div> -->
	      <!-- </div> -->
	    </div>

	    <div class="col-lg-12 col-md-12 col-xs-12">
	      <!-- <div class="card shadow mb-4"> -->
	        <div class="card-header py-3">
	          <h6 class="m-0 font-weight-bold text-dark">Seccion</h6>
	        </div>
	        <!-- <div class="card-body"> -->
	            <table class="table table-striped table-bordered" id="dataTable4" width="100%" cellspacing="0">
	              <thead>
	                <tr>
	                  <!-- <th>Correo</th> -->
	                  <th>Materia</th>
	                  <th>Profesor</th>
	                  <th width="150">Dia</th>
	                  <th>Hora Inicio</th>
	                  <th>Hora Fin</th>
	                  <th>Accion</th>
	                </tr>
	              </thead>
	              <tfoot>
	                <tr>
	                  <!-- <th>Correo</th> -->
	                  <th>Materia</th>
	                  <th>Profesor</th>
	                  <th width="150">Dia</th>
	                  <th>Hora Inicio</th>
	                  <th>Hora Fin</th>
	                  <th>Accion</th>
	                </tr>
	              </tfoot>
	              <tbody>

	              </tbody>
	            </table>
	          <!-- </div> -->
	      </div>
	    <!-- </div> -->
	</div>

  	<hr>
	
    <div class="form-group row">
	  	<div class="col-sm-6 mb-3 mb-sm-0">
	    
		    <% if @section.id %>
		      <% if can? :update, Section %>
		          <%= f.submit "Editar", class:'btn btn-primary btn-sm' %>
		      <% end %>

		      <% if can? :read, Section %>
		        <%= link_to "Ver" , admin_section_path(@section), :class => 'btn btn-sm btn-warning shadow-sm' %>
		      <% end %>
		    <% else %>
		      <% if can? :create, Section %>
		        <%= f.submit "Crear", class:'btn btn-primary btn-sm shadow-sm' %>
		      <% end %>
		    <% end %>
		    <% if can? :read, Section %>
		        <%= link_to 'Cancel', url_for(:back), :class => 'btn btn-sm btn-light shadow-sm' %>
		    <% end %>
		    
		    <br>
	  	</div>
    </div>




<% end %>

<!-- Modal-->
<div class="modal fade" id="ModalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <center>
          <button class="d-none d-sm-inline-block btn btn-sm btn-light shadow-sm" type="button" data-dismiss="modal">Cancel</button>
        </center>
      </div>
    </div>
  </div>
</div>