<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-2 text-gray-800">Editar Seccion</h1>
</div>	

<%= render 'form', section: @section, url: admin_section_path(@section) %>

<script type="text/javascript">

	var idUsers = [];
	var unique = 0;

	$('.dataTables_length').addClass('bs-select');
  	$arrayHorario = [];

  	function return_unique_number(unique){ //funcion que retorna un valor unico siempre
		unique = unique + 1;  //Para la proxima tambien sirve el siguiente link https://api.jqueryui.com/uniqueId/
	  return unique;
	}

	function return_select_day(valor){
		var select = '<select required="true" id="selector" class="hellow4 browser-default custom-select"> <option>Seleccione Dia</option> <option value="Lunes">Lunes</option> <option value="Martes">Martes</option> <option value="Miercoles">Miercoles</option> <option value="Jueves">Jueves</option> <option value="Viernes">Viernes</option> <option value="Sabado">Sabado</option> <option value="Domingo">Domingo</option> </select>';
		var position = select.search(valor);
		select = [select.slice(0, (position-7)), 'selected="selected" ', select.slice(position-7)].join('');
		return select;
	}

	function return_select_time(valor, time){

		var select = '';

		if (time == 'init'){
			select = '<select required="true" class="hellow3 browser-default custom-select"> <option>Seleccione Hora Inicio</option> <option value="6">6am</option> <option value="7">7am</option> <option value="8">8am</option> <option value="9">9am</option> <option value="10">10am</option> <option value="11">11am</option> <option value="12">12m</option> <option value="13">1pm</option> <option value="14">2pm</option> <option value="15">3pm</option> <option value="16">4pm</option> <option value="17">5pm</option> <option value="18">6pm</option> <option value="19">7pm</option> </select>';
		} else if (time == 'end'){
			select = '<select required="true" class="hellow2 browser-default custom-select"> <option>Seleccione Hora Fin</option> <option value="6">6am</option> <option value="7">7am</option> <option value="8">8am</option> <option value="9">9am</option> <option value="10">10am</option> <option value="11">11am</option> <option value="12">12m</option> <option value="13">1pm</option> <option value="14">2pm</option> <option value="15">3pm</option> <option value="16">4pm</option> <option value="17">5pm</option> <option value="18">6pm</option> <option value="19">7pm</option> </select>';
		}

		var position = select.search(valor);
		//console.log(position);
		select = [select.slice(0, (position-7)), 'selected="selected" ', select.slice(position-7)].join('');
		//console.log(select);
		return select;	
	}

	//Funcion para agregar usuarios Estudiantes a las dataTables
	function addUser(id, name, lastname, dni, iddataTable)
	{
    lastname = (lastname)?lastname:'';

    if (iddataTable == 1)
    {
    	var dataTable = $('#dataTable2').dataTable();
    	dni = !(dni)?'No id':dni;
    	dataTable.fnAddData([
      	(name)+' '+(lastname),
      	dni+""+'<input type="hidden" readonly="readonly" value="'+id+'" id="inputValue'+id+'">',
      	""+'<button class="btn-floating btn-sm btn-outline-danger" id="accionValuedt2'+id+'" data-toggle="tooltip" data-placement="botton" title="Remover Estudiante">-</button>'
    	]);
    } else {
    	var dataTable = $('#dataTable').dataTable();
    	dni = !(dni)?'No id':dni;
    	dataTable.fnAddData([
    		(name)+' '+(lastname),
      	dni+""+'<input type="hidden" readonly="readonly" value="'+id+'" id="inputValue'+id+'">',
      	""+'<button class="btn-floating btn-sm btn-outline-success" id="accionValuedt2'+id+'" data-toggle="tooltip" data-placement="botton" title="Agregar a Seccion">+'
    	]);
    }
	}
	
	//Funcion que coloca a los usuarios Estudiantes de la seccion en la Tabla de id dataTable2
	<% @users_section.each do |us| %>
	    var dataTable = $('#dataTable2').dataTable();
	    dataTable.fnAddData([
    		('<%= us.name %>')+' '+('<%= us.lastname %>'),
        '<%= us.dni %>'+""+'<input type="hidden" readonly="readonly" value="<%= us.id %>" id="inputValue<%= us.id %>">',
        ""+'<button class="btn-floating btn-sm btn-outline-danger" id="accionValuedt2<%= us.id %>'+'"  data-toggle="tooltip" data-placement="botton" title="Remover Estudiante">-</button>'
			]);   
  	<% end %>

	//Funcion para agregar a los estudiantes que no tienen seccion asignada a la tabla de id dataTable
	<% @users.each do |user| %>
	    var dataTable = $('#dataTable').dataTable();
	    dataTable.fnAddData([
			('<%= user.name %>')+' '+('<%= user.lastname %>'),
	      	'<%= user.dni %>'+""+'<input type="hidden" readonly="readonly" value="<%= user.id %>" id="inputValue<%= user.id %>">',
	      	""+'<button class="btn-floating btn-sm btn-outline-success" id="accionValuedt1<%= user.id %>" data-toggle="tooltip" data-placement="botton" title="Agregar a Seccion">+'
			]);
	<% end %>

  	//Funcion para agregar a los profesores y materias de la seccion
  	<% @sps.each do |sps| %>
		
		unique = return_unique_number(unique);
		valor = '<%= sps.profesor_subject_id %>'+','+'<%= sps.day%>'+','+'<%= sps.time_init == 6.0 ? '6' : sps.time_init == 7.0 ? '7' : sps.time_init == 8.0 ? '8' : sps.time_init == 9.0 ? '9' : sps.time_init == 10.0 ? '10' : sps.time_init == 11.0 ? '11' : sps.time_init == 12.0 ? '12' : sps.time_init == 13.0 ? '13' : sps.time_init == 14.0 ? '14' : sps.time_init == 15.0 ? '15' : sps.time_init == 16.0 ? '16' : sps.time_init == 17.0 ? '17' : sps.time_init == 18.0 ? '18' : 'Seleccione Hora Inicio'%>'+','+'<%= sps.time_end == 6.0 ? '6' : sps.time_end == 7.0 ? '7' : sps.time_end == 8.0 ? '8' : sps.time_end == 9.0 ? '9' : sps.time_end == 10.0 ? '10' : sps.time_end == 11.0 ? '11' : sps.time_end == 12.0 ? '12' : sps.time_end == 13.0 ? '13' : sps.time_end == 14.0 ? '14' : sps.time_end == 15.0 ? '15' : sps.time_end == 16.0 ? '16' : sps.time_end == 17.0 ? '17' : sps.time_end == 18.0 ? '18' : 'Seleccione Hora Fin'%>';

		if ($arrayHorario.length == 0){
			$arrayHorario.push(valor+','+'<%=sps.profesor_subject_id%>'+unique);
			$('<input class="dt4input<%=sps.profesor_subject_id%>'+unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
		} else{
			$arrayHorario.push(valor+','+'<%=sps.profesor_subject_id%>'+unique);
			$('<input class="dt4input<%=sps.profesor_subject_id%>'+unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
		}
	    var dataTable = $('#dataTable4').dataTable();
		dataTable.fnAddData([
      		'<%= sps.sbname %>',
      		('<%= sps.name %>')+' '+('<%= sps.lastname %>')+'<input class="input_id_ps" type="hidden" readonly="readonly" value="<%=sps.profesor_subject_id%>">'+'<input class="input_id_unique_dt4" type="hidden" readonly="readonly" value="<%=sps.profesor_subject_id%>'+unique+'">',
		      //+""+'<input class="input_id_ps" type="hidden" readonly="readonly" value="'+id_ps+'">'+'<input class="input_id_unique_dt4" type="hidden" readonly="readonly" value="'+id_ps+''+unique+'">',
		      return_select_day('<%= sps.day%>'),
		      return_select_time('<%= sps.time_init == 6.0 ? '6' : sps.time_init == 7.0 ? '7' : sps.time_init == 8.0 ? '8' : sps.time_init == 9.0 ? '9' : sps.time_init == 10.0 ? '10' : sps.time_init == 11.0 ? '11' : sps.time_init == 12.0 ? '12' : sps.time_init == 13.0 ? '13' : sps.time_init == 14.0 ? '14' : sps.time_init == 15.0 ? '15' : sps.time_init == 16.0 ? '16' : sps.time_init == 17.0 ? '17' : sps.time_init == 18.0 ? '18' : 'Seleccione Hora Inicio'%>','init'),
		      return_select_time('<%= sps.time_end == 6.0 ? '6' : sps.time_end == 7.0 ? '7' : sps.time_end == 8.0 ? '8' : sps.time_end == 9.0 ? '9' : sps.time_end == 10.0 ? '10' : sps.time_end == 11.0 ? '11' : sps.time_end == 12.0 ? '12' : sps.time_end == 13.0 ? '13' : sps.time_end == 14.0 ? '14' : sps.time_end == 15.0 ? '15' : sps.time_end == 16.0 ? '16' : sps.time_end == 17.0 ? '17' : sps.time_end == 18.0 ? '18' : 'Seleccione Hora Fin'%>','end'),
		      ""+'<button type="button" class="btn-floating btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="botton" title="Remover Materia">-</button>'
	  	]);
	<% end %>

    //Funcion get agrega a la seccion los estudiantes en input de tipo hidden que seran agregados manejados en el controlador
    function getTableData(){
	    data = [];
	    $( ".hello" ).remove();
	    $("#dataTable2 td:nth-child(2)").each(function (index) {
		    var row = 'Row no. ' + (index+1) + ', Column 2 : ' + $(this).html();
		    var id = (row.split('value="')[1]).split('"')[0];
		    data.push(id);
		    //alert(id);
		    $('<input>').attr({class:"hello", id: id, type:"hidden", name: "section[user_ids][]",  value: id}).appendTo("form");  
	    });
	    return data;
	}

	//Funcion para mandar errores en una ventana Modal
	function sendErrorMessage(msgTitle, msgBody)
	{
		$modal = $('#ModalMessage');
		$modal.find('.modal-title').text('' + msgTitle);
		$modal.find('.modal-body').text(''+msgBody);
		$modal.modal('show');
	}

	function EvaluaCoicidenciaTabla(valor)
	{

    valor_ps = valor.split(",")[0];
    valor_day = valor.split(",")[1];
    valor_time_init = parseFloat(valor.split(",")[2]).toFixed(2);
    valor_time_end = parseFloat(valor.split(",")[3]).toFixed(2);

    result_array = 0;

    for (i = 0; i < $arrayHorario.length; i++){

      id_ps_array = ($arrayHorario[i]).split(",")[0];
      day_array = ($arrayHorario[i]).split(",")[1];
      time_init_array = parseFloat(($arrayHorario[i]).split(",")[2]).toFixed(2);
      time_end_array = parseFloat(($arrayHorario[i]).split(",")[3]).toFixed(2);   

      //console.log("ps array: "+id_ps_array+" day array: "+day_array+" time init array "+time_init_array+" time end array "+time_end_array);

    	if (valor_day == day_array){
    
	        console.log("Entre en el dia EvaluaCoicidenciaTabla: "+valor_day);

	        if ((valor_time_init > time_init_array) && (valor_time_init < time_end_array)){
	          
	          console.log("Entre en time init EvaluaCoicidenciaTabla: "+valor_time_init);
	          result_array = 1;
	          return result_array;

	        } else if((valor_time_end > time_init_array) && (valor_time_end < time_end_array)){
	          
	          console.log("este en el time end EvaluaCoicidenciaTabla: "+valor_time_end);
	          result_array = 2;
	          return result_array;

	        } else if (valor_time_init == time_init_array){
	          
	          console.log("mismo time init EvaluaCoicidenciaTabla: "+valor_time_init);
	          result_array = 3;
	          return result_array;

	        } else if (valor_time_end == time_end_array){
	          
	          console.log("mismo time end EvaluaCoicidenciaTabla: "+valor_time_end);
	          result_array = 4;  
	          return result_array;                  
	        } else if ( (time_init_array > valor_time_init) && (time_init_array < valor_time_end) ){
	          result_array = 5;  
	          return result_array;
	        } else if ( (time_end_array > valor_time_init) && (time_end_array < valor_time_end) ){
	          result_array = 6;  
	          return result_array;
	        }
      	}
    }
    	console.log("Result Array EvaluaCoicidenciaTabla: "+result_array);
	}



	function addPS(materia, profesor, id_ps, iddataTable)
	{
		if(iddataTable == 3){
			var dataTable = $('#dataTable4').dataTable();
		  	unique = return_unique_number(unique);
		  	// $('.dataTables_length').addClass('bs-select');
		  	//console.log(unique);
		  	dataTable.fnAddData([
		    	(materia),
		    	profesor+""+'<input class="input_id_ps" type="hidden" readonly="readonly" value="'+id_ps+'">'+'<input class="input_id_unique_dt4" type="hidden" readonly="readonly" value="'+id_ps+''+unique+'">',
		    	'<select required="true" class="hellow4 browser-default custom-select"> <option selected="selected">Seleccione Dia</option> <option value="Lunes">Lunes</option> <option value="Martes">Martes</option> <option value="Miercoles">Miercoles</option> <option value="Jueves">Jueves</option> <option value="Viernes">Viernes</option> <option value="Sabado">Sabado</option> <option value="Domingo">Domingo</option> </select>',
		    	'<select required="true" class="hellow3 browser-default custom-select"> <option selected="selected">Seleccione Hora Inicio</option> <option value="6">6am</option> <option value="7">7am</option> <option value="8">8am</option> <option value="9">9am</option> <option value="10">10am</option> <option value="11">11am</option> <option value="12">12m</option> <option value="13">1pm</option> <option value="14">2pm</option> <option value="15">3pm</option> <option value="16">4pm</option> <option value="17">5pm</option> <option value="18">6pm</option> <option value="19">7pm</option> </select>',
		    	'<select required="true" class="hellow2 browser-default custom-select"> <option selected="selected">Seleccione Hora Fin</option> <option value="6">6am</option> <option value="7">7am</option> <option value="8">8am</option> <option value="9">9am</option> <option value="10">10am</option> <option value="11">11am</option> <option value="12">12m</option> <option value="13">1pm</option> <option value="14">2pm</option> <option value="15">3pm</option> <option value="16">4pm</option> <option value="17">5pm</option> <option value="18">6pm</option> <option value="19">7pm</option> </select>',
		    	""+'<button type="button" class="btn-floating btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="botton" title="Remover Materia">-</button>'
		  	]);
		}
	}


  $(document).ready(function(){

  	$('#dataTable').DataTable();
    $('#dataTable2').DataTable();
    $('#dataTable3').DataTable();
    $('#dataTable4').DataTable();
    $('.dataTables_length').addClass('bs-select');

  	//DataTable2 para agregar estudiantes a DataTable, es decir quitarlos de la seccion
    $('#dataTable2').on( 'click', 'button', function () {
    	var table = $('#dataTable2').DataTable();
      var id, name, lastname, dni;
			for (i = 0; i < ((table.row( $(this).parents('tr') ).data()).length - 1); i++)
			{
				if (i == 0){
				  name = table.row( $(this).parents('tr') ).data()[i];
				  lastname = '';
				} else if(i == 1){
				  dni = (table.row( $(this).parents('tr') ).data())[i].split("<")[0];
				  id = ((table.row( $(this).parents('tr') ).data())[i].split('value="')[1]).split('"')[0];    
				} 
			}

			table.row( $(this).parents('tr') ).remove().draw();
			addUser(id, name, lastname, dni, 2);
			idUsers = getTableData();
    }); 

    //DataTable para agregar estudiantes a DataTable2, es decir agregarlos a la seccion
    $('#dataTable').on( 'click', 'button', function () {
    	var table = $('#dataTable').DataTable();
    	console.log( table.row( $(this).parents('tr') ).data() );
      
    	var id, name, lastname, dni;
			for (i = 0; i < ((table.row( $(this).parents('tr') ).data()).length - 1); i++)
			{
				if (i == 0){
				  name = table.row( $(this).parents('tr') ).data()[i];
				  lastname = '';
				} else if(i == 1){
				  dni = (table.row( $(this).parents('tr') ).data())[i].split("<")[0];
				  id = ((table.row( $(this).parents('tr') ).data())[i].split('value="')[1]).split('"')[0];    
				} 
			}

			//table.row( this ).delete();
			table.row( $(this).parents('tr') ).remove().draw();
			addUser(id, name, lastname, dni, 1);
			idUsers = getTableData();
    });


    var data = $.getJSON('/admin/professors_with_subjects',function(data){
    	var dataTable = $('#dataTable3').dataTable();
     	$.each(data, function(idx, elem){
	        //elem.dni = !(elem.dni)?'No id':elem.dni;
	        dataTable.fnAddData([
	        	//elem.email+"",
	          	(elem.subjectname),
	          	elem.username+" "+elem.userlastname+"<input type='hidden' readonly='readonly' value='"+elem.p_s_id+"' id='inputValuep_s"+elem.p_s_id+"'>",
	          	""+'<button type="button" class="btn-floating btn-sm btn-outline-success" id="'+elem.p_s_id+'" data-toggle="tooltip" data-placement="botton" title="Agregar a Seccion">+' 
	        ]);
			});
    });

    //$('.dataTables_length').addClass('bs-select');
    $('#dataTable3').on( 'click', 'button', function () {
	    var table = $('#dataTable3').DataTable();

	    var materia, profesor, id_ps;
	    for (i = 0; i < ((table.row( $(this).parents('tr') ).data()).length - 1); i++)
	    {
	        if (i == 0){
	        	materia = table.row( $(this).parents('tr') ).data()[i];
	        } else if(i == 1){
	          	profesor = (table.row( $(this).parents('tr') ).data())[i].split("<")[0];
	          	id_ps = ((((table.row( $(this).parents('tr') ).data())[1]).split("<input")[1]).split("value='")[1]).split("'")[0];    
	        }
	    }
	      
	    addPS(materia, profesor, id_ps, 3);
    });



    ////////////////////////selectHoraDay///////////////////////////////////

	    $('#dataTable4').on( 'change', '.hellow4.browser-default.custom-select', function () {
	      //alert("Entre en la hora de fin");
	      var table = $('#dataTable4').DataTable();
	      //console.log( table.row( $(this).parents('tr') ).data() ); //Este me da todo lo que tiene la fila
	      id_ps = $(".input_id_ps",$(this).parent().parent()).val(); //Obtengo el valor del input de clase input_id_ps de fila acual

	      id_unique = $(".input_id_unique_dt4",$(this).parent().parent()).val(); //Valor unico de cada input
	      
	      $(".dt4input"+id_unique+"").remove(); //remuevo el imput si existe para que se cree uno desde cero
	                                            
	      if ($arrayHorario.length >= 1){
	        for(i = 0; i < $arrayHorario.length; i++){
	          valor_array_unique = ($arrayHorario[i]).split(",")[4];
	          if (id_unique == valor_array_unique){ 
	            $arrayHorario.splice(i,1); //remuevo el array cuyo final tiene el id_unique si ese lo tiene
	          }
	        }
	      }                                      

	      dayIndex = $(this).parent().children().find(":selected").index(); //Este me da el select previo al previo
	      dayvalue = $(this).parent().children().find(":selected").val();
	      
	      time_initIndex = $(this).parent().next().children().find(":selected").index(); //Este me da el select previo
	      time_initValue = $(this).parent().next().children().find(":selected").val(); //Este me da el valor del selct actual
	      
	      time_endIndex = $(this).parent().next().next().children().find(":selected").index();
	      time_endValue = $(this).parent().next().next().children().find(":selected").val();

	      $selectDay = $(this).parent().children();
	      $selectHoraInicio = $(this).parent().next().children();
	      $selectHoraFin = $(this).parent().next().next().children();


	      //console.log(dayvalue+" "+time_initValue+" "+time_endValue);
	      if (id_ps){
	        if(dayIndex == 0){
	        
	          msgTitle = "Error al intentar agregar horario";
	          msgBody = "Seleccione el dia.";
	          sendErrorMessage(msgTitle,msgBody);
	          
	          $selectDay.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	          
	        
	        } else if ((time_initIndex != 0) && (time_endIndex != 0) && (parseInt(time_initValue) > parseInt(time_endValue))){
	        
	          msgTitle = "Error al intentar agregar horario";
	          msgBody = "La hora de fin no puede ser antes que la hora de inicio.";
	          sendErrorMessage(msgTitle,msgBody);
	          
	          $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	        
	        } else if ((time_initIndex != 0) && (time_endIndex != 0) && (time_initValue == time_endValue)){
	          
	          msgTitle = "Error al intentar agregar horario";
	          msgBody = "La hora de fin no puede ser igual a la hora de inicio.";
	          sendErrorMessage(msgTitle,msgBody);
	          
	          $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	        } else if (dayIndex != 0 && time_endIndex != 0 && time_initIndex != 0){

	          //$('<input>').attr({class:"hello3", id: id, name: "section[user_ids][]", type:'hidden', value: id}).appendTo("form");  
	          valor = ""+id_ps+","+dayvalue+","+time_initValue+","+time_endValue+"";

	          result = 0;
	          /////////////////////////
	          var data = $.getJSON('/admin/section_professor_consult/'+id_ps+'', function(data){   
	            //console.log(" "+data.length);
	            if (data.length > 0)
	            {
	              $.each(data, function(idx, elem){
	                daySection = elem.day;
	                
	                time_initSection = parseFloat(elem.time_init).toFixed(2);
	                time_endSection = parseFloat(elem.time_end).toFixed(2);
	                
	                time_init = parseFloat(time_initValue).toFixed(2);
	                time_end = parseFloat(time_endValue).toFixed(2);
	                
	                console.log("Valores a Comprobar: professor_subjectid:"+id_ps+" dia:"+dayvalue+" hora_inicio:"+time_init+" hora_fin:"+time_end);
	                console.log("Valores del JSON: professor_subjectid:"+elem.profesor_subject_id+" dia:"+daySection+" hora_inicio:"+time_initSection+" hora_fin:"+time_endSection);

	                if (dayvalue == daySection){
	                  
										console.log("Entre en el dia: "+dayvalue);

										if (((parseFloat(time_init) > parseFloat(time_initSection)) && (parseFloat(time_init) < parseFloat(time_endSection))) && (parseInt(elem.section_id) == parseInt('<%=@section.id%>'))){

											console.log("time_init en el rango de otro horario ya establecido: "+time_init);
											result = 1;
											return false;

										} else if(((parseFloat(time_end) > parseFloat(time_initSection)) && (parseFloat(time_end) < parseFloat(time_endSection))) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>')) ){

											console.log("time_end en el rango de otro horario ya establecido: "+time_end);
											result = 2;
											return false;

										} else if ((parseFloat(time_init) == parseFloat(time_initSection)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>'))){

											console.log("mismo time_init: "+time_init);
											result = 3;
											return false;

										} else if ((parseFloat(time_end) == parseFloat(time_endSection)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>'))){

											console.log("mismo time_end: "+time_end);
											result = 4;  
											return false;

										} else if ((parseFloat(time_initSection) > parseFloat(time_init)) &&  (parseFloat(time_initSection) < parseFloat(time_end)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>')) ){
											console.log("time_init en el rango de otro horario ya establecido: "+time_init);
											result = 5;
											return false;	                  	
										} else if ((parseFloat(time_endSection) > parseFloat(time_init)) &&  (parseFloat(time_endSection) < parseFloat(time_end)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>')) ){
											console.log("time_end en el rango de otro horario ya establecido: "+time_end);
											result = 6;
											return false;
										}	
	                } 
	              });

	              console.log("Resultado: "+result);
	              if (result == 0){

	                if ($arrayHorario.length == 0){
	                  $arrayHorario.push(valor+','+id_unique);
	                  $('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
	                } else {
	                  //Vamos a la funcion
	                  evaluacion_coincidencia = EvaluaCoicidenciaTabla(valor);
	                  //console.log("EvaluaCoicidenciaTabla result: "+evaluacion_coincidencia);
	                  if (evaluacion_coincidencia != 1 && evaluacion_coincidencia != 2 && evaluacion_coincidencia != 3 && evaluacion_coincidencia != 4){
	                    $arrayHorario.push(valor+','+id_unique);
	                    $('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
	                  } else if (evaluacion_coincidencia == 1){

	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                  } else if (evaluacion_coincidencia == 2){

	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                  } else if (evaluacion_coincidencia == 3){

	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La hora de inicio no esta disponbible, ya se asigno materia y profesor a esa hora de inicio";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                  } else if (evaluacion_coincidencia == 4){

	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La hora de fin no esta disponbible, ya se asigno materia y profesor a esa hora de fin";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index
	                  } else if (evaluacion_coincidencia == 5){
	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	                  } else if (evaluacion_coincidencia == 6){

	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	                  } 
	                }                  
	              } else if (result == 1){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "La hora de inicio del profesor y la materia no esta disponbible. Hora de inicio esta en el rango de otra hora ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);
	                
	                $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	              } else if (result == 2){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "La hora de fin del profesor y la materia no esta disponbible. Hora de Fin esta en el rango de otra hora ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);
	                
	                $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	              } else if (result == 3){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "La hora de inicio del profesor y la materia no esta disponbible. Hora de inicio ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);
	                
	                $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	              
	              } else if (result == 4){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "Error al intentar agregar horario. Hora de Fin esta en el rango de otra hora ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);
	                
	                $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	              } else if (result == 5){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "La hora de inicio del profesor y la materia no esta disponbible. Hora de inicio esta en el rango de otra hora ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);

	                $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0

	              } else if (result == 6){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "La hora de fin del profesor y la materia no esta disponbible. Hora de Fin esta en el rango de otra hora ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);

	                $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	              }

	            } else {

	              if ($arrayHorario.length == 0){
	                $arrayHorario.push(valor+','+id_unique);
	                $('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
	              } else {
	                //Vamos a la funcion
	                evaluacion_coincidencia = EvaluaCoicidenciaTabla(valor);
	                //console.log("EvaluaCoicidenciaTabla result: "+evaluacion_coincidencia);
	                if (evaluacion_coincidencia != 1 && evaluacion_coincidencia != 2 && evaluacion_coincidencia != 3 && evaluacion_coincidencia != 4){
	                  $arrayHorario.push(valor+','+id_unique);
	                  $('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
	                } else if (evaluacion_coincidencia == 1){

	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                } else if (evaluacion_coincidencia == 2){

	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                } else if (evaluacion_coincidencia == 3){

	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La hora de inicio no esta disponbible, ya se asigno materia y profesor a esa hora de inicio";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                } else if (evaluacion_coincidencia == 4){

	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La hora de fin no esta disponbible, ya se asigno materia y profesor a esa hora de fin";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	                } else if (evaluacion_coincidencia == 5){
	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	                } else if (evaluacion_coincidencia == 6){

	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	                }
	              }
	            } 
	          });  
	        }   
	      }
	    });

    ////////////////////////selectHoraDay///////////////////////////////////



    ////////////////////////selectHoraInicio///////////////////////////////////

	    $('#dataTable4').on( 'change', '.hellow3.browser-default.custom-select', function () {
	      //alert("Entre en la hora de fin");
	      var table = $('#dataTable4').DataTable();
	      //console.log( table.row( $(this).parents('tr') ).data() ); //Este me da todo lo que tiene la fila
	      id_ps = $(".input_id_ps",$(this).parent().parent()).val(); //Obtengo el valor del input de clase input_id_ps de fila acual

	      id_unique = $(".input_id_unique_dt4",$(this).parent().parent()).val(); //Valor unico de cada input
	      
	      $(".dt4input"+id_unique+"").remove(); //remuevo el imput si existe para que se cree uno desde cero
	                                            
	      if ($arrayHorario.length >= 1){
	        for(i = 0; i < $arrayHorario.length; i++){
	          valor_array_unique = ($arrayHorario[i]).split(",")[4];
	          if (id_unique == valor_array_unique){ 
	            $arrayHorario.splice(i,1); //remuevo el array cuyo final tiene el id_unique si ese lo tiene
	          }
	        }
	      }                                      

	      dayIndex = $(this).parent().prev().children().find(":selected").index(); //Este me da el select previo al previo
	      dayvalue = $(this).parent().prev().children().find(":selected").val();
	      
	      time_initIndex = $(this).parent().children().find(":selected").index(); //Este me da el select previo
	      time_initValue = $(this).parent().children().find(":selected").val(); //Este me da el valor del selct actual
	      
	      time_endIndex = $(this).parent().next().children().find(":selected").index();
	      time_endValue = $(this).parent().next().children().find(":selected").val();

	      $selectDay = $(this).parent().prev().children();
	      $selectHoraInicio = $(this).parent().children();
	      $selectHoraFin = $(this).parent().next().children();


	      //console.log(dayvalue+" "+time_initValue+" "+time_endValue);
	      if (id_ps){
	        if(dayIndex == 0){
	        
	          msgTitle = "Error al intentar agregar horario";
	          msgBody = "Seleccione el dia.";
	          sendErrorMessage(msgTitle,msgBody);
	          
	          $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	          
	        
	        } else if (time_initIndex == 0){
	        
	          msgTitle = "Error al intentar agregar horario";
	          msgBody = "Seleccione hora de inicio.";
	          sendErrorMessage(msgTitle,msgBody);
	          
	          $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	        
	        } else if ((time_endIndex != 0) && (parseInt(time_initValue) > parseInt(time_endValue))){
	        
	          msgTitle = "Error al intentar agregar horario";
	          msgBody = "La hora de fin no puede ser antes que la hora de inicio.";
	          sendErrorMessage(msgTitle,msgBody);
	          
	          $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	        
	        } else if ((time_endIndex != 0) && (time_initValue == time_endValue)){
	          
	          msgTitle = "Error al intentar agregar horario";
	          msgBody = "La hora de fin no puede ser igual a la hora de inicio.";
	          sendErrorMessage(msgTitle,msgBody);
	          
	          $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	        } else if (dayIndex != 0 && time_endIndex != 0 && time_initIndex != 0){

	          //$('<input>').attr({class:"hello3", id: id, name: "section[user_ids][]", type:'hidden', value: id}).appendTo("form");  
	          valor = ""+id_ps+","+dayvalue+","+time_initValue+","+time_endValue+"";

	          result = 0;
	          /////////////////////////
	          var data = $.getJSON('/admin/section_professor_consult/'+id_ps+'', function(data){   
	            //console.log(" "+data.length);
	            if (data.length > 0)
	            {
	              $.each(data, function(idx, elem){
	                daySection = elem.day;
	                
	                time_initSection = parseFloat(elem.time_init).toFixed(2);
	                time_endSection = parseFloat(elem.time_end).toFixed(2);
	                
	                time_init = parseFloat(time_initValue).toFixed(2);
	                time_end = parseFloat(time_endValue).toFixed(2);
	                
	                console.log("Valores a Comprobar: professor_subjectid:"+id_ps+" dia:"+dayvalue+" hora_inicio:"+time_init+" hora_fin:"+time_end);
	                console.log("Valores del JSON: professor_subjectid:"+elem.profesor_subject_id+" dia:"+daySection+" hora_inicio:"+time_initSection+" hora_fin:"+time_endSection);

	                if (dayvalue == daySection){
	                  
										console.log("Entre en el dia: "+dayvalue);

										if (((parseFloat(time_init) > parseFloat(time_initSection)) && (parseFloat(time_init) < parseFloat(time_endSection))) && (parseInt(elem.section_id) == parseInt('<%=@section.id%>'))){

											console.log("time_init en el rango de otro horario ya establecido: "+time_init);
											result = 1;
											return false;

										} else if(((parseFloat(time_end) > parseFloat(time_initSection)) && (parseFloat(time_end) < parseFloat(time_endSection))) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>')) ){

											console.log("time_end en el rango de otro horario ya establecido: "+time_end);
											result = 2;
											return false;

										} else if ((parseFloat(time_init) == parseFloat(time_initSection)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>'))){

											console.log("mismo time_init: "+time_init);
											result = 3;
											return false;

										} else if ((parseFloat(time_end) == parseFloat(time_endSection)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>'))){

											console.log("mismo time_end: "+time_end);
											result = 4;  
											return false;

										} else if ((parseFloat(time_initSection) > parseFloat(time_init)) &&  (parseFloat(time_initSection) < parseFloat(time_end)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>')) ){
											console.log("time_init en el rango de otro horario ya establecido: "+time_init);
											result = 5;
											return false;	                  	
										} else if ((parseFloat(time_endSection) > parseFloat(time_init)) &&  (parseFloat(time_endSection) < parseFloat(time_end)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>')) ){
											console.log("time_end en el rango de otro horario ya establecido: "+time_end);
											result = 6;
											return false;
										}	
	                } 
	              });

	              console.log("Resultado: "+result);
	              if (result == 0){

	                if ($arrayHorario.length == 0){
	                  $arrayHorario.push(valor+','+id_unique);
	                  $('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
	                } else {
	                  //Vamos a la funcion
	                  evaluacion_coincidencia = EvaluaCoicidenciaTabla(valor);
	                  //console.log("EvaluaCoicidenciaTabla result: "+evaluacion_coincidencia);
	                  if (evaluacion_coincidencia != 1 && evaluacion_coincidencia != 2 && evaluacion_coincidencia != 3 && evaluacion_coincidencia != 4){
	                    $arrayHorario.push(valor+','+id_unique);
	                    $('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
	                  } else if (evaluacion_coincidencia == 1){

	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                  } else if (evaluacion_coincidencia == 2){

	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                  } else if (evaluacion_coincidencia == 3){

	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La hora de inicio no esta disponbible, ya se asigno materia y profesor a esa hora de inicio";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                  } else if (evaluacion_coincidencia == 4){

	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La hora de fin no esta disponbible, ya se asigno materia y profesor a esa hora de fin";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index
	                  } else if (evaluacion_coincidencia == 5){
	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	                  } else if (evaluacion_coincidencia == 6){

	                    msgTitle = "Error al intentar agregar horario";
	                    msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
	                    sendErrorMessage(msgTitle,msgBody);
	                    
	                    $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	                  } 
	                }                  
	              } else if (result == 1){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "La hora de inicio del profesor y la materia no esta disponbible. Hora de inicio esta en el rango de otra hora ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);
	                
	                $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	              } else if (result == 2){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "La hora de fin del profesor y la materia no esta disponbible. Hora de Fin esta en el rango de otra hora ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);
	                
	                $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	              } else if (result == 3){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "La hora de inicio del profesor y la materia no esta disponbible. Hora de inicio ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);
	                
	                $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	              
	              } else if (result == 4){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "Error al intentar agregar horario. Hora de Fin esta en el rango de otra hora ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);
	                
	                $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	              } else if (result == 5){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "La hora de inicio del profesor y la materia no esta disponbible. Hora de inicio esta en el rango de otra hora ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);

	                $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0

	              } else if (result == 6){
	                //mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
	                msgTitle = "Error al intentar agregar horario";
	                msgBody = "La hora de fin del profesor y la materia no esta disponbible. Hora de Fin esta en el rango de otra hora ya asignada.";
	                sendErrorMessage(msgTitle,msgBody);

	                $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	              }

	            } else {

	              if ($arrayHorario.length == 0){
	                $arrayHorario.push(valor+','+id_unique);
	                $('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
	              } else {
	                //Vamos a la funcion
	                evaluacion_coincidencia = EvaluaCoicidenciaTabla(valor);
	                //console.log("EvaluaCoicidenciaTabla result: "+evaluacion_coincidencia);
	                if (evaluacion_coincidencia != 1 && evaluacion_coincidencia != 2 && evaluacion_coincidencia != 3 && evaluacion_coincidencia != 4){
	                  $arrayHorario.push(valor+','+id_unique);
	                  $('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
	                } else if (evaluacion_coincidencia == 1){

	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                } else if (evaluacion_coincidencia == 2){

	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                } else if (evaluacion_coincidencia == 3){

	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La hora de inicio no esta disponbible, ya se asigno materia y profesor a esa hora de inicio";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0

	                } else if (evaluacion_coincidencia == 4){

	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La hora de fin no esta disponbible, ya se asigno materia y profesor a esa hora de fin";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	                } else if (evaluacion_coincidencia == 5){
	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	                } else if (evaluacion_coincidencia == 6){

	                  msgTitle = "Error al intentar agregar horario";
	                  msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
	                  sendErrorMessage(msgTitle,msgBody);
	                  
	                  $selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
	                }
	              }
	            } 
	          });  
	        }   
	      }
	    });
    ////////////////////////selectHoraInicio///////////////////////////////////


    ////////////////////////selectHoraFin///////////////////////////////////
	    $('#dataTable4').on( 'change', '.hellow2.browser-default.custom-select', function () {
				//alert("Entre en la hora de fin");
				var table = $('#dataTable4').DataTable();
				//console.log( table.row( $(this).parents('tr') ).data() ); //Este me da todo lo que tiene la fila
				id_ps = $(".input_id_ps",$(this).parent().parent()).val(); //Obtengo el valor del input de clase input_id_ps de fila acual

				id_unique = $(".input_id_unique_dt4",$(this).parent().parent()).val(); //Valor unico de cada input

				$(".dt4input"+id_unique+"").remove(); //remuevo el imput si existe para que se cree uno desde cero
				        
				if ($arrayHorario.length >= 1){
					for(i = 0; i < $arrayHorario.length; i++){
						valor_array_unique = ($arrayHorario[i]).split(",")[4];
						if (id_unique == valor_array_unique){ 
							$arrayHorario.splice(i,1); //remuevo el array cuyo final tiene el id_unique si ese lo tiene
						}
					}
				}                                      

				dayIndex = $(this).parent().prev().prev().children().find(":selected").index(); //Este me da el select previo al previo
				dayvalue = $(this).parent().prev().prev().children().find(":selected").val();
				time_initIndex = $(this).parent().prev().children().find(":selected").index(); //Este me da el select previo
				time_initValue = $(this).parent().prev().children().find(":selected").val(); //Este me da el valor del selct actual
				time_endIndex = $(this).parent().children().find(":selected").index();
				time_endValue = $(this).parent().children().find(":selected").val();

				$selectDay = $(this).parent().prev().prev().children();
				$selectHoraInicio = $(this).parent().prev().children();
				$selectHoraFin = $(this).parent().children();


				//console.log(dayvalue+" "+time_initValue+" "+time_endValue);
				if (id_ps){
					if(dayIndex == 0){
						msgTitle = "Error al intentar agregar horario";
						msgBody = "Seleccione el dia.";
						sendErrorMessage(msgTitle,msgBody);
						$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
					} else if (time_initIndex == 0){
						msgTitle = "Error al intentar agregar horario";
						msgBody = "Seleccione hora de inicio.";
						sendErrorMessage(msgTitle,msgBody);
						$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
					} else if (time_endIndex == 0){
						msgTitle = "Error al intentar agregar horario";
						msgBody = "Seleccione hora final.";
						sendErrorMessage(msgTitle,msgBody);
						$selectHoraFin.prop('selectedIndex',0);
					} else if (parseInt(time_initValue) > parseInt(time_endValue)){
						msgTitle = "Error al intentar agregar horario";
						msgBody = "La hora de fin no puede ser antes que la hora de inicio.";
						sendErrorMessage(msgTitle,msgBody);
						$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
					} else if (time_initValue == time_endValue){
						msgTitle = "Error al intentar agregar horario";
						msgBody = "La hora de fin no puede ser igual a la hora de inicio.";
						sendErrorMessage(msgTitle,msgBody);
						$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
					} else if (dayIndex != 0 && time_endIndex != 0 && time_initIndex != 0){

						//$('<input>').attr({class:"hello3", id: id, name: "section[user_ids][]", type:'hidden', value: id}).appendTo("form");  
						valor = ""+id_ps+","+dayvalue+","+time_initValue+","+time_endValue+"";

						result = 0;
						/////////////////////////
						var data = $.getJSON('/admin/section_professor_consult/'+id_ps+'', function(data){   
							//console.log(" "+data.length);
							if (data.length > 0) {
							
								$.each(data, function(idx, elem){
									daySection = elem.day;

									time_initSection = parseFloat(elem.time_init).toFixed(2);
									time_endSection = parseFloat(elem.time_end).toFixed(2);

									time_init = parseFloat(time_initValue).toFixed(2);
									time_end = parseFloat(time_endValue).toFixed(2);

									if (dayvalue == daySection ){

										console.log("Entre en el dia: "+dayvalue);

										if (((parseFloat(time_init) > parseFloat(time_initSection)) && (parseFloat(time_init) < parseFloat(time_endSection))) && (parseInt(elem.section_id) == parseInt('<%=@section.id%>'))){

											console.log("time_init en el rango de otro horario ya establecido: "+time_init);
											result = 1;
											return false;

										} else if(((parseFloat(time_end) > parseFloat(time_initSection)) && (parseFloat(time_end) < parseFloat(time_endSection))) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>')) ){

											console.log("time_end en el rango de otro horario ya establecido: "+time_end);
											result = 2;
											return false;

										} else if ((parseFloat(time_init) == parseFloat(time_initSection)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>'))){

											console.log("mismo time_init: "+time_init);
											result = 3;
											return false;

										} else if ((parseFloat(time_end) == parseFloat(time_endSection)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>'))){

											console.log("mismo time_end: "+time_end);
											result = 4;  
											return false;

										} else if ((parseFloat(time_initSection) > parseFloat(time_init)) &&  (parseFloat(time_initSection) < parseFloat(time_end)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>')) ){
											console.log("time_init en el rango de otro horario ya establecido: "+time_init);
											result = 5;
											return false;	                  	
										} else if ((parseFloat(time_endSection) > parseFloat(time_init)) &&  (parseFloat(time_endSection) < parseFloat(time_end)) && (parseInt(elem.section_id) != parseInt('<%=@section.id%>')) ){
											console.log("time_end en el rango de otro horario ya establecido: "+time_end);
											result = 6;
											return false;
										}	                  
									} 
								});

								console.log("Resultado: "+result);
								if (result == 0){
									if ($arrayHorario.length == 0){
										$arrayHorario.push(valor+','+id_unique);
										$('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
									} else {

										//Vamos a la funcion
										evaluacion_coincidencia = EvaluaCoicidenciaTabla(valor);
										//console.log("EvaluaCoicidenciaTabla result: "+evaluacion_coincidencia);
										if (evaluacion_coincidencia != 1 && evaluacion_coincidencia != 2 && evaluacion_coincidencia != 3 && evaluacion_coincidencia != 4){
											$arrayHorario.push(valor+','+id_unique);
											$('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
										} else if (evaluacion_coincidencia == 1){
											msgTitle = "Error al intentar agregar horario";
											msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
											sendErrorMessage(msgTitle,msgBody);

											$selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
											$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
										} else if (evaluacion_coincidencia == 2){
											msgTitle = "Error al intentar agregar horario";
											msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
											sendErrorMessage(msgTitle,msgBody);
											$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
										} else if (evaluacion_coincidencia == 3){
											msgTitle = "Error al intentar agregar horario";
											msgBody = "La hora de inicio no esta disponbible, ya se asigno materia y profesor a esa hora de inicio";
											sendErrorMessage(msgTitle,msgBody);
											$selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
											$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
										} else if (evaluacion_coincidencia == 4){
											msgTitle = "Error al intentar agregar horario";
											msgBody = "La hora de fin no esta disponbible, ya se asigno materia y profesor a esa hora de fin";
											sendErrorMessage(msgTitle,msgBody);
											$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index
										} else if (evaluacion_coincidencia == 5){
											msgTitle = "Error al intentar agregar horario";
											msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
											sendErrorMessage(msgTitle,msgBody);
											$selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
											$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
										} else if (evaluacion_coincidencia == 6){
											msgTitle = "Error al intentar agregar horario";
											msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
											sendErrorMessage(msgTitle,msgBody);
											$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
										} 
									}                  
								} else if (result == 1){
									//mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
									msgTitle = "Error al intentar agregar horario";
									msgBody = "La hora de inicio del profesor y la materia no esta disponbible. Hora de inicio esta en el rango de otra hora ya asignada.";
									sendErrorMessage(msgTitle,msgBody);
									$selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
									$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
								} else if (result == 2){
									//mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
									msgTitle = "Error al intentar agregar horario";
									msgBody = "La hora de fin del profesor y la materia no esta disponbible. Hora de Fin esta en el rango de otra hora ya asignada.";
									sendErrorMessage(msgTitle,msgBody);
									$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
								} else if (result == 3){
									//mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
									msgTitle = "Error al intentar agregar horario";
									msgBody = "La hora de inicio del profesor y la materia no esta disponbible. Hora de inicio ya asignada.";
									sendErrorMessage(msgTitle,msgBody);
									$selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
									$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
								} else if (result == 4){
									//mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
									msgTitle = "Error al intentar agregar horario";
									msgBody = "Error al intentar agregar horario. Hora de Fin esta en el rango de otra hora ya asignada.";
									sendErrorMessage(msgTitle,msgBody);
									$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
								} else if (result == 5){
									//mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
									msgTitle = "Error al intentar agregar horario";
									msgBody = "La hora de inicio del profesor y la materia no esta disponbible. Hora de inicio esta en el rango de otra hora ya asignada.";
									sendErrorMessage(msgTitle,msgBody);
									$selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
								} else if (result == 6){
									//mostrare el mensaje en el modal con disponibilidad Nula y colocare el ultimo select en null
									msgTitle = "Error al intentar agregar horario";
									msgBody = "La hora de fin del profesor y la materia no esta disponbible. Hora de Fin esta en el rango de otra hora ya asignada.";
									sendErrorMessage(msgTitle,msgBody);
									$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
								}
							} else {

								if ($arrayHorario.length == 0){
									$arrayHorario.push(valor+','+id_unique);
									$('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
								} else {
									//Vamos a la funcion
									evaluacion_coincidencia = EvaluaCoicidenciaTabla(valor);
									//console.log("EvaluaCoicidenciaTabla result: "+evaluacion_coincidencia);
									if (evaluacion_coincidencia != 1 && evaluacion_coincidencia != 2 && evaluacion_coincidencia != 3 && evaluacion_coincidencia != 4){
										$arrayHorario.push(valor+','+id_unique);
										$('<input class="dt4input'+id_unique+'" readonly="readonly" type="hidden" name="section_profesor_subjects[]" value="'+valor+'"/>').appendTo("form");
									} else if (evaluacion_coincidencia == 1){
										msgTitle = "Error al intentar agregar horario";
										msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
										sendErrorMessage(msgTitle,msgBody);
										$selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
										$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
									} else if (evaluacion_coincidencia == 2){
										msgTitle = "Error al intentar agregar horario";
										msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
										sendErrorMessage(msgTitle,msgBody);
										$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
									} else if (evaluacion_coincidencia == 3){
										msgTitle = "Error al intentar agregar horario";
										msgBody = "La hora de inicio no esta disponbible, ya se asigno materia y profesor a esa hora de inicio";
										sendErrorMessage(msgTitle,msgBody);
										$selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
										$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
									} else if (evaluacion_coincidencia == 4){
										msgTitle = "Error al intentar agregar horario";
										msgBody = "La hora de fin no esta disponbible, ya se asigno materia y profesor a esa hora de fin";
										sendErrorMessage(msgTitle,msgBody);
										$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
									} else if (evaluacion_coincidencia == 5){
										msgTitle = "Error al intentar agregar horario";
										msgBody = "La ahora de inicio no esta disponbible, hora de inicio esta en el rango al cual ya se asigno materia y profesor";
										sendErrorMessage(msgTitle,msgBody);
										$selectHoraInicio.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora inicio en el index 0
										$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
									} else if (evaluacion_coincidencia == 6){
										msgTitle = "Error al intentar agregar horario";
										msgBody = "La hora de fin no esta disponbible, hora de fin esta en el rango al cual ya se asigno materia y profesor";
										sendErrorMessage(msgTitle,msgBody);
										$selectHoraFin.prop('selectedIndex',0); //Vuelvo a colocar el select de la hora final en el index 0
									}
								}
							} 
						});  
					}  
				}
	    });
    ////////////////////////selectHoraFin///////////////////////////////////


    /////////////////////////////////////////////////

    // var table = $('#dataTable4').DataTable();
    // $('.dataTables_length').addClass('bs-select');
    $('#dataTable4').on( 'click', 'button', function () {
      var table = $('#dataTable4').DataTable();
      //row_number = $(this).closest('td').parent()[0].sectionRowIndex; Con esto se obtiene el numero de fila
      id_unique = $(".input_id_unique_dt4",$(this).parent().parent()).val();

      //console.log("Eliminando input: "+id_unique);
      
      if (id_unique){
        
        $(".dt4input"+id_unique+"").remove();

        table.row( $(this).parents('tr') ).remove().draw();  

        if ($arrayHorario.length >= 1){
          for(i = 0; i < $arrayHorario.length; i++){
            valor_array_unique = ($arrayHorario[i]).split(",")[4];
            //console.log("valor_array_unique: "+valor_array_unique);
            if (id_unique == valor_array_unique){ 
            	//console.log("Elimine");
              $arrayHorario.splice(i,1); //remuevo el array cuyo final tiene el id_unique si ese lo tiene
            }
          }
        }
        //console.log($arrayHorario);
      } else
      {
        table.row( $(this).parents('tr') ).remove().draw();
      }
    });
	});
</script>