

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Secciones</h1>
    <a href="<%= new_admin_section_path  %>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Seccion</a>
    <!-- <a href="<%= new_admin_news_path  %>"><button class="btn btn-primary btn-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Anuncio</button></a> -->
  </div>

  <%= render 'admin/home/messages' if !flash.empty? %>

 

  
  <!-- DataTales Example -->
  <div class="col-lg-12 col-md-12 col-xs-12">
    <!-- <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div> -->
    <!-- <div class="card-body"> -->
        <table class="table table-striped table-responsive-md btn-table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th><center>Nombre</center></th>
              <th class="d-none d-sm-table-cell"><center>Estudiantes</center></th>
              <th width="225"><center>Acciones</center></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><center>Nombre</center></th>
              <th class="d-none d-sm-table-cell"><center>Estudiantes</center></th>
              <th width="225"><center>Acciones</center></th>
            </tr>
          </tfoot>
          <tbody>
            <% @sections.each do |section| %>
              <tr>
                <td><center><%= section.description %></center></td>
                <td class="d-none d-sm-table-cell">
                  <center>
                    <select class="browser-default custom-select"> 
                      <option selected="selected">Estudiantes de <%= section.description %></option>
                      <% @users_section.each do |us| %>
                        <% @users.each do |user| %>
                          <% if (user.id == us.user_id) and (us.section_id == section.id) %>
                            <option><%= user.name %> <%= user.lastname %></option>
                          <% end %> 
                        <% end %>
                      <% end %>
                    </select> 
                  </center>
                </td>
                <td>
                  <center>
                    <% if can? :read, Section %>
                      <a href="<%= admin_section_path(section)%>"><button class="btn-floating btn-sm btn-outline-info shadow-sm" data-placement="botton" title="Detalle <%= section.description %>"><i class="fas fa-fw fa-eye"></i></button></a>
                    <% end %>
                    <% if can? :update, Section %>
                      <a href="<%=edit_admin_section_path(section)%>"><button class="btn-floating btn-sm btn-outline-primary shadow-sm" data-placement="botton" title="Editar <%= section.description %>"><i class="fas fa-fw fa-edit"></i></button></a>
                    <% end %>
                    <% if can? :destroy, Section %>
                    <button class="btn-floating btn-sm btn-outline-danger shadow-sm" href="#"  data-placement="botton" title="Eliminar <%= section.description %>" data-datac="<%= admin_section_path(section) %>,<%= section.description %>" ><i class="fas fa-fw fa-trash"></i></button>
                    <% end %>
                  </center>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <!-- </div> -->
  </div>


  <!-- Logout Modal-->
  <div class="modal fade" id="DeleteSection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Seccion?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          

          </div>
        <div class="modal-footer" id="myModalFooter">
          <button class="d-none d-sm-inline-block btn btn-sm btn-light shadow-sm" type="button" data-dismiss="modal">Cancel</button>
          <!-- <a class="btn btn-primary" href="login.html">Logout</a> -->
          <!-- <a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" rel="nofollow" data-method="delete" href="/admin/sections/26">Eliminar</a> -->

          </div>
      </div>
    </div>
  </div>




<script type="text/javascript">
  
  $(document).ready(function () {
    $('#dataTable').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });

  $('.btn-floating.btn-sm.btn-outline-danger.shadow-sm').click(function() {
    var d = $(this).data('datac');      
    //alert(d); 
    button = '<a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" rel="nofollow" data-method="delete" href="'+d.split(",")[0]+'">Eliminar</a>';
    msg = 'Esta seguro de Eliminar la Seccion '+d.split(",")[1];
    $modal = $('#DeleteSection');
    $modal.find('.modal-title').text('' + 'Eliminar seccion?');
    $modal.find('.modal-body').text(''+ msg);

    $(".d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm").remove(); //Con esta linea elimino en el modal un button parecido al que realizara la accion de eliminar.
    
    $( "#myModalFooter" ).append(button);
    $modal.modal('show');
  });
  
</script>