
	
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Seccion: <%= @section.description %></h1>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">

			<!-- Collapsable Card Example -->
			<!-- <div class="card shadow mb-4"> -->
			<!-- Card Header - Accordion -->
				<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
					<h6 class="m-0 font-weight-bold text-dark">Estudiantes</h6>
				</a>
				<!-- Card Content - Collapse -->
				<div class="collapse show" id="collapseCardExample1">
					<!-- <div class="card-body"> -->
					<strong>
						<!-- <div class="card-body"> -->
				            <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
				              <thead>
				                <tr>
				                  <th><center>Correo</center></th>
				                  <th><center>Nombre</center></th>
				                  <th><center>ID</center></th>
				                </tr>
				              </thead>
				              <tfoot>
				                <tr>
				                  <th><center>Correo</center></th>
				                  <th><center>Nombre</center></th>
				                  <th><center>ID</center></th>
				                </tr>
				              </tfoot>
				              <tbody>
				              	<% @users_section.each do |us| %>
					              	<tr>
					              		<td><center><%= us.email %></center></td>
					              		<td><center><%= us.name %> <%= us.lastname %></center></td>
					              		<td><center><%= us.dni %></center></td>
					              	</tr>
				              	<% end %>
				              </tbody>
				            </table>
				        <!-- </div> -->
					</strong>
					<!-- </div> -->
				</div>
			<!-- </div> -->
		</div>

		<div class="col-lg-12 col-md-12 col-xs-12">

			<!-- Collapsable Card Example -->
			<!-- <div class="card shadow mb-4"> -->
			<!-- Card Header - Accordion -->
				<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
					<h6 class="m-0 font-weight-bold text-dark">Profesores y Materias</h6>
				</a>
				<!-- Card Content - Collapse -->
				<div class="collapse show" id="collapseCardExample2">
					<!-- <div class="card-body"> -->
					<strong>
						<!-- <div class="card-body"> -->
				            <table class="table table-striped table-bordered" id="dataTable2" width="100%" cellspacing="0">
				              <thead>
				                <tr>
				                  <!-- <th>Correo</th> -->
				                  <th><center>Materia</center></th>
				                  <th><center>Dia</center></th>
				                  <th><center>Profesor</center></th>
				                  <th><center>Hora de Inicio</center></th>
				                  <th><center>Hora de Fin</center></th>
				                </tr>
				              </thead>
				              <tfoot>
				                <tr>
				                  <!-- <th>Correo</th> -->
				                  <th><center>Materia</center></th>
				                  <th><center>Dia</center></th>
				                  <th><center>Profesor</center></th>
				                  <th>Hora de Inicio</th></th>
				                  <th><center>Hora de Fin</center></th>
				                </tr>
				              </tfoot>
				              <tbody>
				              	<% @sps.each do |sps| %>
									<tr>
										<td><center><%= sps.sbname %></center></td>
										<td><center><%= sps.day %></center></td>
										<td><center><%= sps.name %> <%= sps.lastname %></center></td>
										<td><center><%= sps.time_init == 6.0 ? '6am' : sps.time_init == 7.0 ? '7am' : sps.time_init == 8.0 ? '8am' : sps.time_init == 9.0 ? '9am' : sps.time_init == 10.0 ? '10am' : sps.time_init == 11.0 ? '11am' : sps.time_init == 12.0 ? '12m' : sps.time_init == 13.0 ? '1pm' : sps.time_init == 14.0 ? '2pm' : sps.time_init == 15.0 ? '3pm' : sps.time_init == 16.0 ? '4pm' : sps.time_init == 17.0 ? '5pm' : sps.time_init == 18.0 ? '6pm' : 'Indefinido'%></center></td>
										<td><center><%= sps.time_end == 6.0 ? '6am' : sps.time_end == 7.0 ? '7am' : sps.time_end == 8.0 ? '8am' : sps.time_end == 9.0 ? '9am' : sps.time_end == 10.0 ? '10am' : sps.time_end == 11.0 ? '11am' : sps.time_end == 12.0 ? '12m' : sps.time_end == 13.0 ? '1pm' : sps.time_end == 14.0 ? '2pm' : sps.time_end == 15.0 ? '3pm' : sps.time_end == 16.0 ? '4pm' : sps.time_end == 17.0 ? '5pm' : sps.time_end == 18.0 ? '6pm' : 'Indefinido'%></center></td>
									</tr>
				              	<% end %>
				              </tbody>
				            </table>
				        <!-- </div> -->
					</strong>
					<!-- </div> -->
				</div>
			<!-- </div> -->
		</div>
	</div>

	<div class="form-group">
		<hr>
	    <div class="col-lg-12 col-md-12 col-xs-12">
			<%= link_to 'Cancelar', url_for(:back), :class => 'btn btn-sm btn-light shadow-sm' %>
			<%= link_to 'Editar', edit_admin_section_path(@section), :class => 'btn btn-sm btn-primary shadow-sm' %>
		</div>
	</div>



<script type="text/javascript">
  $(document).ready(function () {

    $('#dataTable').DataTable();
    $('#dataTable2').DataTable();

    $('.dataTables_length').addClass('bs-select');
  

  });
</script>