<%= stylesheet_link_tag 'custom_styles/sb-admin/sb-admin-2.css' %>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<%= stylesheet_link_tag 'custom_styles/sb-admin/fontawesome-free/css/all' %>

<%= javascript_include_tag 'custom_styles/sb-admin/sb-admin-2.js' %>

<div class="container">
	<!-- Outer Row -->
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-12 col-md-9">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<div class="row">
						<div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
						<div class="col-lg-6">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
									<p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
								</div>
								<!-- <form class="user"> -->
								<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:"user"}) do |f| %>
  									<%= render "devise/shared/error_messages", resource: resource %>

									<div class="form-group">
										<!-- <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..."> -->
										<%= f.email_field :email, class:'form-control form-control-user', id:"exampleInputEmail", placeholder:"Enter Email Address...", autofocus: true, autocomplete: "email"%>
									</div>
									<!-- <a href="login.html" class="btn btn-primary btn-user btn-block">
									Reset Password
									</a> -->
									<%= f.submit "Send me reset password instructions", class:"btn btn-primary btn-user btn-block" %>
								<% end %>
								<!-- </form> -->
								<hr>
								<div class="text-center">
									<!-- <a class="small" href="register.html">Create an Account!</a> -->
									<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
				                      <%= link_to "Create an Account!", new_registration_path(resource_name), :class=>"small"%>
				                    <% end %>
								</div>
								<div class="text-center">
									<!-- <a class="small" href="login.html">Already have an account? Login!</a> -->
									<%- if controller_name != 'sessions' %>
					                  <%= link_to "Log in", new_session_path(resource_name), :class=>"small"%>
					                <% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  var body = document.body;
  body.classList.add("bg-gradient-primary");
  //alert("DOne");
  //document.getElementsByClassName('nav justify-content-end')[0].style.visibility = "hidden";
</script>