<section id="about">
  <div class="container">
    <div class="row about-container">

      <div class="col-lg-6 content order-lg-1 order-2">
        <h2 class="title">Acerca de Nosotros</h2>
        <p>
              Hace mucho tiempo, llego a esta ciudad una dama trujillana, docente de gran calidad humana y amante de los niños, que quiso continuar en esta capital la labor de educadora que ya ejercía en su tierra natal. Para el año de 1961, abre sus puertas a un preescolar que identificó,  como: “Caperucita” en la Urbanización El Marqués, calle Guaicaipuro, Qta. “La Aguadita”.

              En el recorrer de los años voces infantiles llenaron sus aulas y poco a poco el Kinder Caperucita fue creciendo y en el mes de Octubre de 1.971, bajo el N° 15 fue inscrito en el Ministerio de Educación con el nombre de “Colegio Cruz Carrillo”, en honor al <a href="https://es.wikipedia.org/wiki/Jos%C3%A9_de_la_Cruz_Carrillo" target="blank">prócer Trujillano</a>. Para la presente fecha, funciona en la Calle Naiguatá, Quinta “La Negra”, Urb. El Marqués y cuenta con el nivel de Educación Básica I-II-III Etapa, también cuenta con el  nivel de Educación Media Diversificada (Ciencias).

              Por sus aulas han pasado millares de jóvenes, hoy profesionales que en los distintos campos del saber humano, contribuyen con el desarrollo económico,  político y social del país. De igual forma,  el plantel ha contado con grandes profesionales de la docencia y iempre  estuvo bajo la tutela de su fundadora la Señorita Ana Julia Pimentel, quien aunque físicamente no nos acompaña, espiritualmente fortalece día a día la obra fundadora de juventudes que en el colegio se lleva a cabo.
        </p>

        <div class="icon-box wow fadeInUp">
          <div class="icon"><i class="fa fa-tasks"></i></div>
          <h4 class="title"><a href="">Misión</a></h4>
          <p class="description">Formar ciudadanos integrales y responsables con valores de tolerancia, respeto y aceptación a las diferencias, para que sean útiles a la sociedad, como base fundamental en la formación de las familias con conociminetos sólidos.</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-heart"></i></div>
          <h4 class="title"><a href="">Valores</a></h4>
          <p class="description">Nos centramos principalmente en la educación de los estudiantes, estos son: Honestidad, Gratitud, Solidaridad, Dencencia, Prudencia, Puntualidad, Servicio, Sacrifio, Superación, 
          Comprensión y sobre todo el Amor de aceptar, servir y cuidar a sus valiosos estudiantes.</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon"><i class="fa fa-binoculars"></i></div>
          <h4 class="title"><a href="">Visión</a></h4>
          <p class="description">Ser una Institución Educativa que favorezca el desarrollo humano en la formación integral, ética y moral, a partir de la sensibilidad, diversidad y pluralidad, para que el conocimiento contribuya al éxito en la vida.</p>
        </div>

      </div>

      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
    </div>

  </div>
</section>