<link href="https://fonts.googleapis.com/css?family=Lobster|Dancing+Script|Pacifico|Satisfy|Courgette|Caveat|Great+Vibes|Gloria+Hallelujah|Cookie|Butterfly+Kids|Tangerine|Sacramento|Monoton|Handlee|Marck+Script|analei|Parisienne&display=swap" rel="stylesheet">



<section id="call-to-action">
  <div class="container wow fadeIn">
    <div class="row" id="divThought">
      <div class="col-lg-9 text-center text-lg-left">
        <h3 class="cta-title" id="ThoughtH3">"<% if @thought %>
          <%= @thought.thought %>" <% else %> Pensamiento <% end %></h3>
        <p class="cta-text" id="authorPensamiento">
          <% if @thought %>
            <%= @thought.author %>
          <% else %> 
            Author 
          <% end %>
        </p>
      </div> 
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" id="RefreshPensamiento"><i class="fa fa-circle-o-notch"></i></a>
        <!-- <a><button class="cta-btn align-middle" href="#" id="RefreshPensamiento" style="background-color: #2dc997; border: 0.5px;"><i class="fas fa-sync-alt"></i> </button></a> -->
      </div>
    </div>

  </div>
  
</section>

<script type="text/javascript">
  
  $("#RefreshPensamiento").click(function(){
    var author = null;
    var thought = null;

    //$('#ThoughtH3').text(thought).delay( 800 ).fadeOut();
    //$('p#authorPensamiento').text(author).delay( 800 ).fadeOut();

    //alert('Entre');
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "<%= return_tought_path %>",
      success: function (data) {
        $.each(data, function(index, element) {
            author = element.author;
            thought = '"'+element.thought+''+'"';
        });
        var font = return_font();
        //$("#divThought").fadeIn( 8000, function() {
          $('#ThoughtH3').css('font-style', 'italic');
          $('#ThoughtH3').css('color', 'white');
          $('#ThoughtH3').css('font-family', font);
          $('#ThoughtH3').css('font-size', '50px');
          $('#ThoughtH3').text(thought);
          $('p#authorPensamiento').css('color', 'white');
          $('p#authorPensamiento').css('font-family', font);
          $('#ThoughtH3').css('font-size', '40px');
          //console.log("Author: "+author+" Pensamiento: "+thought);
          $('p#authorPensamiento').text(author);
        //});
        
      },
      error: function (data) {
          console.log("Ha ocurrido un error: "+data);
      }
    });
  });

  function return_font(){
    var Dancing_Script = 'Dancing Script, cursive';
    var Lobster = 'Lobster, cursive';
    var Pacifico = 'Pacifico, cursive';
    var Satisfy = 'Satisfy, cursive';
    var Courgette = 'Courgette, cursive';
    var Caveat = 'Caveat, cursive';
    var Great_Vibes = 'Great Vibes, cursive';
    var Gloria_Hallelujah = 'Gloria Hallelujah, cursive';
    var Cookie = 'Cookie, cursive';
    var Butterfly_Kids = 'Butterfly Kids, cursive';
    var Tangerine = 'Tangerine, cursive';
    var Sacramento = 'Sacramento, cursive';
    var Monoton = 'Monoton, cursive';
    var Handlee = 'Handlee, cursive';
    var Marck_Script = 'Marck Script, cursive';
    var Hanalei = 'Hanalei, cursive';
    var Parisienne = 'Parisienne, cursive';

    var fonts = [Dancing_Script,Lobster,Pacifico,Satisfy,Courgette,Caveat,Great_Vibes,Gloria_Hallelujah,Cookie,Butterfly_Kids,Tangerine,Sacramento,Monoton,Handlee,Marck_Script,Hanalei,Parisienne];

    var font = fonts[Math.floor(Math.random()*fonts.length)];
    
    //console.log(font);
    return font;
  }

</script>

<!--script>

  // var btn = $("#RefreshPensamiento");
  // //console.log(btn);
  // setInterval(function(){
  //   btn.click();
  // },10000);
</script-->
