<section id="contact">
  <div class="container wow fadeInUp">
    <div class="section-header">
      <h3 class="section-title text-white">Contacto</h3>
      <p class="section-description text-white">Comuniquese con nosotros a través de nuestros correos o llamenos, siempre estaremos prestos a atenderles.</p>
    </div>
  </div>

  <!-- Uncomment below if you wan to use dynamic maps -->
  <iframe src="https://www.google.com/maps/embed/v1/place?q=Colegio+Cruz+Carrillo&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>

  <div class="container wow fadeInUp mt-5">
    <div class="row justify-content-center">

      <div class="col-lg-3 col-md-4">

        <div class="info">
          <center>
            <div>
              <i class="fa fa-map-marker"></i>
              <p class="text-white">Calle Naiguatá - Miranda<br>Caracas, Ccs 1071</p>
            </div>

            <div>
            
                <i class="fa fa-envelope text-white"></i>
                <p class="text-white">acccrucarrillo@gmail.com</p> 

                <i class="fa fa-envelope-o"></i>
                <p class="text-white">colegiocruzcarrilloweb@gmail.com</p>
       
            </div>

            <div>
              <i class="fa fa-phone text-white"></i>
              <p class="text-white">+58 212 234 2191</p>
            </div>
          </center>
        </div>

        <!--div class="social-links">
          <center>
            <a href="#" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
          </center>
        </div-->

        <!--div class="social-links">
          <center>
            <a href="#" class="pinterest" target="_blank"><i class="fa fa-pinterest-square"></i></a>
            <a href="http://www.colegiocruzcarrillo.com.ve/" class="google-plus" target="_blank" data-placement="botton" title="EduRest"><i class="fa fa-graduation-cap"></i></a>
            <a href="https://www.mozilla.org/es-ES/firefox/new/" class="google-plus" data-placement="botton" title="Le recomendamos usar el Navegador Firefox" target="_blank"><i class="fa fa-firefox"></i></a>
          </center-->
        </div>

      </div>
    </div>

  </div>
</section><!-- #contact -->