<header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a id="logoimg" class="navbar-brand2" href="#hero">Colegio Cruz Carrillo
        	<!-- <img src="/images/LogoMakr_2iVaMJ.png" alt="" title="" /></img> -->
        </a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">Acerca de Nosotros</a></li>
          <li><a href="#services">Calendario</a></li>
          <li><a href="#portfolio">Nuestro Personal</a></li>
          <!-- <li><a href="#team">Team</a></li> -->
          <% if user_signed_in? %>
            <li class="menu-has-children"><a href=""><%= current_user.email %></a>
              <ul>
                <!-- <li><a href="<%= new_user_session_path %>">Ingresar al Sistema</a></li> -->
                <!-- <li class="menu-has-children"><a href="#">Drop Down 2</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>

                <li><a href="#">Drop Down 3</a></li>
                 -->
                  <!--li><a href="#"><%#= current_user.is_admin? %></a></li>
                  <li><a href="#"><%#= current_user.is_administrativo? %></a></li>
                  <li><a href="#"><%#= current_user.is_profesor? %></a></li>
                  <li><a href="#"><%#= current_user.is_student? %></a></li>
                  <li><a href="#"><%#= current_user.is_representing? %></a></li-->
                  
                  <% if current_user.is_admin? %>
                    <li>
                      <a href="<%= admin_emails_path if current_user.is_admin? %>" class="waves-effect">Correos</a>
                    </li>
                    <li>
                      <a href="<%= admin_users_path if current_user.is_admin? %>" class="waves-effect">Usuarios</a>
                    </li>
                    <li>
                      <a href="<%= admin_sections_path %>" class="waves-effect">Secciones</a>
                    </li>
                    <li>
                      <a href="<%= admin_news_index_path(:status => nil) %>" class="waves-effect">Anuncios Actuales</a>
                    </li>
                    <li>
                      <a href="<%= admin_news_index_path(:status => true) %>" class="waves-effect">Anuncios Vencidos</a>
                    </li>
                    <li>
                      <a href="<%= admin_subjects_path %>" class="waves-effect">Materias</a>
                    </li>
                    <li>
                      <a href="<%= admin_thoughts_path %>" class="waves-effect">Pensamientos</a>
                    </li>

                    <li>
                      <a href="<%= forums_path %>" class="waves-effect">Foros Profesores</a>
                    </li>
                    <li>
                      <a href="<%= ads_path %>" class="waves-effect">Anuncios Profesores</a>
                    </li>
                    <li>
                      <a href="<%= archives_path %>" class="waves-effect">Archivos Profesores</a>
                    </li>
                    <!-- <li><a href="#">Drop Down 3 SuperAdmin</a></li> -->
                  <% elsif current_user.is_administrativo? %>
                    <!-- <li><a href="#">Drop Down 3 Administrativo</a></li> -->
                    <li>
                      <a href="<%= admin_emails_path %>" class="waves-effect">Correos</a>
                    </li>
                    <li>
                      <a href="<%= admin_users_path %>" class="waves-effect">Usuarios</a>
                    </li>
                    <li>
                      <a href="<%= admin_sections_path %>" class="waves-effect">Secciones</a>
                    </li>
                    <li>
                      <a href="<%= admin_news_index_path(:status => nil) %>" class="waves-effect">Anuncios Actuales</a>
                    </li>
                    <li>
                      <a href="<%= admin_news_index_path(:status => true) %>" class="waves-effect">Anuncios Vencidos</a>
                    </li>
                    <li>
                      <a href="<%= admin_subjects_path %>" class="waves-effect">Materias</a>
                    </li>
                    <li>
                      <a href="<%= admin_thoughts_path %>" class="waves-effect">Pensamientos</a>
                    </li>
                  <% elsif current_user.is_profesor? %>
                    
                    <li>
                      <a href="<%= forums_path %>" class="waves-effect">Foros</a>
                    </li>
                    <li>
                      <a href="<%= ads_path %>" class="waves-effect">Anuncios</a>
                    </li>
                    <li>
                      <a href="<%= archives_path %>" class="waves-effect">Archivos y/o calificaciones</a>
                    </li>


                    <!--li class="nav-item dropright notifications-nav">
                      <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text-dark">Área de profesores</span>
                      </a>

                      <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="<%= forums_path %>">
                          <i class="fas fa-chalkboard-teacher mr-2" aria-hidden="true"></i>
                          <span>Foros</span>
                        </a>

                        <a class="dropdown-item" href="<%= ads_path %>">
                          <i class="fas fa-sms mr-2" aria-hidden="true"></i>
                          <span>Anuncios</span>
                        </a>

                        <a class="dropdown-item" href="<%= archives_path %>">
                          <i class="fas fa-award mr-2" aria-hidden="true"></i>
                          <span>Archivos y/o calificaciones</span>
                        </a>
                      </div>
                    </li-->

                  <% elsif current_user.is_student? %>
                    <li>
                      <a href="<%= forums_path %>" class="waves-effect">Foros</a>
                    </li>
                    <li>
                      <a href="<%= ads_path %>" class="waves-effect">Anuncios</a>
                    </li>
                    <li>
                      <a href="<%= archives_path %>" class="waves-effect">Archivos y/o calificaciones</a>
                    </li>


                    <!--li class="nav-item dropright dropdown-item">
                      <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Área de estudiantes
                      </a>

                      <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="<%= forums_path %>">
                          <i class="fas fa-chalkboard-teacher mr-2" aria-hidden="true"></i>
                          <span>Foros</span>
                        </a>

                        <a class="dropdown-item" href="<%= ads_path %>">
                          <i class="fas fa-sms mr-2" aria-hidden="true"></i>
                          <span>Anuncios</span>
                        </a>

                        <a class="dropdown-item" href="<%= archives_path %>">
                          <i class="fas fa-award mr-2" aria-hidden="true"></i>
                          <span>Archivos y/o calificaciones</span>
                        </a>
                      </div>
                    </li-->
                  <% elsif current_user.is_representing? %>
                    <li><a href="#">AREA DE REPRESENTANTES, PRONTO OPERATIVA</a></li>
                  <% end %>

                  <li>
                    <%= link_to 'Cerrar Session', destroy_user_session_path, method: :delete, class:'dropdown-item' %>
                  </li>
                <!-- <li><a href="#">Drop Down 5</a></li> -->
              </ul>
            </li>
          <% else %>
            <li class="menu-has-children"><a href="">Ingreso</a>
              <ul>
                <li><a href="<%= new_user_session_path %>">Ingresar al Sistema</a></li>
                <!-- <li class="menu-has-children"><a href="#">Drop Down 2</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 3</a></li>
                 --><li><a href="<%= new_user_password_path %>">Olvidó su Constraseña</a></li>
                <!-- <li><a href="#">Drop Down 5</a></li> -->
              </ul>
            </li>
          <% end %>
          
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->