<section id="hero">
	<div class="hero-container">
	  <h1>Bienvenidos al Colegio Cruz Carrillo</h1>
	  <h2>Somos una Institución Educativa</h2>
	  <a href="#about" class="btn-get-started">Comenzar</a>
	</div>
</section>