<section id="portfolio">
  <div class="container wow fadeInUp">
    <div class="section-header">
      <h3 class="section-title">Nuestro Personal</h3>
      <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
    </div>
    <div class="row">

      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <li data-filter=".filter-app, .filter-card, .filter-logo, .filter-web" class="filter-active">All</li>
          <li data-filter=".filter-app">Administrativo</li>
          <li data-filter=".filter-card">Profesor</li>
          <!-- <li data-filter=".filter-logo">Adminstrador de la Pagina</li> -->
          <li data-filter=".filter-web">Adminstrador de la Pagina</li>
        </ul>
      </div>
    </div>

    <div class="row" id="portfolio-wrapper">
      
      <% @users.each do |user| %>
        
            
            <% if user.roles.first.name == "Profesor" or user.is_profesor?%>
              <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                  <%if user.message != nil %> <a onclick="displayMsg('<%= user.name %> <%= user.lastname %>','<%= user.message%>');" title="<%= user.name %> <%= user.lastname %>: <%= user.message%>"> <% else %> <a> <%end%>
                    <img src="/images/img/portfolio/educador.jpg" alt="">
            <% elsif user.roles.first.name == "Administrativo" %>
              <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <%if user.message != nil %> <a onclick="displayMsg('<%= user.name %> <%= user.lastname %>','<%= user.message%>');" title="<%= user.name %> <%= user.lastname %>: <%= user.message%>"> <% else %> <a> <%end%> 
                  <img src="/images/img/portfolio/administrativo.jpeg" alt="">
            <% elsif user.roles.first.name == "Superadmin" %>
              <div class="col-lg-3 col-md-6 portfolio-item filter-web">
                <%if user.message != nil %> <a onclick="displayMsg('<%= user.name %> <%= user.lastname %>','<%= user.message%>');" title="<%= user.name %> <%= user.lastname %>: <%= user.message%>"> <% else %> <a> <%end%>  
                  <img src="/images/img/portfolio/superadmin.jpeg" alt="">
            <% end %>
            
            <div class="details">
              <h4><%= user.roles.first.name %></h4>

                <span><%= user.name %> <%= user.lastname %></span>
                            
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</section>
  
<div id="ModalProfMsg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 id="modalTitleModalProfMsg" class="modal-title"></h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="black-text">&times;</span>
            </button>
            </div>

            <div id="modalBodyModalProfMsg" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Aceptar</button>
                <!-- <button class="btn btn-primary"><a id="eventUrl" target="_blank">Event Page</a></button> -->
            </div>
        </div>
    </div>
</div>


<script>
    
    function displayMsg(title, msg){
      console.log('tile: '+title+'msg: '+msg);
      $('#modalTitleModalProfMsg').html(title);
      $('#modalBodyModalProfMsg').html(msg);
      $('#ModalProfMsg').modal();
    }

</script>