<!-- <script src="//code.jquery.com/jquery.js"></script> -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script> 

<section id="services">
	<div class="container wow fadeIn">
		<div class="section-header">
		  <h3 class="section-title">Calendario</h3>
		  <p class="section-description">Anuncios y Eventos de Cruz Carrillo</p>
		</div>
		<div class="row">
		  <div class="col-md-10 ml-auto mr-auto">
		        <div class="card card-calendar">
		            <div class="card-body ">
		                <div id="calendar"></div>
		            </div>
		        </div>
			</div>
			<br>
		</div>
	</div>	

	<div id="fullCalModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	  aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">

	                <h4 id="modalTitle" class="modal-title"></h4>

	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true" class="black-text">&times;</span>
			        </button>
	            </div>

	            <div id="modalBody" class="modal-body"></div>
	            <!-- <br> -->
	            <div id="modalBody2" class="modal-body"></div>
	            <!-- <br> -->
	            <div id="modalBody3" class="modal-body"></div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Aceptar</button>
	                <!-- <button class="btn btn-primary"><a id="eventUrl" target="_blank">Event Page</a></button> -->
	            </div>
	        </div>
	    </div>
	</div>
	

</section>

<script>

	$('#calendar').fullCalendar({ 
		weekNumbers: true,
		events: <%= @news.to_json.html_safe %>,
		header: {
	    	left: 'prev,next today',
	        center: 'title',
	        right: 'month,agendaWeek'
	    },
        eventClick:  function(event, jsEvent, view) {
        	var momentDate = moment(event.start);
        	var momentDate2 = moment(event.end);
            $('#modalTitle').html(event.title);
            $('#modalBody').html('Descripción: '+event.description);
            $('#modalBody2').html("\nFecha Inicio: "+momentDate.format("YYYY-MM-DD"));
            $('#modalBody3').html("\nFecha Fin: "+momentDate2.format("YYYY-MM-DD"));
            //$('#eventUrl').attr('href',event.url);
            $('#fullCalModal').modal();
        },
        eventRender: function(event, element) {
		    $(element).tooltip({title: event.description});             
			//$(element).tooltip({title: event.description+"Fecha Inicio: "+momentDate.format("YYYY-MM-DD")+"Fecha Fin: "+momentDate2.format("YYYY-MM-DD") });             
		}
    });
	
	$(".fc-prev-button.btn.btn-default").html('<');
	$(".fc-next-button.btn.btn-default").html('>');

	window.setInterval(function(){
    	$(".fc-today").css( { background: "rgb(206, 17, 17)", opacity:".3" });
    	$('.fc-title').css('color','black');
	    $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end').css('background-color','white');
	    $('.fc-event').css('border','1px solid black');   
	    $('.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end').css('background-color','white');
	    $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-not-end').css('background-color','white');
	    $('.fc-event.fc-event-dot').css('background-color','white');
	    $('.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-not-end').css('background-color','white');
	    $('.fc-day-number').css('color','black');
	    $('.fc-day-number.fc-thu.fc-today.fc-state-highlight').css('color','black');
	    $(".fc-week-number.ui-widget-header").html('S');

    }, 1000);

    /*
	
	{"id":1,
	"title":"Evento de ayer",
	"start":"2016-07-24",
	"end":null,
	"created_at":"2016-07-25T18:15:25.402Z",
	"updated_at":"2016-07-25T18:15:25.402Z"
	}
	
    */
</script>

