<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i&display=swap" rel="stylesheet">
<div class="container">
  <header class= 'mt-0 pt-0 pb-3'>
    <div class="card">
    <%= image_tag(("portada.png"), class: "card-img-top rounded", style: 'height:145px;')  %>
      <div class="card-body col-12">
        <strong class= 'lead font-weight-bold font-italic'><p style="color: black !important;">"Mantén la mente abierta y nunca dejes de aprender"</p></strong>
      </div>
    </div>
  </header>
  <%# CONTENIDO PRINCIPAL %>
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0 texto texto-principal">
      <h1 class='display-4 font-italic'>Breve historia</h1>
      <p class='lead my-3'>
        Hace mucho tiempo, llegó a esta ciudad una dama trujillana llamada <strong class= 'lead font-weight-bold'>Ana Julia Pimentel </strong>, tía de las dueñas actuales del Colegio, <strong class= 'lead font-weight-bold'>Luisa Casas y Ada Casas</strong>, Docente de gran Calidad Humana y educadora que ya ejercía de su tierra natal. En el año de 1961 abre sus puertas a un <strong class= 'lead font-weight-bold'>preescolar</strong> que identificó como ...
        <strong class= 'lead font-weight-bold'>Caperucita Roja</strong>
        
      </p>
      <p class='lead my-3'>
        <strong class= 'lead font-weight-bold'>En el recorrer de los años</strong> voces infantiles llenaron las aulas. Poco a poco el kínder ‘Caperucita’ fue creciendo y en el mes de <strong class= 'lead font-weight-bold'>octubre de 1971</strong> abrió sus puertas con el nombre de <strong class= 'lead font-weight-bold'>Colegio Cruz Carrillo</strong> en honor al prócer trujillano.
        
      </p>
      <p class='lead my-3'>
        Por sus aulas han pasado millares de jóvenes,<strong class= 'lead font-weight-bold'> hoy profesionales</strong> que en los distintos campos del saber humano<strong class= 'lead font-weight-bold'> contribuyen con el desarrollo</strong> económico, político y social del país. De igual docencia y siempre estuvo bajo la tutela de su fundadora Ana Julia Pimentel quien<strong class= 'lead font-weight-bold'> fortalece espiritualmente</strong> día a día a la obra<strong class= 'lead font-weight-bold'> formadora de juventudes </strong> que en el colegio se lleva a cabo.
        
      </p>
    </div>
  </div>
  <%# CONTENIDO SECUNDARIO %>
  <%# POST DESTACADO 1 %>
  <div class="row mb-3 texto-secundario">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4">
        <div class="card-body d-flex flex-column align-items-start bg-light">
          <strong class="d-inline-block font-weight-bold mb-2 text-primary">Misión</strong>
          <p class="card-text font-italic" style='color: #747373 !important;'>
            Formar ciudadanos integrales y responsables con valores de tolerancia, respeto y aceptación a las diferencias, para que sean útiles a la sociedad, como base fundamental en la formación de las familias con cimientos sólidos.
          </p>
        </div>
          <%= image_tag(("MISION.jpg"), class: "card-img-right flex-auto d-none d-lg-block")  %>
      </div>
    </div>
    <%# POST DESTACADO 2 %>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4">
        <div class="card-body d-flex flex-column align-items-start bg-light">
          <strong class="d-inline-block font-weight-bold mb-2 text-danger">Visión</strong>
          <%# <h3 class="mb-0"><a href="#" class="text-dark">Visión</a></h3> %>
          <p class="card-text font-italic" style='color: #747373 !important;'>
            Ser una Institución Educativa que favorezca el desarrollo humano en la formación integral, ética y moral, a partir de la sensibilidad, diversidad y pluralidad, para que el conocimiento contribuya al éxito en la vida.          
          </p>
        </div>
        <%= image_tag(("book.jpg"), class: "card-img-right flex-auto d-none d-lg-block")  %>
      </div>
    </div>
  </div>
</div>
<%# MENU %>
<%# IMAGENES %>

  <div class="row portafolio p-3 mb-3 bg-light rounded">
    <div class="col-8 mb-5 pb-5">
      <h2 class="pb-3 mb-4 border-bottom titulo">Imágenes de la comunidad.</h2>
      <div class="row galeria justify-content-center">
        <div class= 'contenedor-imagen col-8 col-lg-2 mb-2'>
          <a href="#" data-togle='modal' data-target ="#modal">
            <%= image_tag(("Grupo.png"), class: 'img-fluid imagen')  %>
          </a>
        </div>
        <div class= 'contenedor-imagen col-8 col-lg-2 mb-2'>
          <a href="#" data-togle='modal' data-target ="#modal">
            <%= image_tag(("Tiempos.png"), class: 'img-fluid imagen')  %>
          </a>
        </div>
        <div class= 'contenedor-imagen col-12 col-lg-6 mb-2'>
          <a href="#" data-togle='modal' data-target ="#modal">
            <%= image_tag(("Laboratorio.png"), class: 'img-fluid imagen')  %>
          </a>
        </div>
        <div class= 'contenedor-imagen col-12 col-lg-6 mb-2'>
          <a href="#" data-togle='modal' data-target ="#modal">
            <%= image_tag(("Ayuda comunitaria.png"), class: 'img-fluid imagen')  %>
          </a>
        </div>
        <div class= 'contenedor-imagen col-12 col-lg-2 mb-2'>
          <a href="#" data-togle='modal' data-target ="#modal">
            <%= image_tag(("Cancha 2.png"), class: 'img-fluid imagen')  %>
          </a>
        </div>
        <div class= 'contenedor-imagen col-12 col-lg-2 mb-2'>
          <a href="#" data-togle='modal' data-target ="#modal">
            <%= image_tag(("Jovenes.png"), class: 'img-fluid imagen')  %>
          </a>
        </div>
        <div class= 'contenedor-imagen col-12 col-lg-2 mb-2'>
          <a href="#" data-togle='modal' data-target ="#modal">
            <%= image_tag(("Cantina.png"), class: 'img-fluid imagen')  %>
          </a>
        </div>
        <div class= 'contenedor-imagen col-12 col-lg-2 mb-2'>
          <a href="#" data-togle='modal' data-target ="#modal">
            <%= image_tag(("Laboratorio 2.png"), class: 'img-fluid imagen')  %>
          </a>
        </div>
        <div class= 'contenedor-imagen col-12 col-lg-6 mb-2'>
          <a href="#" data-togle='modal' data-target ="#modal">
            <%= image_tag(("Canchas.png"), class: 'img-fluid imagen')  %>
          </a>
        </div>
        <div class= 'contenedor-imagen col-12 col-lg-4 mb-2'>
          <a href="#" data-togle='modal' data-target ="#modal">
            <%= image_tag(("Tiempo de necesidad.png"), class: 'img-fluid imagen')  %>
          </a>
        </div>
        <%# Ventana modal %>
      <!-- Ventana Modal -->
        <div class="modal fade" id="modal">
          <div class="modal-dialog d-flex justify-content-center align-items-center">
            <div class="modal-content">
              <%= image_tag(("Tiempo de necesidad.png"), class: 'img-fluid imagen', id:"imagen-modal")  %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mb-5 pb-5">
      <div class="p-3 mb-3 rounded">
        <h4 class="font-italic" style='color: #747373 !important;'>Sabías que...</h4>
        <p class="mb-0 font-italic" style='color: #747373 !important;'>En el 2010 el equipo de fútbol sala del "Colegio Cruz Carrillo", liderados por el entrenador José Ramón Anderson, quedó campeón de la copa intercolegial celebrada en el colegio "Madre del Divino Pastor"?</p>
      </div>
      <div class="p-3 mb-3 rounded">
        <h5 class="font-italic" style='color: #747373 !important;'>Síguenos en nuestras redes y descarga "Brave" nuestro navegador favorito...</h5>
        <div class="">
          <div id="redessociales" class='mr-3'>
            <a class="smedia facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100010296618276">Uno</a>
            <a class="smedia twitter" target="_blank" href="https://twitter.com/SsSamuelSsS">Dos</a>
            <a class="smedia instagram" target="_blank" href="https://www.brave.com/sam636">Tres</a>
            <a class="smedia youtube" target="_blank" href="https://www.brave.com/sam636">Cuatro</a>
            <a class="smedia email" target="_blank" href="https://www.brave.com/sam636">Seis</a>
          </div>    
        </div>
      </div>
    </div>
  </div>
</main>
<div class="container">
