
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,400,500&display=swap" rel="stylesheet">

<%# <div class="container-fluid"> %>
<div class="row">
  <div class="barra-lateral col-12 col-sm-auto">
    <div class="logo">
      <h2>Dashboard</h2>
    </div>
    <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
      <a href="#"><i class="mr-3 fas fa-home"></i><span>Inicio</span></a>
      <a href="#"><i class="mr-3 fas fa-laptop-code"></i><span>Entradas</span></a>
      <a href="#"><i class="mr-3 fas fa-users"></i><span>Usuarios</span></a>
      <a href="#"><i class="mr-3 fas fa-cogs"></i><span>Configuracion</span></a>
      <a href="#"><i class="mr-3 fas fa-sign-out-alt"></i><span>Salir</span></a>
    </nav>
  </div>
  <%# Contenido Principal %>
  <main class="main col">
    <div class="row">
      <div class="columna col-lg-7">
        <div class="widget nueva_entrada">
          <h3 class="titulo">Nueva Entrada</h3>
          <form action="">
            <input type="text" placeholder="Titulo de la entrada">
            <textarea placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."></textarea>
            <div class="d-flex justify-content-end">
              <button><i class="fas fa-edit"></i> Enviar</button>
            </div>
          </form>
        </div>
      </div>
      <%# Estadisticas %>
      <div class="columna col-lg-5">
        <div class="widget estadisticas">
          <h3 class="titulo">Estadisticas</h3>
          <div class="contenedor d-flex flex-wrap">
            <div class="caja">
              <h3>15,236</h3>
              <p>Visitas</p>
            </div>
            <div class="caja">
              <h3>1,831</h3>
              <p>Registros</p>
            </div>
            <div class="caja">
              <h3>$160,548</h3>
              <p>Ingresos</p>
            </div>
          </div>
        </div>
        <div class="widget comentarios">
          <h3 class="titulo">Comentarios</h3>
          <div class="contenedor">
            <div class="comentario d-flex flex-wrap">
              <div class="foto">
                <a href="#">
                  <img src="../assets/images/persona1.jpg" width="100" alt="">
                </a>
              </div>
              <div class="texto">
                <a href="#">Jhon Doe</a>
                <p>en <a href="#">Mi primer entrada</a></p>
                <p class="texto-comentario">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis natus ex inventore provident modi id distinctio non minus, magni quia officiis, vel debitis doloremque ratione, consequuntur omnis hic voluptatem asperiores?
                </p>
              </div>
              <div class="botones d-flex justify-content-center flex-wrap w-100">
                <button class="aprobar"><i class="fas fa-check mr-1"></i>Aprobar</button>
                <button class="eliminar"><i class="fas fa-times mr-1"></i>Eliminar</button>
                <button class="bloquear"><i class="fas fa-flag mr-1"></i>Bloquear Usuario</button>
              </div>
            </div>
            <div class="comentario d-flex flex-wrap">
              <div class="foto">
                <a href="#">
                  <img src="img/persona2.jpg" width="100" alt="">
                </a>
              </div>
              <div class="texto">
                <a href="#">Jhon Doe</a>
                <p>en <a href="#">Mi primer entrada</a></p>
                <p class="texto-comentario">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis natus ex inventore provident modi id distinctio non minus, magni quia officiis, vel debitis doloremque ratione, consequuntur omnis hic voluptatem asperiores?
                </p>
              </div>
              <div class="botones d-flex justify-content-center flex-wrap w-100">
                <button class="aprobar"><i class="fas fa-check mr-1"></i>Aprobar</button>
                <button class="eliminar"><i class="fas fa-times mr-1"></i>Eliminar</button>
                <button class="bloquear"><i class="fas fa-flag mr-1"></i>Bloquear Usuario</button>
              </div>
            </div>
            <div class="comentario d-flex flex-wrap">
              <div class="foto">
                <a href="#">
                  <img src="img/persona3.jpg" width="100" alt="">
                </a>
              </div>
              <div class="texto">
                <a href="#">Jhon Doe</a>
                <p>en <a href="#">Mi primer entrada</a></p>
                <p class="texto-comentario">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis natus ex inventore provident modi id distinctio non minus, magni quia officiis, vel debitis doloremque ratione, consequuntur omnis hic voluptatem asperiores?
                </p>
              </div>
              <div class="botones d-flex justify-content-center flex-wrap w-100">
                <button class="aprobar"><i class="fas fa-check mr-1"></i>Aprobar</button>
                <button class="eliminar"><i class="fas fa-times mr-1"></i>Eliminar</button>
                <button class="bloquear"><i class="fas fa-flag mr-1"></i>Bloquear Usuario</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
