<h1>New Personal</h1>
<%= render 'form', personal: @personal %>
<%= link_to 'Back', personals_path %>
<% @personals.each do |personal| %>
  <tr>
    <td><center><%= personal.tilte %></center></td>
    <td><center><%= personal.text %></center></td>
  </tr>
<% end %>
