<p id="notice"><%= notice %></p>

<p>
  <strong>Tilte:</strong>
  <%= @personal.tilte %>
</p>

<p>
  <strong>Text:</strong>
  <%= @personal.text %>
</p>

<%= link_to 'Edit', edit_personal_path(@personal) %> |
<%= link_to 'Back', personals_path %>
