
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">



<!-- <body class="bg-gradient-primary"> -->
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <!-- <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1> -->
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                    <h4 class="h4 text-gray-900 mb-4">Cruz Carrillo!</h4>
                  </div>
                    <!--<form class="user"> -->
                    <%= form_for(resource, as: resource_name, :html => {class:"user"}, url: session_path(resource_name)) do |f| %>

                      <div class="form-group">
                        <!-- <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..."> -->
                        <%= f.email_field :email, class:'form-control form-control-user', id:"exampleInputEmail", placeholder:"Enter Email Address...", autofocus: true, autocomplete: "email"%>

                      </div>
                      <div class="form-group">
                        <!-- <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password"> -->
                        <%= f.password_field :password, class:"form-control form-control-user", id:"exampleInputPassword", placeholder:"Password", autocomplete: "current-password" %>
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                          <!-- <input type="checkbox" class="custom-control-input" id="customCheck"> -->
                          <% if devise_mapping.rememberable? %>
                              <%= f.check_box :remember_me, class:"custom-control-input", id:"customCheck" %>
                          <% end %>

                          <label class="custom-control-label" for="customCheck">Remember Me</label>
                        </div>
                      </div>
                      <!-- <a href="index.html" class="btn btn-primary btn-user btn-block">
                        Login
                      </a> -->
                      <%= f.submit "Log in", class:"btn btn-primary btn-user btn-block" %>
                      <hr>
                      <a href="index.html" class="btn btn-google btn-user btn-block">
                        <i class="fab fa-google fa-fw"></i> Login with Google
                      </a>
                      <a href="index.html" class="btn btn-facebook btn-user btn-block">
                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                      </a>
                    <% end %>
                    <!--</form> -->
                  <hr>
                  <div class="text-center">
                    <!-- <a class="small" href="forgot-password.html">Forgot Password?</a> -->
                    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                      <%= link_to "Forgot your password?", new_password_path(resource_name), :class=>"small"%>
                    <% end %>
                  </div>
                  <div class="text-center">
                    <!-- <a class="small" href="register.html">Create an Account!</a> -->
                    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                      <%= link_to "Create an Account!", new_registration_path(resource_name), :class=>"small"%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </body> -->
<script type="text/javascript">
  var body = document.body;
  body.classList.add("bg-gradient-primary");
  //alert("DOne");
  //document.getElementsByClassName('nav justify-content-end')[0].style.visibility = "hidden";
</script>