<!-- Footer -->
	<br>
	<br>
	<footer class="page-footer font-small cyan darken-3 fixed-bottom">
		<!-- <hr> -->
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2019 Copyright:
			<a href="https://mdbootstrap.com/education/bootstrap/"> Cruz Carrillo</a>
		</div>
		<!-- Copyright -->
	</footer>		
 <!-- End of Footer -->