<!-- Central Modal Medium Success -->
<div class="modal fade" id="FlashMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <% flash.each do |name, msg| %>
  <div class="modal-dialog modal-notify modal-primary" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead" id="labelModalMessages">Mensaje</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <p class="text-primary"><i class="fa fa-check fa-4x mb-3 animated rotateIn"></i></p>
          <p><%= msg %></p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <!-- <a type="button" class="btn btn-success">Get it now <i class="far fa-gem ml-1 text-white"></i></a> -->
        <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Aceptar</button>
      </div>
      <% end %>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Success-->