<!-- Central Modal Medium Success -->
<div class="modal fade" id="FlashMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <% flash.each do |name, msg| %>
  <div class="modal-dialog modal-notify modal-<%="#{name}" %>" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead" id="labelModalMessages">Mensaje</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <p class="text-<%="#{name}" %>"><i class="fas fa-check fa-4x mb-3 animated rotateIn"></i></p>
          <p id="msg_text" class="text-dark"><%= msg %></p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <!-- <a type="button" class="btn btn-success">Get it now <i class="far fa-gem ml-1 text-white"></i></a> -->
        <a type="button" class="btn btn-outline-<%="#{name}" %> btn-sm waves-effect" data-dismiss="modal" id="AcceptButton">Aceptar</a>
      </div>
      <% end %>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Success-->

<script>
  $('#msg_text').removeClass('text-white');
</script>