<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">

      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
      </div>

      <!-- Breadcrumb -->
      <div class="breadcrumb-dn mr-auto ml-3">
        <%= image_tag(("logop.png"), href: 'root_path', class: "card-img-top" , style: 'width:50px; height: 50px;')  %>
      </div>

      <div class="d-flex change-mode">

        <div class="ml-auto mb-0 mr-3 change-mode-wrapper">
          <button class="btn btn-outline-black btn-sm" id="dark-mode">Cambiar Modo</button>
        </div>  

        <!-- Navbar links -->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">

          <!-- Dropdown -->
          <!--li class="nav-item dropdown notifications-nav">
            <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="badge red">3</span> <i class="fas fa-bell"></i>
              <span class="d-none d-md-inline-block">Notifications</span>
            </a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">
                <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                <span>New order received</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 13 min</span>
              </a>
              <a class="dropdown-item" href="#">
                <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                <span>New order received</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 33 min</span>
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-chart-line mr-2" aria-hidden="true"></i>
                <span>Your campaign is about to end</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 53 min</span>
              </a>
            </div>
          </li-->

          <!--Area de estudiantes y profesores-->
          <% if user_signed_in? %> 
            <!--Foros Anuncios y calificaciones-->
            <li class="nav-item dropdown notifications-nav">
              <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-book"></i>
                <span class="d-none d-md-inline-block">Área de aprendizaje</span>
              </a>

              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="<%= forums_path %>">
                  <i class="fas fa-chalkboard-teacher mr-2" aria-hidden="true"></i>
                  <span>Foros</span>
                </a>

                <a class="dropdown-item" href="<%= ads_path %>">
                  <i class="fas fa-sms mr-2" aria-hidden="true"></i>
                  <span>Anuncios</span>
                </a>

                <a class="dropdown-item" href="<%= archives_path %>">
                  <i class="fas fa-award mr-2" aria-hidden="true"></i>
                  <span>Archivos y/o calificaciones</span>
                </a>
              </div>
            </li>
          <% end %>






          <!-- <li class="nav-item">
            <a class="nav-link waves-effect"><i class="fas fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect"><i class="far fa-comments"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i><span class ="d-none d-md-inline-block">&nbsp;<%= current_user.email %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <% if user_signed_in? %>
                <%= link_to root_path, class:'dropdown-item' do %>
                  <i class="fas fa-home"></i> Página principal
                <% end %>
                <a class="dropdown-item" href="<%= edit_user_registration_path%>">
                <% if current_user.is_profesor? %><i class="fas fa-dice"></i> Cambiar Mensaje o Contraseña <%else%> <i class="fas fa-dice"></i> Cambiar Contraseña <%end%>                </a>
                <%= link_to destroy_user_session_path, method: :delete, class:'dropdown-item' do%>
                  <i class="fa fa-link"></i> Cerrar Session
                <% end %>
              <% else %>
                <%= link_to 'Iniciar Session', new_user_session_path, class:'dropdown-item' %>
              <% end %>

              <!-- <a class="dropdown-item" href="#">Mi Cuenta</a> -->
            </div>
          </li>

        </ul>
        <!-- Navbar links -->

      </div>

    </nav>