<% if user_signed_in? %> 
  <div id="slide-out" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">

      <!-- Logo -->
      <li class="logo-sn waves-effect py-3">
        <div class="text-center">
          <a href="#" class="pl-0">
            <img src="/images/logoCruzCarrilloII.png" width="95" height="70">
          </a>
        </div>
      </li>

      <!-- Search Form -->
      <li>
        <!-- <form class="search-form" role="search">
          <div class="md-form mt-0 waves-light">
            <input type="text" class="form-control py-2" placeholder="Search">
          </div>
        </form> -->
        <br>
      </li>
     
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">

          <!--li>
            <a class="collapsible-header waves-effect arrow-r">
              <i class="w-fa fas fa-tachometer-alt"></i> Dashboards<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a href="../dashboards/v-1.html" class="waves-effect">Version 1</a>
                </li>
                <li>
                  <a href="../dashboards/v-2.html" class="waves-effect">Version 2</a>
                </li>
                <li>
                  <a href="../dashboards/v-3.html" class="waves-effect">Version 3</a>
                </li>
                <li>
                  <a href="../dashboards/v-4.html" class="waves-effect">Version 4</a>
                </li>
                <li>
                  <a href="../dashboards/v-5.html" class="waves-effect">Version 5</a>
                </li>
                <li>
                  <a href="../dashboards/v-6.html" class="waves-effect">Version 6</a>
                </li>
              </ul>
            </div>
          </li--> 
          <% if can? :manage, Email%>
          <li>
            <a class="collapsible-header waves-effect arrow-r">
              <i class="fas fa-mail-bulk"></i> Correos Enviados<i class="fas fa-angle-down rotate-icon"></i>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a href="<%= admin_emails_path %>" class="waves-effect">Lista</a>
                </li>
              </ul>
            </div>
          </li>

          <% end %>
          <% if can? :send_mm_email, User or can? :send_ms_email, User%>
            <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="w-fa fas fa-at"></i> Enviar Emails<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  
                  <% if current_user.is_admin? or current_user.is_administrativo? %>

                    <li>
                      <a class="waves-effect" onclick="add_email(1);" id="multipleEmailbutton" data-placement="bottom" title="Email a Multiples Usuarios">Multiples Usuarios</a>  
                    </li>

                  <% end %>

                  <% if current_user.is_admin? or current_user.is_administrativo? %>
                    <li>
                      <a class="waves-effect" onclick="add_email(2);" id="multipleEmailbuttonII" data-placement="bottom" title="Email a Usuarios Administrativos">Usuarios Administrativos</a>
                    </li>

                  <% end %>
                  
                  <% if current_user.is_admin? or current_user.is_administrativo? or current_user.is_profesor? %>
                    <li>
                      <a class="waves-effect" onclick="add_email(3);" id="multipleEmailbuttonIII" data-placement="bottom" title="Email a Usuarios Profesores">Usuarios Profesores</a>
                    </li>
                  <% end %>

                  <% if current_user.is_admin? or current_user.is_administrativo? or current_user.is_profesor? %>
                    <li>
                      <a class="waves-effect" onclick="add_email(4);" id="multipleEmailbuttonIV" data-placement="bottom" title="Email a Usuarios Estudiantes">Usuarios Estudiantes</a>
                    </li>
                  <% end %>

                  <% if current_user.is_admin? or current_user.is_administrativo? or current_user.is_profesor? %>
                    <li>
                      <a class="waves-effect" onclick="add_email(5);" id="multipleEmailbuttonV" data-placement="bottom" title="Email a Usuarios Representantes">Usuarios Representantes</a>
                    </li>
                  <% end %>

                  <% if current_user.is_admin? or current_user.is_administrativo? or current_user.is_profesor? %>
                    <li>
                      <a class="waves-effect" onclick="add_email(6);" id="multipleEmailbuttonVI" data-placement="bottom" title="Email a Usuarios por Seccion">Usuarios por Seccion</a>
                    </li>
                  <% end %>
                  <!--li>
                    <a class="waves-effect" onclick="add_email(7);" id="multipleEmailbuttonVII" data-placement="bottom" title="Email a Representantes por Seccion">Representantes por Seccion</a>
                  </li-->
                </ul>
              </div>
            </li>
          <% end %>

          <% if can? :create, User or can? :read, User or can? :update, User%>

            <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="w-fa fas fa-users"></i> Usuarios<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="<%= admin_users_path(:status => 'Activo') %>" class="waves-effect">Usuarios Activos</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Administrativo', :status => 'Activo') %>" class="waves-effect">Administrativo Activos</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Profesor', :status => 'Activo') %>" class="waves-effect">Profesores Activos</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Estudiante', :status => 'Activo') %>" class="waves-effect">Alumnos Activos</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Representante', :status => 'Activo') %>" class="waves-effect">Representantes Activos</a>
                  </li>
                   <li>
                    <a href="<%= admin_users_path(:status => 'Inactivo') %>" class="waves-effect">Usuarios Inactivos</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Administrativo', :status => 'Inactivo') %>" class="waves-effect">Administrativo Inactivos</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Profesor', :status => 'Inactivo') %>" class="waves-effect">Profesores Inactivos</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Estudiante', :status => 'Inactivo') %>" class="waves-effect">Alumnos Inactivos</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Representante', :status => 'Inactivo') %>" class="waves-effect">Representantes Inactivos</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path %>" class="waves-effect">Todos los Usuarios</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Administrativo') %>" class="waves-effect">Todos los Administradores</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Profesor') %>" class="waves-effect">Todos los Profesores</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Estudiante') %>" class="waves-effect">Todos los Estudiantes</a>
                  </li>
                  <li>
                    <a href="<%= admin_users_path(:role => 'Representante') %>" class="waves-effect">Todos los Representantes</a>
                  </li>
                  <li>
                    <a href="<%= new_admin_user_path%>" class="waves-effect">Crear Usuario</a>
                  </li>
                </ul>
              </div>
            </li>
          <% end %>

          <% if can? :create, User or can? :read, User or can? :update, User%>
            <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="w-fa fas fa-th-large"></i> Secciones<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="<%= admin_sections_path %>" class="waves-effect">Todas las Secciones</a>
                  </li>
                  <li>
                    <a href="<%=  new_admin_section_path %>" class="waves-effect">Crear Sección</a>
                  </li>
                </ul>
              </div>
            </li>
          <% end %>
          
          <% if can? :create, New or can? :read, New or can? :update, New%>
            <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="w-fa far fa-calendar-check"></i> Anuncios<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="<%= admin_news_index_path(:status => nil) %>" class="waves-effect">Actuales</a>
                  </li>
                  <li>
                    <a href="<%= admin_news_index_path(:status => true) %>" class="waves-effect">Vencidos</a>
                  </li>
                  <li>
                    <a href="<%= new_admin_news_path %>" class="waves-effect">Nuevo Anuncio</a>
                  </li>
                </ul>
              </div>
            </li>
          <% end %>
          
          <% if can? :create, Subject or can? :read, Subject or can? :update, Subject%>
            <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="w-fa fas fa-cubes"></i> Materias<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="<%= admin_subjects_path %>" class="waves-effect">Todas</a>
                  </li>
                  <li>
                    <a href="<%= admin_subjects_path(:status => 'Activo') %>" class="waves-effect">Activas</a>
                  </li>
                  <li>
                    <a href="<%= admin_subjects_path(:status => 'Inactivo') %>" class="waves-effect">Inactivas</a>
                  </li>
                  <li>
                    <a href="<%= new_admin_subject_path %>" class="waves-effect">Crear Materia</a>
                  </li>
                </ul>
              </div>
            </li>
          <% end %>
          
          <% if can? :create, Thought or can? :read, Thought or can? :update, Thought%>
            <li>
              <a class="collapsible-header waves-effect arrow-r">
                <i class="fas fa-leaf"></i> Pensamientos<i class="fas fa-angle-down rotate-icon"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <li>
                    <a href="<%= admin_thoughts_path %>" class="waves-effect">Todos</a>
                  </li>
                  <li>
                    <a href="<%= new_admin_thought_path %>" class="waves-effect">Crear Pensamiento</a>
                  </li>
                </ul>
              </div>
            </li>
          <% end %>

          <!--Area de estudiantes y profesores-->

            <hr>
            <% if can? :read, Forum %>
              <!--Foros-->
              <li>
                <a class="collapsible-header waves-effect arrow-r">
                  <i class="fas fa-chalkboard-teacher"></i> Foros de aprendizaje<i class="fas fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                  <ul>
                    <li>
                      <a href="<%= forums_path %>" class="waves-effect">Lista de foros</a>
                    </li>
                    <% if can? :create, Forum %>
                      <li>
                        <a href="<%= new_forum_path %>" class="waves-effect">Crear foro</a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </li>
            <% end %>

            <!--Anuncios-->
            <% if can? :read, Forum %>
              <li>
                <a class="collapsible-header waves-effect arrow-r">
                  <i class="fas fa-sms"></i> Anuncio de profesores<i class="fas fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                  <ul>
                    <li>
                      <a href="<%= ads_path %>" class="waves-effect">Lista de anuncios</a>
                    </li>
                    <% if can? :create, Forum %>
                      <li>
                        <a href="<%= new_ad_path %>" class="waves-effect">Crear anuncio</a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </li>
            <%end%>

            <!--Archivos y calificaciones-->
            <% if can? :read, Forum %>
              <li>
                <a class="collapsible-header waves-effect arrow-r">
                  <i class="fas fa-award"></i> Archivos y/o calificaciones<i class="fas fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                  <ul>
                    <li>
                      <a href="<%= archives_path %>" class="waves-effect">Todos los archivos</a>
                    </li>
                    <% if can? :create, Forum %>
                      <li>
                        <a href="<%= new_archive_path %>" class="waves-effect">Crear archivo</a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </li>
            <%end%>

            <hr>

            <% if current_user.is_administrativo? or current_user.is_admin?%>
              <li>
                <a class="collapsible-header waves-effect arrow-r">
                  <i class="fas fa-book"></i> Manual para administradores<i class="fas fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                  <ul>
                    <li>
                      <%= link_to 'Click para descargar', "/manual/Manual de Usuario AD y SUPERAD Unidad Educativa Colegio Cruz Carrillo.pdf", target: "_blank", data: { no_turbolink: true }, class:"waves-effect" %>
                    </li>
                  </ul>
                </div>
              </li>
            <%end%>

            <% if current_user.is_profesor? or current_user.is_administrativo? or current_user.is_admin?%>
              <li>
                <a class="collapsible-header waves-effect arrow-r">
                  <i class="fas fa-book"></i> Manual para profesores<i class="fas fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                  <ul>
                    <li>
                      <%= link_to 'Click para descargar', "/manual/manual para profesores de la Unidad Educativa Colegio Cruz Carrillo.pdf", target: "_blank", data: { no_turbolink: true }, class:"waves-effect" %>
                    </li>
                  </ul>
                </div>
              </li>
            <%end%>

            <% if current_user.is_student? or current_user.is_administrativo? or current_user.is_admin?%>        
              <li>
                <a class="collapsible-header waves-effect arrow-r">
                  <i class="fas fa-book"></i> Manual para estudiantes<i class="fas fa-angle-down rotate-icon"></i>
                </a>
                <div class="collapsible-body">
                  <ul>
                    <li>
                      <%= link_to 'Click para descargar', "/manual/manual para estudiantes de la Unidad Educativa Colegio Cruz Carrillo.pdf", target: "_blank", data: { no_turbolink: true }, class:"waves-effect" %>
                    </li>
                  </ul>
                </div>
              </li>
            <%end%>

          <!-- Simple link -->
          <!-- <li>
            <a href="#" class="collapsible-header waves-effect" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
          </li>
          <li>
            <a href="#" class="collapsible-header waves-effect" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
          </li>
          <li>
            <a href="#" class="collapsible-header waves-effect" target="_blank"><i class="fab fa-google-plus-square"></i> Google</a>
          </li>
          <li>
            <a href="#" class="collapsible-header waves-effect" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
          <li>
            <a href="#" class="collapsible-header waves-effect" target="_blank"><i class="fab fa-pinterest-square"></i> Pinterest</a>
          </li>
          <li>
            <a href="https://www.mozilla.org/es-ES/firefox/new/" class="collapsible-header waves-effect" data-placement="botton" title="Le recomendamos usar el Navegador Firefox" target="_blank"><i class="fab fa-firefox"></i>  Mozila</a>
          </li>
          <li>
            <a href="http://www.edudatos.com/Colegios/ColegioLogin_H5_01.asp" class="collapsible-header waves-effect" target="_blank"><i class="fas fa-book-reader"></i> EduRest</a>
          </li> -->
    
        </ul>
      </li>
      <!-- Side navigation links -->

    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>


  <!--Modal: que envia el email a multiples usuarios-->
  <div class="modal fade" id="EmailMultipleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-fluid" role="document">
      <!--Content-->
      <div class="modal-content">

        <!--Header-->
        <div class="modal-header">
        
          <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle img-responsive"> -->
          <img src="/images/sendEmail.png" alt="avatar" class="rounded-circle img-responsive">

        </div>
        <!--Body-->
        <div class="modal-body text-center mb-1">
      
          <h5 class="mt-1 mb-2" id="EmailMultiple">Email Multiple</h5>
      
      <div class="md-form">
          <div class="row">
            <div class="col-sm-3">
                <input type="text" list="emails" class="form-control" id="MMEmailInput">
            <datalist id="emails">
              
            </datalist>

            <select id="emailSelect" class="browser-default custom-select">

            </select>
            
            </div>
            <div class="col-sm-1">
              <button id='add_email_MM' class="btn btn-sm btn-success" data-placement="bottom" title="Agregar Email">+</button>
              <button id='add_seccion_MM' class="btn btn-sm btn-success" data-placement="bottom" title="Agregar Seccion">+</button>
            </div>
            <div class="col-sm-2">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
              <label class="form-check-label text-dark" for="materialUnchecked">Seleccionar Todos</label>
            </div>
          </div>
      </div>

      <!--Material textarea-->
      <div class="md-form">
        <label for="receiversMM" id='labelCorreoreceiversMM'>Destinatarios</label>
        <br>
        <br>
        <p id="receiversMM" class="text-left">
          
        </p>  
      </div>
        
          <!-- Material input -->
      <div class="md-form">
        <input type="text" id="subjectMM" class="form-control">
        <label for="subjectMM" id='labelCorreoMMAsunto'>Asunto</label>
      </div>

      <!--Material textarea-->
      <div class="md-form">
        <textarea id="messageMM" class="md-textarea form-control" rows="3"></textarea>
        <label for="messageMM" id='labelCorreoMMMensaje'>Mensaje</label>
      </div>

          <div class="text-center mt-4">
            <button class="btn btn-sm btn-light shadow-sm" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      
      </div>
      <!--/.Content-->
    </div>
  </div>
  
  <!-- Modal de Mensaje de Correo Enviado -->
  <!-- To change the direction of the modal animation change .right class -->
  <div class="modal fade right" id="sideModalTRMM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-side modal-top-right" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100" id="myModalLabelSuccessMM"> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="sideModalTRBody">
          <h6 class="modal-title w-100" id="success_p_modal"> </h6>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-sm btn-secondary" >Close</button> -->
          <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" onclick="location.reload();">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Side Modal Top Right -->
<% end %>

<script>

  
  var users_email;
  var section;

  function add_email(tipo){
    
    $( ".emails" ).remove();
    $( ".btn.btn-sm.btn-primary.shadow-sm.sendMM").remove(); 
    $( "#materialUnchecked" ).prop( "checked", false );
    $("#subjectMM").val("");
    $("#messageMM").val("");
    $("#destinatarios").val("");

    $('#emailSelect').css("display", "none");
    $('#emailSelect').removeClass( "browser-default custom-select" );

    $('#MMEmailInput').css("display", "none");

    switch(tipo) {
        
        case 1:
          // code block a todos los Usuarios
          var users_email =  JSON.parse('<%= User.select(:id, :email, :name, :lastname).to_json.html_safe%>');
        //console.log(users_email);
          if (users_email.length > 0){
          $('#EmailMultiple').text('Email Multiple para todos los Usuarios en el Sistema');
          $modal = $('#EmailMultipleModal');
          fill_data_list(users_email);
          $("#add_seccion_MM").css("display", "none");
          $("#add_email_MM").css("display", "block");
          $(".text-center.mt-4").append('<button type="button" class="btn btn-sm btn-primary shadow-sm sendMM" id="sendEmailMM" onclick="send_email_MM()">Enviar</button>');
          $("#MMEmailInput").attr("placeholder", "Seleccione Email y presione +");
          $modal.modal('show');
        } else {
            alert('No se encontraron registros');
          } 
          //alert('Entre en el case: '+tipo);
        break;
        
        case 2:
          // code block a Administrativos
          var users_email = JSON.parse('<%= User.select(:id, :email, :name, :lastname).where(status: 'Activo', id: UserRole.where(role_id: Role.where(name: 'Administrativo').pluck(:id)).pluck(:user_id)).to_json.html_safe%>');
          if (users_email.length > 0){
          $('#EmailMultiple').text('Email Multiple para todos los Usuarios Admnistrativos en el Sistema');
          $modal = $('#EmailMultipleModal');
          fill_data_list(users_email);
          $("#add_seccion_MM").css("display", "none");
          $("#add_email_MM").css("display", "block");
          $(".text-center.mt-4").append('<button type="button" class="btn btn-sm btn-primary shadow-sm sendMM" id="sendEmailMM" onclick="send_email_MM()">Enviar</button>');
          $("#MMEmailInput").attr("placeholder", "Seleccione Email y presione +");
          $modal.modal('show');
          } else {
            alert('No se encontraron registros');
          } 
          //alert('Entre en el case: '+tipo); 
        break;
        
        case 3:
          // code block a Porfesores
          var users_email = JSON.parse('<%= User.select(:id, :email, :name, :lastname).where(status: 'Activo', id: UserRole.where(role_id: Role.where(name: 'Profesor').pluck(:id)).pluck(:user_id)).to_json.html_safe%>');
          if (users_email.length > 0){
          $('#EmailMultiple').text('Email Multiple para todos los Usuarios Profesores en el Sistema');
          $modal = $('#EmailMultipleModal');
          fill_data_list(users_email);
          $("#add_seccion_MM").css("display", "none");
          $("#add_email_MM").css("display", "block");
          $(".text-center.mt-4").append('<button type="button" class="btn btn-sm btn-primary shadow-sm sendMM" id="sendEmailMM" onclick="send_email_MM()">Enviar</button>');
          $("#MMEmailInput").attr("placeholder", "Seleccione Email y presione +");
          $modal.modal('show');
        } else {
            alert('No se encontraron registros');
          } 
          //alert('Entre en el case: '+tipo);
        break;
        
        case 4:
          // code block Envio a Estudiantes
          var users_email = JSON.parse('<%= User.select(:id, :email, :name, :lastname).where(status: 'Activo', id: UserRole.where(role_id: Role.where(name: 'Estudiante').pluck(:id)).pluck(:user_id)).to_json.html_safe%>');
          if (users_email.length > 0){
          $('#EmailMultiple').text('Email Multiple para todos los Usuarios Estudiantes en el Sistema');
          $modal = $('#EmailMultipleModal');
          fill_data_list(users_email);
          $("#add_seccion_MM").css("display", "none");
          $("#add_email_MM").css("display", "block");
          $(".text-center.mt-4").append('<button type="button" class="btn btn-sm btn-primary shadow-sm sendMM" id="sendEmailMM" onclick="send_email_MM()">Enviar</button>');
          $("#MMEmailInput").attr("placeholder", "Seleccione Email y presione +");
          $modal.modal('show');
        } else {
            alert('No se encontraron registros');
          } 
          // alert('Entre en el case: '+tipo);
        break;
        
        case 5:
          // code block a Representantes
          var users_email = JSON.parse('<%= User.select(:id, :email, :name, :lastname).where(status: 'Activo', id: UserRole.where(role_id: Role.where(name: 'Representante').pluck(:id)).pluck(:user_id)).to_json.html_safe%>');
          if (users_email.length > 0){
            $('#EmailMultiple').text('Email Multiple para todos los Usuarios Representantes en el Sistema');
          $modal = $('#EmailMultipleModal');
          fill_data_list(users_email);
          $("#add_seccion_MM").css("display", "none");
          $("#add_email_MM").css("display", "block");
          $(".text-center.mt-4").append('<button type="button" class="btn btn-sm btn-primary shadow-sm sendMM" id="sendEmailMM" onclick="send_email_MM()">Enviar</button>');
          $("#MMEmailInput").attr("placeholder", "Seleccione Email y presione +");
          $modal.modal('show');
        } else {
            alert('No se encontraron registros');
          } 
          // alert('Entre en el case: '+tipo);
        break;
        
        case 6:
          // code block
          var section = JSON.parse('<%= Section.select( :id, :description).to_json.html_safe %>');
          if (section.length > 0){
            $('#EmailMultiple').text('Email Multiple para todas las Secciones');
          $modal = $('#EmailMultipleModal');
          fill_data_list2(section);
          $("#add_seccion_MM").css("display", "block");
          $("#add_email_MM").css("display", "none");
          $(".text-center.mt-4").append('<button type="button" class="btn btn-sm btn-primary shadow-sm sendMM" id="sendEmailMS" onclick="send_email_MS()">Enviar</button>');
          $modal.modal('show');

          } else {
            alert('No se encontraron registros');
          }
          //alert('Entre en el case: '+tipo);
        break;
        
        case 7:
          // code block
          var section = JSON.parse('<%= Section.select( :id, :description).to_json.html_safe %>');
          if (section.length > 0){
            $('#EmailMultiple').text('Email Multiple para todas las Secciones');
          $modal = $('#EmailMultipleModal');
          fill_data_list2(section);
          $("#add_seccion_MM").css("display", "block");
          $("#add_email_MM").css("display", "none");
          $(".text-center.mt-4").append('<button type="button" class="btn btn-sm btn-primary shadow-sm sendMM" id="sendEmailMS" onclick="send_email_MS()">Enviar</button>');
          $modal.modal('show');

          } else {
            alert('No se encontraron registros');
          }
          //alert('Entre en el case: '+tipo);
        break;
        
        default:
          // code block
          add_email(1);
      };
    
  }


  function fill_data_list(users_email){
    $('#MMEmailInput').css("display", "block");
    $('#emails option').remove();
    $('#emailSelect option').remove();
    $(users_email).each(function (idx, o) {
          emailsOption = "<option value='" + this.email + "'>" + this.email + "</option>";
          $('#emails').append(emailsOption);
      });
  }

  function fill_data_list2(section){
    $('#emailSelect').addClass( "browser-default custom-select" );
    $('#emails option').remove();
    $('#emailSelect option').remove();
    var o = new Option('Seleccione Sección', null);
    $("#emailSelect").append(o);
    $(section).each(function (idx, o) {
      //console.log(this.id+' '+this.description);    
          var o = new Option(this.id+'- '+ this.description, this.id+'- '+ this.description);
      $("#emailSelect").append(o);
      });
  }


  $("#add_email_MM").click(function() {

    // alert($('#receiversMM').text());

    var input_val = $("#MMEmailInput").val();
    var receivers = $('#receiversMM').text();
    
    //function_to_do = 'myfuncion("'+String(input_val)+'")';
    function_to_do = 'this.remove();';

    if (receivers.search( input_val )  == -1){
    if(input_val != '' && textEmail(input_val) != -1){
      //$('#receiversMM').append('<a data_placement="botton" title="Remover '+input_val+'" onclick="myfuncion('red')" >'+input_val+';</a>');
      $('#receiversMM').append("<a id='"+input_val+"' data_placement='bottom' class='emails text-dark' title='Remover "+input_val+"' onclick='"+function_to_do+"' >"+input_val+"; </a>");
        //$('#receiversMM').append(input_val+";");
        $("#MMEmailInput").val('');
      } else{
        alert('Ingrese un destinatario válido');
        $("#MMEmailInput").val('');
      }       
    } else{
      alert('Email ya ingresado');
      $("#MMEmailInput").val('');
    }
  });

  $("#add_seccion_MM").click(function(){
    var input_val = $("#MMEmailInput").val();
    var receivers = $('#receiversMM').text();
    //unique = return_unique(unique);
    //function_to_do = 'myfuncion("'+String(input_val)+'")';
    function_to_do = 'this.remove();';

    if (receivers.search( input_val )  == -1){
    if(input_val != ''){
      //$('#receiversMM').append('<a data_placement="botton" title="Remover '+input_val+'" onclick="myfuncion('red')" >'+input_val+';</a>');
      $('#receiversMM').append("<a id='"+input_val+"' data_placement='bottom' class='emails text-dark' title='Remover "+input_val+"' onclick='"+function_to_do+"' >"+input_val+"; </a>");
        //$('#receiversMM').append(input_val+";");
        $("#MMEmailInput").val('');
      } else{
        alert('Ingrese una seccion valida');
        $("#MMEmailInput").val('');
      }       
    } else{
      alert('Seccion ya ingresada');
      $("#MMEmailInput").val('');
    }
  });

  function fill_receivers(valor_input){
    var input_val = valor_input;
    var receivers = $('#receiversMM').text();
    function_to_do = 'this.remove();';

    if (receivers.search( input_val )  == -1){
    if(input_val != ''){
      //$('#receiversMM').append('<a data_placement="botton" title="Remover '+input_val+'" onclick="myfuncion('red')" >'+input_val+';</a>');
      $('#receiversMM').append("<a id='"+input_val+"' class='emails text-dark' data_placement='bottom' title='Remover "+input_val+"' onclick='"+function_to_do+"' >"+input_val+"; </a>");
        //$('#receiversMM').append(input_val+";");
        $("#MMEmailInput").val('');
      } 
      // else{
      //  alert('Ingrese una seccion valida');
      //  $("#MMEmailInput").val('');
      // }        
    } 
    // else {
    //  alert('Seccion ya ingresada');
    //  $("#MMEmailInput").val('');
    // }
  }

  $("#materialUnchecked").click(function(){
      if ($('#materialUnchecked').is(':checked')) {
        //alert('Its check');
        $('#emails option[value!=null]').each(function() {
          //console.log($(this).val());
          fill_receivers($(this).val());
      });

      $('#emailSelect option[value!=null]').each(function() {
          //console.log($(this).val());
          fill_receivers($(this).val());
      });     
      } /*else{
        //alert('Isnt check');
      }*/
  });

  function textEmail(email){
    var result = 0;
    var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

      if (!expr.test(email)) {
          result = -1; //Esto significa que es invalido el correo
      }
      else {
          result ==0;
      }

    return result;
  }

  function send_email_MM(){
    var emails = $('#receiversMM').text().replace(/\s/g, "");
    var subject = $("#subjectMM").val();
    var message = $("#messageMM").val();
    var ids = [];
    
    // alert('Entre');
    emails = emails.split(";");
    emails = emails.filter(function(v){return v!==''});
    //console.log( emails);

    if(subject != '' && message != '' && emails.length > 0){
      
      url = "<%= admin_send_mm_email_path %>";
      $.ajax({
        type: "GET",  
        //dataType: "json",
        //http://0.0.0.0:3000/admin/send_email_representing/1,subject,message
        url: url,
        data: {data_1: message, data_2: subject, data_3:emails },
        contentType: "application/json",
        success: function (data) {
          
          if (data.status == "Ok"){
            displayEmailSuccesMenssageSidebar("Correo Enviado");
          } else if(data.status == "NotOk"){
            displayEmailSuccesMenssageSidebar("Ocurrió un Correo No Enviado, Por favor intente nuevamente.");
          }         
        },
        error: function (data) {
            console.log("Ha ocurrido un error: "+data);
            alert("Ocurrió un Error");
            $('#EmailModal').modal('hide');
        }
      });

    } else if (subject == ''){
      alert('Por favor, agrege un Asunto al correo a enviar');
    } else if (message == ''){
      alert('Por favor agrege un Mensaje al correo a enviar');
    } else if(ids.length == 0){
      alert('Por favor seleccione al menos un correo');
    }

  }

  function send_email_MS(){
    var section = $('#receiversMM').text().replace(/\s/g, "");
    var subject = $("#subjectMM").val();
    var message = $("#messageMM").val();
    var ids = [];

    // alert('Entre');
    section = section.split(";");
    for (i=0; i<section.length; i++){
      if (section[i] != ''){
        id = section[i].split("-")[0];
        ids.push(id); 
      }
    }

    if(subject != '' && message != '' && ids.length > 0){
      url = "<%= admin_send_ms_email_path %>";
      $.ajax({
        type: "GET",  
        //dataType: "json",
        //http://0.0.0.0:3000/admin/send_email_representing/1,subject,message
        url: url,
        data: {data_1: message, data_2: subject, data_3:ids },
        contentType: "application/json",
        success: function (data) {
          
          if (data.status == "Ok"){
            displayEmailSuccesMenssageSidebar("Correo Enviado");
          } else if(data.status == "NotOk"){
            displayEmailSuccesMenssageSidebar("Ocurrió un Correo No Enviado, Por favor intente nuevamente.");
          }         
        },
        error: function (data) {
            console.log("Ha ocurrido un error: "+data);
            alert("Ocurrió un Error");
            $('#EmailModal').modal('hide');
        }
      });
    } else if (subject == ''){
      alert('Por favor, agrege un Asunto al correo a enviar');
    } else if (message == ''){
      alert('Por favor agrege un Mensaje al correo a enviar');
    } else if(ids.length < 1){
      alert('Por favor seleccione al menos una sección');
    }     
  }

  function displayEmailSuccesMenssageSidebar(message){
    
    $( ".emails" ).remove();
    $( ".d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm.sendMM").remove(); 
    $( "#materialUnchecked" ).prop( "checked", false );
    $("#subjectMM").val("");
    $("#messageMM").val("");
    $("#destinatarios").val("");
    $('#EmailMultipleModal').modal('hide');
    $("#success_p_modal").text(message);
    $("#myModalLabelSuccessMM").text("Correos enviados");
    $('#sideModalTRMM').modal('show');
  }

</script>