<%= render 'admin/home/messages' if !flash.empty? %>

<div class="row">
  <div class="d-none d-sm-block col-md-8 col-md-block carta-estudiante1 text-white bg-light card mb-5">
    <div class="card-body">
      <h1 class="card-title text-center">Archivos y calificaciones</h1>
      <h6 class="etiqueta">Área de estudiantes y profesores</h6>
    </div>
  </div>

  <div class="d-sm-none card mx-3 p-0 bg-light carta-estudiante1 text-dark" style="width: 18rem;">
    <div class="card-body pb-2 mb-3">
      <h2 class="card-title text-center">Archivos y/o calificaciones</h2>
      <h6 class="card-subtitle text-muted text-center"><small>"La informaci&oacuten es muy importante"</small></h6>
    </div>
  </div>

   <% if can? :create, Forum %>
   <div class="col-md-4 valoracion d-flex justify-content-start justify-content-md-end align-items-end my-3">
      <a href="<%= new_archive_path  %>" class="boton-crear btn btn-md btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i>Subir Archivos</a>
    </div>
  <% end %>
</div>

<div class="fixed-table-header" style="margin-right: 0px;">
  <table style= 'witdh: auto;' class="table table-bordered table-hover table-responsive-md btn-table table-bordered table-striped" id="dataTable">
    <thead class="thead bg-secondary text-white">
      <tr>
        <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
          <div class="th-inner sortable both">Fecha de creación</div><div class="fht-cell"></div>
        </th>
        
        <th style="text-align: center; " colspan="3">
          <div class="th-inner ">Lista de archivos</div>
          <div class="fht-cell"></div>
        </th>
      </tr>

      <tr>
        <% if current_user.is_profesor? %>
          <th style="text-align: center; " data-field="name" data-not-first-th="">
            <div class="th-inner sortable both">Grado dirigido</div>
            <div class="fht-cell" style="width: 200px;"></div>
          </th>
        <% end %>
      
        <th style="text-align: center; " data-field="name" data-not-first-th="">
          <div class="th-inner sortable both">Nombre del archivo</div>
          <div class="fht-cell" style="width: 200px;"></div>
        </th>

        <% if current_user.is_student? %>
          <th style="text-align: center; " data-field="operate">
            <div class="th-inner ">Materia impartida por el/la profesor/a</div>
            <div class="fht-cell" style="width: 200px;"></div>
          </th>
        <% end %>
       
        <th style="text-align: center; " data-field="operate">
          <div class="th-inner ">Acción a tomar</div>
          <div class="fht-cell" style="width: 200px;"></div>
        </th>
      </tr>
    </thead> 

    <tbody>
      <% @archives.reverse_each do |archive| %>
        <% current_user.sections.pluck(:id).each do |single| %>
          <% if single == archive.section_id %>
            <% if current_user == archive.user || (cannot? :create, Forum) %>
              <tr>
                <td><%= archive.created_at.strftime("%d de %b, %y") %></td>
                <% if current_user.is_profesor? %>
                  <td><%= archive.section.description %></td>
                <% end %>
                <td><%= truncate(archive.name, length: 50) %></td>
                <% if current_user.is_student? %>
                  <td><%= archive.user.subjects.pluck(:name).join(', ') unless archive.user.blank? == true %></td>
                <% end %>
                <td>
                  <center>
                    <% if current_user == archive.user %>
                      <a class="btn-floating btn-sm btn-outline-primary shadow-sm" href="<%= archive.attachment_url %>" target= "_blank" data-placement="botton" title="Descargar Archivo"><i class="fas fa-file-export"></i></a>
                      <a class="btn-floating btn-sm btn-outline-danger shadow-sm" href="<%= archive_path(archive) %>" data-method="delete" data-placement="botton" title="Eliminar archivo" data-confirm= 'Está segur@ de que desea eliminar su archivo titulado como: "<%= truncate(archive.name, length: 50) %>"?.' ><i class="fas fa-fw fa-trash"></i></a>
                    <% else %>
                      <a class="btn-floating btn-sm btn-outline-primary shadow-sm" href="<%= archive.attachment_url %>" target= '_blank' data-placement="botton" title="Descargar Archivo"><i class="fas fa-file-export"></i></a>                
                    <% end %>
                    <a class="btn-floating btn-sm btn-outline-success shadow-sm" data-container="body" data-placement="top" data-toggle="popover" title="<%= archive.user.name%> <%= archive.user.lastname%>" data-content="<%= '-- Este archivo no tiene descripción --' if archive.description.blank? %> <%= archive.description %> "><i class="fas fa-info-circle"></i></a>
                  </center>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
      $('#dataTable').DataTable();
      $('.dataTables_length').addClass('bs-select');
    });

    $('.btn-floating.btn-sm.btn-outline-danger.shadow-sm').click(function() {
    var d = $(this).data('datac');      
    //alert(d); 
    button = '<a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" rel="nofollow" data-method="delete" href="'+d.split(",")[0]+'">Eliminar</a>';
    msg = 'Esta seguro de Eliminar: '+d.split(",")[1];
    $modal = $('#DeleteNew');
    $modal.find('.modal-title').text('' + 'Eliminar Anuncio?');
    $modal.find('.modal-body').text(''+ msg);

    $(".d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm").remove(); //Con esta linea elimino en el modal un button parecido al que realizara la accion de eliminar.
    
    $( "#myModalFooter" ).append(button);
    $modal.modal('show');
  });

</script>

<script>
  $(function(){
    $('[data-toggle="popover"]').popover();
  })
</script>