<%= render 'admin/home/messages' if !flash.empty? %>

<%= stylesheet_link_tag 'forums', media: 'print, screen' %>
<div class="row">
  <div class="col-12 col-md-7 carta-estudiante1 text-white bg-light card mb-3 mb-md-5">
    <div class="card-body">
      <h1 class="card-title text-center">Archivos y calificaciones</h1>
      <h6 class="etiqueta">Área de profesores</h6>
    </div>
  </div>

  <div class= 'd-none col-md-5 mb-md-0 d-flex justify-content-end align-items-end' id="container">
    <div class="d-none d-md-block blockWrapper text-center">
      <a href='<%= archives_path %>'><p class="block mb-0" style= 'height:124px;'>⏎</p></a>
      <h4 class= 'font-weight-bold'>Regresar</h4>
    </div>

    <div class= 'd-md-none d-flex justify-content-end'>
      <a class='d-flex btn btn-dark mr-0' title='Regresar' href='<%= archives_path %>'>⏎ Regresar</a>
    </div>
  </div>
</div>

<% if !@archive.errors.empty? %>
  <div class="alert alert-error bg-danger d-flex justify-content-center">
    <a type="button rounded" class="btn btn-dark">
      Por favor, corrija los siguientes errores <span class="badge badge-pill badge-light"><%= @archive.errors.count %></span>
    </a>
    <% @titulo = @archive.errors[:name].join('. ') %>
    <% @archivo = @archive.errors[:attachment].join('. ') %>
  </div>
<%end%>

<div class="card mb-3"> 
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag(("file.png"), class: "card-img-top", style: 'height: 100%;', alt: 'file image')  %>
    </div>
    <div class="col-md-8">
      <div class= 'card-body text-dark pb-0'>
        <h5 class="card-title">Archivos y/o Calificaciones.</h5>
        <%= simple_form_for @archive, validate: true do |f| %> 
          <%# Section %>
          <div class="form-group d-flex mb-0">
            <%= f.input :section_id, as: :radio_buttons, label: 'Grado dirigido', :item_wrapper_class =>  'bg-dark text-dark', collection: current_user.sections, :item_wrapper_class => 'd-inline mx-2 my-0 bg-dark text-white'%>
          </div>
          
          <%# Title %>
          <div class="form-group d-inline">
            <%= f.input :name, label: 'Título del archivo', label_html: {style: "color: white !important;", class: 'text-white rounded-top font-weight-bold bg-dark rounded col-12 m-0'}, placeholder: 'Contendrá el encabezado del foro...' %>
          </div>
          
          <%# Description %>
          <div class="form-group">
            <%= f.input :description, :as => :text, label: 'Contenido principal (Opcional)', :input_html => { 'rows' => 6, 'cols' => 5 }, label_html: {style: "color: white !important;" ,class: 'text-white rounded-top font-weight-bold bg-dark rounded col-12 m-0'}, placeholder: 'Contendrá el encabezado del foro...' %>
          </div>

          <%# Uploaded %>
          <div class="form-group">
            <%= f.file_field :attachment, label: 'Seleccionar archivo', :input_html => { 'rows' => 6, 'cols' => 5 }, label_html: {style: "color: white !important;" ,class: 'text-white rounded-top font-weight-bold bg-dark rounded col-12 m-0'}, placeholder: 'Contendrá el encabezado del foro...' %>
            <div class='mensaje-error-archives pl-1 text-danger font-weight-bold'>
              <small><%= @archivo %></small>
            </div>
          </div>

          <div class='d-flex justify-content-end'> 
            <%= f.submit "Publicar", class: "btn color-boton" %>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>
