
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Correos</h1>
   
    <!-- <a href="<%= new_admin_news_path  %>"><button class="btn btn-primary btn-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Anuncio</button></a> -->
  </div>

  <%= render 'admin/home/messages' if !flash.empty? %>

  <!-- DataTales Example -->
  <div class="col-lg-12 col-md-12 col-xs-12">
    <!-- <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div> -->
    <div class="card-body">
        <table class="table table-striped table-responsive-md btn-table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="d-none d-sm-table-cell"><center>Fecha</center></th>
              <th class="d-none d-sm-table-cell"><center>Asunto</center></th>
              <th><center>Receptor</center></th>
              <th class="d-none d-sm-table-cell"><center>Emisor</center></th>
              <th width="135"><center>Acciones</center></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th class="d-none d-sm-table-cell"><center>Fecha</center></th>
              <th class="d-none d-sm-table-cell"><center>Asunto</center></th>              
              <th><center>Receptor</center></th>
              <th class="d-none d-sm-table-cell"><center>Emisor</center></th>
              <th width="135"><center>Acciones</center></th>
            </tr>
          </tfoot>
          <tbody>
            <% @emails.each do |mail| %>
              <tr>
                <td class="d-none d-sm-table-cell"><center><%= mail.created_at.strftime("%-d/%-m/%y") %></center></td>
                <td class="d-none d-sm-table-cell"><center><%= mail.subject %></center></td>
               
                <td><center><%= mail.receiver %></center></td>
                <td class="d-none d-sm-table-cell"><center><%= User.find(mail.user_id).email %></center></td>
                <td>
                  <center>
                    <% if can? :read, Email %>
                      <button class="btn-floating btn-sm btn-outline-info shadow-sm" href="#" data-placement="botton" title="Detalle <%= mail.subject %>" onclick="display_mail_detail('<%= mail.id %>','<%= mail.created_at.strftime("%-d/%-m/%y") %>','<%= mail.subject %>','<%= mail.message %>','<%= mail.receiver %>','<%= User.find(mail.user_id).email %>')"><i class="fas fa-fw fa-eye"></i></button>
                    <% end %>

                    <% if can? :destroy, Email %>
                      <button class="btn-floating btn-sm btn-outline-danger shadow-sm" href="#"  data-placement="botton" title="Eliminar <%= mail.subject %>" onclick="check_and_display_delete_modal('<%= mail.id %>', 'Esta seguro de Eliminar el Registro del Correo,\n Asunto: <%= mail.subject %>\n y Mensaje: <%= mail.message %>', 'Eliminar Registro de Correo?')"><i class="fas fa-fw fa-trash"></i></button>
                    <% end %>
                  </center>
                </td>
              </tr>
            <% end %>            
          </tbody>
        </table>
    </div>
  </div>


  <!-- Logout Modal-->
  <div class="modal fade" id="DeleteMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Email?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
        
        </div>
        <div class="modal-footer" id="myModalFooter">
          <button class="btn btn-light btn-sm shadow-sm" type="button" data-dismiss="modal">Cancel</button>
          <!-- <a class="btn btn-primary" href="login.html">Logout</a> -->
          <!-- <a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" rel="nofollow" data-method="delete" href="/admin/sections/26">Eliminar</a> -->

          </div>
      </div>
    </div>
  </div>




<script type="text/javascript">
  
  $(document).ready(function () {
    $('#dataTable').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });

  <% len = @emails.length %>
  var emails = {
    <% @emails.each_with_index do |mail, index| %>
      
      <% if index+1 != len %>
        '<%= mail.id %>' : '<%=link_to('Eliminar Registro de Correo', admin_email_path(mail), class:'btn btn-danger btn-sm shadow-sm modal_delete', method: :delete) %>',
      <% elsif index+1 == len %>
        '<%= mail.id %>' : '<%= link_to('Eliminar Registro de Correo', admin_email_path(mail), class:'btn btn-danger btn-sm shadow-sm modal_delete', method: :delete) %>'
      <%  end %>
    <% end %>
  };

  function check_and_display_delete_modal(id, menssage, modal_title){

    $('.modal_delete').remove();
    
    button = emails[id];

    console.log(button);

    $modal = $('#DeleteMail');
    $modal.find('.modal-title').text('' + modal_title);
    $modal.find('.modal-body').text(''+ menssage);

    //$(".d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm").remove(); //Con esta linea elimino en el modal un button parecido al que realizara la accion de eliminar.
    
    $( "#myModalFooter" ).append(button);
    $modal.modal('show');

  } 

  function display_mail_detail(id_mail, date,subject,message,receiver,sender){

    $('.modal_detail').remove();
    $('#ModalDetail').remove();

    var modal = 
    '<!-- Logout Modal-->'+
    '<div class="modal fade modal_detail" id="ModalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">'+
      '<div class="modal-dialog modal-lg" role="document">'+
        '<div class="modal-content">'+
          '<div class="modal-header">'+
            '<h5 class="modal-title">Detalle Correo: '+id_mail+' - '+subject+'</h5>'+
            '<button class="close" type="button" data-dismiss="modal" aria-label="Close">'+
              '<span aria-hidden="true">×</span>'+
            '</button>'+
          '</div>'+
          '<div class="modal-body">'+

            '<div class="row">'+
              '<div class="col-lg-12">'+
          
                '<!-- Collapsable Card Example -->'+
                '<div class="card shadow mb-4">'+
                '<!-- Card Header - Accordion -->'+
                  '<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">'+
                    '<h6 class="m-0 font-weight-bold text-dark">Fecha de Envio de Correo</h6>'+
                  '</a>'+
                  '<!-- Card Content - Collapse -->'+
                  '<div class="collapse show" id="collapseCardExample1">'+
                    '<div class="card-body">'+
                      '<strong>'+date+'</strong>'+
                    '</div>'+
                  '</div>'+
                '</div>'+

                '<!-- Collapsable Card Example -->'+
                '<div class="card shadow mb-4">'+
                '<!-- Card Header - Accordion -->'+
                  '<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">'+
                    '<h6 class="m-0 font-weight-bold text-dark">Asunto del Correo</h6>'+
                  '</a>'+
                  '<!-- Card Content - Collapse -->'+
                  '<div class="collapse show" id="collapseCardExample2">'+
                    '<div class="card-body">'+
                      '<strong>'+subject+'</strong>'+
                    '</div>'+
                  '</div>'+
                '</div>'+

                '<!-- Collapsable Card Example -->'+
                '<div class="card shadow mb-4">'+
                '<!-- Card Header - Accordion -->'+
                  '<a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample3">'+
                    '<h6 class="m-0 font-weight-bold text-dark">Mensaje del Correo</h6>'+
                  '</a>'+
                  '<!-- Card Content - Collapse -->'+
                  '<div class="collapse show" id="collapseCardExample3">'+
                    '<div class="card-body">'+
                      '<strong>'+message+'</strong>'+
                    '</div>'+
                  '</div>'+
                '</div>'+

                '<!-- Collapsable Card Example -->'+
                '<div class="card shadow mb-4">'+
                '<!-- Card Header - Accordion -->'+
                  '<a href="#collapseCardExample4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">'+
                    '<h6 class="m-0 font-weight-bold text-dark">Receptor del Correo</h6>'+
                  '</a>'+
                  '<!-- Card Content - Collapse -->'+
                  '<div class="collapse show" id="collapseCardExample4">'+
                    '<div class="card-body">'+
                      '<strong>'+receiver+'</strong>'+
                    '</div>'+
                  '</div>'+
                '</div>'+

                '<!-- Collapsable Card Example -->'+
                '<div class="card shadow mb-4">'+
                '<!-- Card Header - Accordion -->'+
                  '<a href="#collapseCardExample5" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample5">'+
                    '<h6 class="m-0 font-weight-bold text-dark">Emisor del Correo</h6>'+
                  '</a>'+
                  '<!-- Card Content - Collapse -->'+
                  '<div class="collapse show" id="collapseCardExample5">'+
                    '<div class="card-body">'+
                      '<strong>'+sender+'</strong>'+
                    '</div>'+
                  '</div>'+
                '</div>'+

              '</div>'+
            '</div>'+

          '</div>'+
          '<div class="modal-footer">'+
            '<button class="btn btn-success btn-sm shadow-sm" type="button" data-dismiss="modal">Aceptar</button>'+
            '</div>'+
        '</div>'+
      '</div>'+
    '</div>';

    console.log(modal);

    $('body').append(modal);
    $modal = $('.modal_detail');
    $modal.modal('show');
  } 

</script>

