body {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

// ESTILO PARA PORTADA 

.titulo-foro-discusion {
  font-size: 1.4em;

}

.color {
  color: #495057 !important;

}

.color-foro-estudiante {
  background: #c3c3c3;

}

.nombre-alumno {
  color: #6d0c0c !important;

}

a .nav-link {
  color: yellow;

}

h1 {
  color: #000;
  font-family: cursive;
  font-size: 3em;

}

.titulo-foro {
  font-family: cursive;
  font-size: 3em;

}

.fecha-limite {
  background: #fff;
  color: #f4f4f4;

}

.etiqueta {
  background: #000;
  color: white;
  text-align: center;

}

.texto-publicacion {
  font-size: 15px;

}

.text-history {
  color: #fff;

}

.alertas {
  color: #000;
  text-decoration: none;

}

.frases p {
  color: #000 !important;
  font-size: 13px;

}

.color-boton {
  background-color: #6d130d !important;
  border-color: #000;
  color: #fff;

}

.color-boton:hover {
  background-color: #410c09 !important;
  color: #fff;

}

// Rotaciones de titulos

.carta {
  box-shadow: 4px 4px 5px #888888;
  // background: yellowgreen;
  transform: rotate(-3deg);
  /* IE 9 */
  -ms-transform: rotate(-3deg);
  /* Safari 3-8 */
  -webkit-transform: rotate(-3deg);
  width: 518px;

}

.carta-estudiante1 {
  box-shadow: 4px 4px 5px #888888;
  background-color: greenyellow;
  color: #fff;
  transform: rotate(-3deg);
  /* IE 9 */
  -ms-transform: rotate(-3deg);
  /* Safari 3-8 */
  -webkit-transform: rotate(-3deg);
  width: 518px;

}

// Boton creacion de contenido del foro

.example_c {
  background: #ffffff;
  border: 4px solid #494949 !important;
  border-radius: 6px;
  color: #494949 !important;
  display: inline-block;
  font-weight: bold;
  padding: 20px;
  text-transform: uppercase;

}

.example_c:hover {
  color: #fff !important;
  background: #1f1f1f;
  border-color: #1f1f1f !important;
  transition: all 0.4s ease 0s;
  text-decoration: none;

}

// boton de mario y de regresar

.block {
  /*Dimensions*/
  height: 150px;
  width: 150px;
  overflow: hidden;

  /*Box Styling*/
  background: #d58838;
  border: 3px solid #fff !important;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: inset -4px -4px 1px #000 !important;
  -moz-box-shadow: inset -4px -4px 1px #000 !important;
  -webkit-box-shadow: inset -4px -4px 1px #000 !important;

  /*Text Styling*/
  color: #fff !important;
  text-align: center;
  font: bold 165px/150px 'Geostar Fill', cursive;
  text-shadow: 4px 4px 0 #000 !important;

}

.boton-crear:hover {
  background-color: yellow;
}