header {
  background: none;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 2.25rem;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;

}

.titulo {
  font-size: 2.5rem;
  color: #3da5e2;
}

.texto-principal,
.texto-secundario {
  font-style: italic;
  text-align: justify;
}

p:first-letter {
  //color: #6d0c0c;
  // font-family: 'Playfair Display', serif;
  // font-size: 200%;
  // font-style: italic;
  // font-weight: bold;
  // text-align: justify;
}

div h4 {
  text-transform: uppercase;
}

strong {
  font-weight: bold;
}

// PORTAFOLIO

.portafolio .titulo {
  font-style: italic;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

.portafolio {
  background: #fff;
  border-top: 5px solid #3da5e2;
  padding: 0 20px;
}

.portafolio .galeria .contenedor-imagen {
  margin-bottom: 40px;
  max-height: 180px;
  overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
  background: #3da5e2;
  display: inline-block;
}

.portafolio .galeria .contenedor-imagen:hover img {
  opacity: .3;
}

.portafolio .modal-dialog {
  margin: 0px auto;
  height: 100%;
  max-width: 1000px;
}

.portafolio .modal-content {
  width: auto;
}

// REDES SOCIALES

#redessociales {
  width: 64px;
  height: 64px;
  border-radius: 75px;
  border: 5px solid #fff;
  background: url(https://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg)
}

.smedia {
  position: absolute;
  -webkit-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  -moz-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  -o-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  display: inline;
  opacity: 0;
  width: 46px;
  height: 46px;
  z-index: 100;
  margin: 10px 0px 0px 20px;
  text-indent: -9999px;
  background: no-repeat;
  left: 3px;
}

#redessociales:hover .smedia {
  opacity: 1;
  transform: translate(0px, 0);
  -webkit-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  margin: 10px 0px 0px 20px;
  position: absolute;
}

#redessociales:hover .smedia:nth-child(1) {
  position: absolute;
  left: 65px;
}

#redessociales:hover .smedia:nth-child(2) {
  position: absolute;
  left: 110px;
}

#redessociales:hover .smedia:nth-child(3) {
  position: absolute;
  left: 155px;
}

#redessociales:hover .smedia:nth-child(4) {
  position: absolute;
  left: 200px;
}

#redessociales:hover .smedia:nth-child(5) {
  position: absolute;
  left: 245px;
}

#redessociales:hover .smedia:nth-child(6) {
  position: absolute;
  left: 290px;
}

.smedia.facebook {
  background: url(https://4.bp.blogspot.com/-49s_0_9mdVo/UWHsMIvJBNI/AAAAAAAABn8/6bVMlN4Qz7Y/s1600/bubble_facebook_share_button.png);
}

.smedia.twitter {
  background: url(https://2.bp.blogspot.com/-3r8sHe1Qy5M/UWHsNMDDzHI/AAAAAAAABog/q3V7mYirmOY/s1600/bubble_twitter_share_button.png);
}

.smedia.email {
  background: url(https://3.bp.blogspot.com/-ZhFqBhp79cA/UWHsMBmPxsI/AAAAAAAABn4/O8k_pGf1oCU/s1600/bubble_email_share_button.png);
}

.smedia.instagram {
  background: url(https://1.bp.blogspot.com/-FSkby0cXU_8/UWHsMis8c2I/AAAAAAAABoQ/y8coyc5ystc/s1600/bubble_instagram_share_button.png);
}

.smedia.youtube {
  background: url(https://4.bp.blogspot.com/-x2oyT1dBzwA/UWHsNtcWXVI/AAAAAAAABo8/8kCXTVMbM6Y/s1600/bubble_youtube_share_button.png);
}

.smedia.vimeo {
  background: url(https://2.bp.blogspot.com/-01SWPeX-584/UWHsNim9CAI/AAAAAAAABo4/Z9jMox_9UrE/s1600/bubble_vimeo_share_button.png);
}

.smedia:hover {
  background-position: 0 -46px;
}