<h1>Colegio Cruz Carrillo</h1>

<p>Bienvenido <%= @email %>!</p>

<p>Puedes confirmar tu cuenta en el sistema, haciendo click en el siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
