<h1>Colegio Cruz Carrillo</h1>

<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te estamos contactando para notificarte que tu email a sido cambiado a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te estamos contactando para notificarte que tu email a sido cambiado a <%= @resource.email %>.</p>
<% end %>
