<h1>Colegio Cruz Carrillo</h1>

<p>Hola <%= @resource.email %>!</p>

<p>Se realizó una solicitud de link para cambiar la Contraseña. Lo puedes hacer dando click en el siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, por favor ignora este email</p>
<p>Tu contraseña no cambiará hasta que accedas al link anterior y se cree una nueva contraseña.</p>
