<h1>Colegio Cruz Carrillo</h1>

<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada, debio a un excesivo número de intentos de ingreso al sistema sin éxito</p>

<p>Haz click en el siguiente link para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear cuenta', unlock_url(@resource, unlock_token: @token) %></p>
