<%= form_with(model: user, url: url, local: true) do |f| %>

	<%= render 'admin/home/messages' if !flash.empty? %>

	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Nombre</label>
		<%= f.text_field :name, class:'form-control form-control-user', id:"exampleName", placeholder:"Nombre", autofocus: true, autocomplete: "name", required:'true'%>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Apellido</label>
		<%= f.text_field :lastname, class:'form-control form-control-user', id:"exampleLastName", placeholder:"Apellido", autofocus: true, autocomplete: "lastname", required:'true'%>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Nro. Identificacion</label>
		<%= f.text_field :dni, class:'form-control form-control-user', id:"exampledni", placeholder:"Nro.Identificacion", autofocus: true, autocomplete: "dni", required:'true'%>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Email</label>
		<%= f.email_field :email, class:'form-control form-control-user', id:"exampleEmail", placeholder:"Email", autofocus: true, autocomplete: "email", required:'true'%>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Teléfono 1</label>
		<%= f.text_field :cellphone, class:'form-control form-control-user', id:"exampleCellphone", placeholder:"Teléfono 1", autofocus: true, autocomplete: "cellphone", required:'true'%>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Teléfono 2</label>
		<%= f.text_field :cellphone2, class:'form-control form-control-user', id:"exampleCellphone2", placeholder:"Teléfono 2", autofocus: true, autocomplete: "cellphone2"%>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Fecha Nacimiento</label>
		<%= f.date_field :birthdate, class:'form-control form-control-user', id:"examplebirthdate", placeholder:"Fecha de Nacimiento", autofocus: true, autocomplete: "birthdate", required:'true'%>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Genero</label>
		<%= select_tag "user[gender]", options_for_select([['Seleccione Genero', nil], ['Masculino', 'Masculino'], ['Femenino', 'Femenino']], selected: @user.gender ), class: 'browser-default custom-select', id: "gender_picker", required:'true'%>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Direccion</label>
		<%= f.text_field :address, class:'form-control form-control-user', id:"exampleAddress", placeholder:"Direccion", autofocus: true, autocomplete: "address", required:'true'%>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Status</label>
		<%= select_tag "user[status]", options_for_select([['Seleccione Status', nil], ['Activo', 'Activo'], ['Inactivo', 'Inactivo']], selected: @user.status ), class: 'browser-default custom-select', id: "status_picker", required:'true'%>
		</div>
	</div>
	
	<% if @user.id %>
		<div class="form-group row">
			<div class="col-sm-12 mb-3 mb-sm-0">
				<label>Contraseña</label>
				<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
				<i>(Coloque su contrasena de admin para aplicar los cambios)</i>
				<% if @minimum_password_length %>
		          <em>(<%= @minimum_password_length %> characters minimum)</em>
		        <% end %><br />
		        <%= f.password_field :password, class:"form-control form-control-user", id:"exampleInputPassword", placeholder:"Admin Password", autocomplete: "password", required:'true' %>
	       	</div>
		</div>
	<% end %>

	<hr>
	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
		
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<%= hidden_field_tag "user[role_ids][]", nil %>
		<label>Roles</label>
			<br>
			<% Role.all.each do |rol| %>
				<%= check_box_tag "user[role_ids][]", rol.id, @user.role_ids.include?(rol.id), class: "form-check-input", id: dom_id(rol), onclick: 'getValueFromRole()' %>
				<%= label_tag dom_id(rol), rol.name, class: "form-check-label" %>
				<br>
			<% end %>
		</div>
	</div>

	<div class="form-group row" id="messageDIV" style="display: none;">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Mensaje</label>
		<%= f.text_field :message, class:'form-control form-control-user', id:"exampleMessage", placeholder:"Ingrese el Mensaje", autofocus: true, autocomplete: "message"%>
		</div>
	</div>

	<div class="form-group row" id="RepresentanteDIV" style="display: none;">
		<div class="col-sm-12 mb-3 mb-sm-0">
		<!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
		<label>Representante</label>
		<%= select_tag 'user[representing_id_1]', options_from_collection_for_select(User.all, "id", "name", @user.representing_id_1), include_blank: "Seleccione Representante del Estudiante", class: 'browser-default custom-select', id: 'representing_id_1_picker'  %>
		</div>
	</div>
	
	<hr>

	<div class="form-group row">
		<div class="col-sm-12 mb-3 mb-sm-0">
			<% if @user.id %>
				<% if can? :update, User %>
					<%= f.submit "Editar", class:'btn btn-primary btn-sm shadow-sm' %>
				<% end %>
			<% else %>
				<% if can? :create, User %>
					<%= f.submit "Crear", class:'btn btn-primary btn-sm shadow-sm' %>
				<% end %>
			<% end %>							
			<% if can? :read, User %>
				<%= link_to 'Atras', url_for(:back), :class => 'btn btn-sm btn-light shadow-sm' %>
			<%end%>
		</div>
	</div>

	<hr> 
<% end %>