
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-2 text-gray-800"> <%= @rol.nil? ? 'Todos los Usuarios' : @rol.name == 'Estudiante' ? 'Usuarios Estudiantes' : @rol.name == 'Profesor' ? 'Usuarios Profesores' : @rol.name == 'Representante' ? 'Usuarios Representantes' : 'Usuarios Administradores' %> 
			<% if params[:status].nil? %>  <% else %> <%= params[:status].pluralize %> <%end%>
		</h1>
		<% if can? :create, User %>
			<a href="<%= new_admin_user_path  %>" class="btn btn-sm-block btn-md btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Usuario</a>
		<% end %>
		<!-- <a href="<%= new_admin_news_path  %>"><button class="btn btn-primary btn-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Crear Anuncio</button></a> -->
	</div>



	<%= render 'admin/home/messages' if !flash.empty? %>

	<!-- DataTales Example -->
	<!-- <div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
		</div>
		<div class="card-body">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> -->
	<div class="col-lg-12 col-md-12 col-xs-12">
		<table class="table table-striped table-responsive-md btn-table table-bordered" id="dataTable">
			<thead>
				<tr>
					<th class="d-none d-sm-table-cell"><center>Correo</center></th>
					<th class="d-none d-sm-table-cell"><center>Nombre</center></th>
					<th class=""><center>Identificacion</center></th>
					<th width="350"><center>Acciones</center></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th class="d-none d-sm-table-cell"><center>Correo</center></th>
					<th class="d-none d-sm-table-cell"><center>Nombre</center></th>
					<th class=""><center>Identificacion</center></th>
					<th width="350"><center>Acciones</center></th>
				</tr>
			</tfoot>
			<tbody>
			<% @users.each do |user| %>
				<tr>
					<td class="d-none d-sm-table-cell"><center><%= user.email %></center></td>
					<td class="d-none d-sm-table-cell"><center><%= user.name %> <%= user.lastname %></center></td>
					<td class=""><center><%= user.dni %></center></td>
					<td>
						<center>
							<% if can? :read, User %>

								<a href="#"><button class="btn-floating btn-sm btn-outline-info shadow-sm" onclick="set_detail_user('<%= user.id %>', '<%= user.name %> <%= user.lastname %>','<%= user.dni %>', '<%= user.birthdate %>', '<%= user.gender%>', '<%= user.email %>', '<%= user.cellphone%>','<%= user.cellphone2 %>','<%= user.address %>', '<% if User.exists?(id: user.representing_id_1)%> <%= User.find(user.representing_id_1).name+' '+User.find(user.representing_id_1).lastname if user.representing_id_1 != nil %> <% end %>', '<% user.roles.ids.each do |role| %> *) <%= Role.find(role).name %> <% end %>','<%=edit_admin_user_path(user)%>')" data-placement="botton" title="Detalle <%= user.name %> <%= user.lastname %>"><i class="fas fa-fw fa-eye"></i></button></a>

							<%end%>
							
							<% if can? :update, User %>
								<a href="<%=edit_admin_user_path(user)%>"><button class="btn-floating btn-sm btn-outline-primary shadow-sm" data-placement="botton" title="Editar <%= user.name %> <%= user.lastname %>"><i class="fas fa-fw fa-edit"></i></button></a>
							<% end %>

							<% if user.is_student? and user.representing_id_1 != nil %>
								<% if can? :read, User %>
									<a href="#"><button class="btn-floating btn-sm btn-outline-success shadow-sm" data-placement="botton" title="Email a Representante de <%= user.name %> <%= user.lastname %>" data-datac="<%= user.name %> <%= user.lastname %>,<%= user.representing_id_1%>" ><i class="fas fa-fw fa-envelope-open-text"></i></button></a>
								<%end%>
							<% end %>
							<% if can? :reset_password, User %>
								<a href="#"><button class="btn-floating btn-sm btn-outline-warning shadow-sm" data-placement="botton" title="Reset Password <%= user.name %> <%= user.lastname %>" onclick="reset_password('<%= user.id %>', 'reset')"><i class="fas fa-fw fa-window-restore"></i></button></a>
							<% end %>
							<% if can? :destroy, User %>
								<a href="#"><button class="btn-floating btn-sm btn-outline-danger shadow-sm" data-placement="botton" title="Eliminar <%= user.name %> <%= user.lastname %>" onclick="reset_password('<%= user.id %>', 'delete')"><i class="fas fa-fw fa-trash"></i></button></a>
							<% end %>
						</center>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
	<!-- </div> -->

	<!-- Modal de Mensaje de Correo Enviado -->
	<!-- To change the direction of the modal animation change .right class -->
	<div class="modal fade right" id="sideModalTR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	  aria-hidden="true">
	  <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
	  <div class="modal-dialog modal-side modal-top-right" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title w-100" id="myModalLabelSuccess"> </h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="sideModalTRBody">
	        <h6 class="modal-title w-100" id="success_p_modal"> </h6>
	      </div>
	      <div class="modal-footer">
	        <!-- <button type="button" class="btn btn-sm btn-secondary" >Close</button> -->
	        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Ok</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Side Modal Top Right -->

	
	<!--Modal: que envia el email-->
	<div class="modal fade" id="EmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	  aria-hidden="true">
	  <div class="modal-dialog cascading-modal modal-avatar modal-lg" role="document">
	    <!--Content-->
	    <div class="modal-content">

	      <!--Header-->
	      <div class="modal-header">
	      
	        <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle img-responsive"> -->
	        <img src="/images/sendEmail.png" alt="avatar" class="rounded-circle img-responsive">
	      </div>
	      <!--Body-->
	      <div class="modal-body text-center mb-1">

	        <h5 class="mt-1 mb-2" id="EmailRepresentingH5">Email A Representante</h5>
				
			<input type="hidden" id="hiddenEmailInput" readonly="true">

	        <!-- Material input -->
			<div class="md-form">
			  <input type="text" id="form1" class="form-control">
			  <label for="form1" id='labelCorreoAsunto'>Asunto</label>
			</div>

			<!--Material textarea-->
			<div class="md-form">
			  <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
			  <label for="form7" id='labelCorreoMensaje'>Mensaje</label>
			</div>

	        <div class="text-center mt-4">
				<button class="btn btn-sm btn-light shadow-sm" type="button" data-dismiss="modal">Cancel</button>
	        	<button class="btn btn-sm btn-primary shadow-sm" id="sendEmailtoRepresenting">Enviar</button>
	        </div>
	      </div>

	    </div>
	    <!--/.Content-->
	  </div>
	</div>
	<!--Modal: Login with Avatar Form-->

<script>
	<% len = @users.length %>
	var users_reset_passwords = {
		<% @users.each_with_index do |user, index| %>
			<% if index+1 != len %>
			    '<%= user.id %>' : 	'<div class="modal-body">'+
								      	'<p class="modalResetOrDelete">Usted esta a punto de realizar el Reset de Password del sistema al usuario <%= user.name %> <%= user.lastname%> Identificacion: <%= user.dni%></p>'+
								      	'<%= form_for user, url: admin_reset_password_path(user), method:"patch" do |f| %>'+
											'<i>(Coloque su contrasena de admin para aplicar los cambios)</i>'+
											'<% if @minimum_password_length %>'+
									          '<em>(<%= @minimum_password_length %> characters minimum)</em>'+
									        '<% end %><br />'+
									        '<%= f.password_field :password, class:"form-control form-control-user", placeholder:"Admin Password", autocomplete: "password" %>'+
									        '<br>'+
									        '<hr>'+
									        '<button class="btn btn-sm btn-light shadow-sm" type="button" data-dismiss="modal">Cancel</button>'+
									        '<%= f.submit "Aceptar", class:'btn btn-sm btn-primary shadow-sm' %>'+
								        '<% end %>'+
			      					'</div>',
			
			<% elsif index+1 == len %>
				'<%= user.id %>' : 	'<div class="modal-body">'+
								      	'<p class="modalResetOrDelete">Usted esta a punto de realizar el Reset de Password del sistema al usuario <%= user.name %> <%= user.lastname%> Identificacion: <%= user.dni%></p>'+
								      	'<%= form_for user, url: admin_reset_password_path(user), method:"patch" do |f| %>'+
											'<i>(Coloque su contrasena de admin para aplicar los cambios)</i>'+
											'<% if @minimum_password_length %>'+
									          '<em>(<%= @minimum_password_length %> characters minimum)</em>'+
									        '<% end %><br />'+
									        '<%= f.password_field :password, class:"form-control form-control-user", placeholder:"Admin Password", autocomplete: "password" %>'+'<br>'+
									        '<hr>'+
									        '<button class="btn btn-sm btn-light shadow-sm" type="button" data-dismiss="modal">Cancel</button>'+
									        '<%= f.submit "Aceptar", class:'btn btn-sm btn-primary shadow-sm' %>'+
								        '<% end %>'+
			      					'</div>'

			<% end %>
		<% end %>
	};

	var users_delete_users = {
		<% @users.each_with_index do |user, index| %>
			<% if index+1 != len %>
				'<%= user.id %>' : 	'<div class="modal-body">'+
								      	'<p class="modalResetOrDelete">Usted esta a punto de eliminar del sistema al usuario <%= user.name %> <%= user.lastname%> Identificacion: <%= user.dni%></p>'+
								      	'<%= form_for user, url: admin_user_path(user), method:"delete" do |f| %>'+
											'<i>(Coloque su contrasena de admin para aplicar los cambios)</i>'+
											'<% if @minimum_password_length %>'+
									          '<em>(<%= @minimum_password_length %> characters minimum)</em>'+
									        '<% end %><br />'+
									        '<%= f.password_field :password, class:"form-control form-control-user", id:"exampleInputPassword"+user.to_s, placeholder:"Admin Password", autocomplete: "password" %>'+'<br>'+
									        '<hr>'+
									        '<button class="btn btn-sm btn-light shadow-sm" type="button" data-dismiss="modal">Cancel</button>'+
									        '<%= f.submit "Aceptar", class:'btn btn-sm btn-primary shadow-sm' %>'+
								        '<% end %>'+
			      					'</div>',
			<% elsif index+1 == len %>
				'<%= user.id %>' : 	'<div class="modal-body">'+
								      	'<p class="modalResetOrDelete">Usted esta a punto de eliminar del sistema al usuario <%= user.name %> <%= user.lastname%> Identificacion: <%= user.dni%></p>'+
								      	'<%= form_for user, url: admin_user_path(user), method:"delete" do |f| %>'+
											'<i>(Coloque su contrasena de admin para aplicar los cambios)</i>'+
											'<% if @minimum_password_length %>'+
									          '<em>(<%= @minimum_password_length %> characters minimum)</em>'+
									        '<% end %><br />'+
									        '<%= f.password_field :password, class:"form-control form-control-user", id:"exampleInputPassword"+user.to_s, placeholder:"Admin Password", autocomplete: "password" %>'+'<br>'+
									        '<hr>'+
									        '<button class="btn btn-sm btn-light shadow-sm" type="button" data-dismiss="modal">Cancel</button>'+
									        '<%= f.submit "Aceptar", class:'btn btn-sm btn-primary shadow-sm' %>'+
								        '<% end %>'+
			      					'</div>'
			<% end %>
		<% end %>
	}

	function reset_password(id, type){

		$('.modal_reset_password').remove();
      	$('#ResetDeletePasswordModal').remove();

      	if (type == 'reset'){
      		var modal =	'<div class="modal fade modal_reset_password" id="ResetDeletePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">'+
						'<div class="modal-dialog" role="document">'+
					    	'<div class="modal-content">'+
					      		'<div class="modal-header">'+
					        		'<h5 class="modal-title" id="exampleModalLabel">Reset Password Usuario?</h5>'+
							        '<button class="close" type="button" data-dismiss="modal" aria-label="Close">'+
							          '<span aria-hidden="true">×</span>'+
							        '</button>'+
					      		'</div>'+
					      		users_reset_passwords[id]+
					      	 
					    	'</div>'+
					  	'</div>'+
					'</div>';
      	} else if (type == 'delete'){
      		var modal =	'<div class="modal fade modal_reset_password" id="ResetDeletePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">'+
						'<div class="modal-dialog" role="document">'+
					    	'<div class="modal-content">'+
					      		'<div class="modal-header">'+
					        		'<h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario?</h5>'+
							        '<button class="close" type="button" data-dismiss="modal" aria-label="Close">'+
							          '<span aria-hidden="true">×</span>'+
							        '</button>'+
					      		'</div>'+
					      		users_delete_users[id]+
					      	  
					    	'</div>'+
					  	'</div>'+
					'</div>';
      	}		


		$('body').append(modal);
      	$modal = $('#ResetDeletePasswordModal');
      	$modal.modal('show');
	}
</script>

<script type="text/javascript">
  
	$(document).ready(function () {
		$('#dataTable').DataTable();
		$('.dataTables_length').addClass('bs-select');
	});

	$('.btn-floating.btn-sm.btn-outline-success.shadow-sm').click(function() {
		$("#form1").val("");
		$("#form7").val("");
		$("#hiddenEmailInput").val("");
		var d = $(this).data('datac');      
		var name_and_lastname = d.split(",")[0];
		var representing_id_1 = d.split(",")[1];
		//button = '<a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" rel="nofollow" data-method="delete" href="'+d.split(",")[0]+'">Eliminar</a>';
		//msg = 'Esta seguro de Eliminar la Seccion '+d.split(",")[1];
		$modal = $('#EmailModal');

		$("#hiddenEmailInput").val(representing_id_1);
		$("#EmailRepresentingH5").text("Email A Representante: "+name_and_lastname);
			// $modal.find('.modal-title').text('' + 'Eliminar seccion?');
			//$modal.find('.modal-body').text(''+ msg);

		//$(".d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm").remove(); //Con esta linea elimino en el modal un button parecido al que realizara la accion de eliminar.

		//$( "#myModalFooter" ).append(button);
		$modal.modal('show');
	});

  
	$("#sendEmailtoRepresenting").click(function() {


	  	var subject = $("#form1").val();
	  	var message = $("#form7").val();
	  	alert(subject+" "+message);
	  	var representing_id_1 = $("#hiddenEmailInput").val();
	  	alert(representing_id_1);
	  	var data_value = [subject,message,representing_id_1];
	  	console.log(JSON.stringify(data_value));

	  	if ((subject != null && subject != "") && (message != null && message != "") && (representing_id_1 != null && representing_id_1 != ""))
	  	{
	  		url = "<%= admin_send_email_representing_path %>";
	  		$.ajax({
		      type: "GET",  
		      //dataType: "json",
		      //http://0.0.0.0:3000/admin/send_email_representing/1,subject,message
		      url: url,
		      data: {data_1: data_value[0], data_2:data_value[1], data_3:data_value[2] },
		      contentType: "application/json",
		      success: function (data) {
		        
		        if (data.status == "Ok"){
		        	displayEmailSuccesMenssage("Correo Enviado");
		        } else if(data.status == "NotOk"){
		        	displayEmailSuccesMenssage("Ocurrió un Correo No Enviado, Por favor intente nuevamente.");
		        }	        
		      },
		      error: function (data) {
		          console.log("Ha ocurrido un error: "+data);
		          alert("Ocurrió un Error");
		          $('#EmailModal').modal('hide');
		      }
		    });

	  	} else {
	  		alert("Ocurrió un Error");
	  		$('#EmailModal').modal('hide');
	  	}	
  		return false;

  	});


	function displayEmailSuccesMenssage(message){
		$("#form1").val(null);
		$("#form7").val(null);
		$("#hiddenEmailInput").val(null);
		$("#EmailRepresentingH5").text("Email A Representante: ");
		$('#EmailModal').modal('hide');
		$("#success_p_modal").text(message);
		$("#myModalLabelSuccess").text("Correo enviado");
		$('#sideModalTR').modal('show');
	}

	$("#cancelEmailRepresenting").click(function(){
		$("#form1").val(null);
		$("#form7").val(null);
		$("#hiddenEmailInput").val(null);
		$("#EmailRepresentingH5").text("Email A Representante: ");
		$('#EmailModal').modal('hide');
	});

	$('#form1').on('input', function() {
		//alert($('label').hasClass( "active" ));
	    if ($('#labelCorreoAsunto').hasClass( "active" )){
			$('#labelCorreoAsunto').removeClass("text-dark");
			//alert('Entre');
			$('#labelCorreoAsunto').css('color', '#4285F4');           
		} 
	});

	$('#form7').on('input', function() {
	    if($('#labelCorreoMensaje').hasClass( "active" )){
	    	$('#labelCorreoMensaje').removeClass("text-dark");
			$('#labelCorreoMensaje').css('color', '#4285F4');           
		} 
	});
	
	window.setInterval(function(){
		
		if ($("#form1").val() == ''){
			$('#labelCorreoAsunto').css('color', '#757575');
		}

		if ($("#form7").val() == ''){
			$('#labelCorreoMensaje').css('color', '#757575');	
		}

    }, 3000);

    function set_detail_user(id, name_and_lastname,dni,birthdate,gender,email,cellphone,cellphone2,address, representing_id_1, roles, link_to_edit){
    	$('.modal_detail').remove();
	    $('#ShowDetailModal').remove();

	    id = id ? id : 'Sin identificar';
	    name_and_lastname = name_and_lastname ? name_and_lastname : 'Sin identificar';
	    dni = dni ? dni : 'Sin identificar';
	    birthdate = birthdate ? birthdate : 'Sin identificar';
	    gender = gender ? gender : 'Sin identificar';
	    email = email ? email : 'Sin identificar';
	    cellphone = cellphone ? cellphone : 'Sin identificar';
	    cellphone2 = cellphone2 ? cellphone2 : 'Sin identificar';
	    address = address ? address : 'Sin identificar';
	    representing_id_1 = representing_id_1 ? representing_id_1 : 'Sin identificar';
	    roles = roles ? roles : 'Sin identificar';

	    var modal = 
		    '<!-- Logout Modal-->'+
		    '<div class="modal fade modal_detail" id="ShowDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">'+
		    	'<div class="modal-dialog modal-lg" role="document">'+
			        '<div class="modal-content">'+
				        '<div class="modal-header">'+
				            '<h5 class="modal-title">Detalle Usuario: '+id+' - '+name_and_lastname+'</h5>'+
				            '<button class="close" type="button" data-dismiss="modal" aria-label="Close">'+
				            '<span aria-hidden="true">×</span>'+
				        	'</button>'+
				        '</div>'+
			          
			        	'<div class="modal-body">'+
			            
			            	'<div class="row">'+
								'<div class="col-lg-12">'+
								
									'<!-- Collapsable Card Example -->'+
									'<div class="card shadow mb-4">'+
									'<!-- Card Header - Accordion -->'+
										'<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">'+
											'<h6 class="m-0 font-weight-bold text-dark">Nombre y Apellido</h6>'+
										'</a>'+
										'<!-- Card Content - Collapse -->'+
										'<div class="collapse show" id="collapseCardExample1">'+
											'<div class="card-body">'+
											'<strong>'+name_and_lastname+'</strong>'+
											'</div>'+
										'</div>'+
									'</div>'+

									'<!-- Collapsable Card Example -->'+
									'<div class="card shadow mb-4">'+
									'<!-- Card Header - Accordion -->'+
										'<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">'+
											'<h6 class="m-0 font-weight-bold text-dark">DNI</h6>'+
										'</a>'+
										'<!-- Card Content - Collapse -->'+
										'<div class="collapse show" id="collapseCardExample2">'+
											'<div class="card-body">'+
											'<strong>'+dni+'</strong>'+
											'</div>'+
										'</div>'+
									'</div>'+

									'<!-- Collapsable Card Example -->'+
									'<div class="card shadow mb-4">'+
									'<!-- Card Header - Accordion -->'+
										'<a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample3">'+
											'<h6 class="m-0 font-weight-bold text-dark">Fecha de Nacimiento</h6>'+
										'</a>'+
										'<!-- Card Content - Collapse -->'+
										'<div class="collapse show" id="collapseCardExample3">'+
											'<div class="card-body">'+
											'<strong>'+birthdate+'</strong>'+
											'</div>'+
										'</div>'+
									'</div>'+

									'<!-- Collapsable Card Example -->'+
									'<div class="card shadow mb-4">'+
									'<!-- Card Header - Accordion -->'+
										'<a href="#collapseCardExample7" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample7">'+
											'<h6 class="m-0 font-weight-bold text-dark">Genero</h6>'+
										'</a>'+
										'<!-- Card Content - Collapse -->'+
										'<div class="collapse show" id="collapseCardExample7">'+
											'<div class="card-body">'+
											'<strong>'+gender+'</strong>'+
											'</div>'+
										'</div>'+
									'</div>'+

									'<!-- Collapsable Card Example -->'+
									'<div class="card shadow mb-4">'+
									'<!-- Card Header - Accordion -->'+
										'<a href="#collapseCardExample4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">'+
											'<h6 class="m-0 font-weight-bold text-dark">Email</h6>'+
										'</a>'+
										'<!-- Card Content - Collapse -->'+
										'<div class="collapse show" id="collapseCardExample4">'+
											'<div class="card-body">'+
											'<strong>'+email+'</strong> '+
											'</div> '+
										'</div> '+
									'</div> '+

									'<!-- Collapsable Card Example --> '+
									'<div class="card shadow mb-4"> '+
									'<!-- Card Header - Accordion -->'+
										'<a href="#collapseCardExample8" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample8">'+
											'<h6 class="m-0 font-weight-bold text-dark">Teléfono 1</h6>'+
										'</a>'+
										'<!-- Card Content - Collapse -->'+
										'<div class="collapse show" id="collapseCardExample8">'+
											'<div class="card-body">'+
											'<strong>'+cellphone+'</strong>'+
											'</div>'+
										'</div>'+
									'</div>'+

											'<!-- Collapsable Card Example -->'+
									'<div class="card shadow mb-4">'+
									'<!-- Card Header - Accordion -->'+
										'<a href="#collapseCardExample9" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample9">'+
											'<h6 class="m-0 font-weight-bold text-dark">Teléfono 2</h6>'+
										'</a>'+
										'<!-- Card Content - Collapse -->'+
										'<div class="collapse show" id="collapseCardExample9">'+
											'<div class="card-body">'+
											'<strong>'+cellphone2+'</strong>'+
											'</div>'+
										'</div>'+
									'</div>'+

									'<!-- Collapsable Card Example -->'+
									'<div class="card shadow mb-4">'+
									'<!-- Card Header - Accordion -->'+
										'<a href="#collapseCardExample5" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample5">'+
											'<h6 class="m-0 font-weight-bold text-dark">Direccion</h6>'+
										'</a>'+
										'<!-- Card Content - Collapse -->'+
										'<div class="collapse show" id="collapseCardExample5">'+
											'<div class="card-body">'+
											'<strong>'+address+'</strong>'+
											'</div>'+
										'</div>'+
									'</div>'+

						
									'<!-- Collapsable Card Example -->'+
									'<div class="card shadow mb-4">'+
									'<!-- Card Header - Accordion -->'+
										'<a href="#collapseCardExample6" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample6">'+
											'<h6 class="m-0 font-weight-bold text-dark">Representante</h6>'+
										'</a>'+
										'<!-- Card Content - Collapse -->'+
										'<div class="collapse show" id="collapseCardExample6">'+
											'<div class="card-body">'+
											'<strong>'+ representing_id_1 +'</strong>'+
											'</div>'+
										'</div>'+
									'</div>'+

									'<!-- Collapsable Card Example -->'+
									'<div class="card shadow mb-4">'+
									'<!-- Card Header - Accordion -->'+
										'<a href="#collapseCardExample7" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample7">'+
											'<h6 class="m-0 font-weight-bold text-dark">Roles</h6>'+
										'</a>'+
										'<!-- Card Content - Collapse -->'+
										'<div class="collapse show" id="collapseCardExample7">'+
											'<div class="card-body">'+
											'<strong>'+roles+'</strong>'+
											'</div>'+
										'</div>'+
									'</div>'+

								'</div>'+
							'</div>'+

			         	'</div>'+

			          	'<div class="modal-footer">'+
			          		'<a href="'+link_to_edit+'" > <button class="btn btn-primary btn-sm shadow-sm" type="button">Editar</button></a>'+
			            	'<button class="btn btn-success btn-sm shadow-sm" type="button" data-dismiss="modal">Aceptar</button>'+
			            '</div>'+
			        '</div>'+
		      	'</div>'+
		    '</div>';

		console.log(modal);

	    $('body').append(modal);
	    $modal = $('#ShowDetailModal');
	    $modal.modal('show');
    }

</script>

