<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Nuevo Usuario</h1>
</div>

<%= render 'form', user: @user, url: admin_users_path(@user) %>
	

<script type="text/javascript">
	
	function getValueFromRole(){
        valor = $('#role_3').prop('checked');
        if (valor == true){
            $('#messageDIV').css("display", "block");
            $('#exampleMessage').prop('required',true);
            //$('#exampleMessage').setAttribute("type", "text");
            getValueFromRoleStudent();
        } else if (valor == false){
            $('#messageDIV').css("display", "none");
            $('#exampleMessage').val(null); 
            $('#exampleMessage').prop('required',false);
            getValueFromRoleStudent();
     	}
    }

    function getValueFromRoleStudent(){
        valor2 = $('#role_2').prop('checked');
     	if (valor2 == true){
     		//alert("entre");
     		$('#RepresentanteDIV').css("display", "block");
            $('#representing_id_1_picker').prop('required',true);
     	} else if (valor2 == false){
     		$('#RepresentanteDIV').css("display", "none");
            $('#representing_id_1_picker').val(null); 
            $('#representing_id_1_picker').prop('required',false);
     	}
    }

	displayMessageOrRepresenting();

    function displayMessageOrRepresenting(){
        valor = $('#role_3').prop('checked');
        valor2 = $('#role_2').prop('checked');
        if (valor == true){
            $('#messageDIV').css("display", "block");
        } else if(valor == false) {
            $('#messageDIV').css("display", "none");
        }

        if(valor2 == true){
			$('#RepresentanteDIV').css("display", "block");
        } else if(valor2 == false){
        	$('#RepresentanteDIV').css("display", "none");
        }
    }

</script>