
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-2 text-gray-800">Usuario: <% if @user.name == false and @user.lastname == false %> Sin identificar <% else %><%= @user.name %> <%=@user.lastname%><% end %></h1>
</div>

<div class="row">
	<div class="col-lg-12">

		<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
				<h6 class="m-0 font-weight-bold text-dark">Nombre y Apellido</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample1">
				<div class="card-body">
				<strong>
					<% if @user.name == false and @user.lastname == false %>
						Sin identificar
					<% else %>
						<%= @user.name %> <%=@user.lastname%>
					<% end %>
				</strong>
				</div>
			</div>
		</div>

		<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
				<h6 class="m-0 font-weight-bold text-dark">DNI</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample2">
				<div class="card-body">
				<strong>
					<% if @user.dni %>
						<%= @user.dni %>
					<% else %>
						Sin identificar
					<% end %> 
				</strong>
				</div>
			</div>
		</div>

		<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample3">
				<h6 class="m-0 font-weight-bold text-dark">Fecha de Nacimiento</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample3">
				<div class="card-body">
				<strong>
					<% if @user.birthdate %>
						<%= @user.birthdate %>
					<% else%>
						Sin identifcar
					<% end %>		
				</strong>
				</div>
			</div>
		</div>

		<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample7" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample7">
				<h6 class="m-0 font-weight-bold text-dark">Genero</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample7">
				<div class="card-body">
				<strong>
					<% if @user.gender %>
						<%= @user.gender %>
					<% else%>
						Sin identifcar
					<% end %>		
				</strong>
				</div>
			</div>
		</div>

		<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample4" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample4">
				<h6 class="m-0 font-weight-bold text-dark">Email</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample4">
				<div class="card-body">
				<strong>
					<% if @user.email %>
						<%= @user.email %>
					<% else %>
						Sin identificar
					<% end %>
				</strong>
				</div>
			</div>
		</div>

		<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample8" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample8">
				<h6 class="m-0 font-weight-bold text-dark">Teléfono 1</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample8">
				<div class="card-body">
				<strong>
					<% if @user.cellphone %>
						<%= @user.cellphone %>
					<% else %>
						Sin identificar
					<% end %>
				</strong>
				</div>
			</div>
		</div>

				<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample9" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample9">
				<h6 class="m-0 font-weight-bold text-dark">Teléfono 2</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample9">
				<div class="card-body">
				<strong>
					<% if @user.cellphone2 != '' %>
						<%= @user.cellphone2 %>
					<% else %>
						Sin identificar
					<% end %>
				</strong>
				</div>
			</div>
		</div>

		<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample5" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample5">
				<h6 class="m-0 font-weight-bold text-dark">Direccion</h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample5">
				<div class="card-body">
				<strong>
					<% if @user.address %>
						<%= @user.address %>
					<% else %>
						Sin identificar
					<% end %>
				</strong>
				</div>
			</div>
		</div>
		

		<% if @user.is_student? and @user.representing_id_1 != nil and @user_representing %>
			<!-- Collapsable Card Example -->
			<div class="card shadow mb-4">
			<!-- Card Header - Accordion -->
				<a href="#collapseCardExample6" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample6">
					<h6 class="m-0 font-weight-bold text-dark">Representante</h6>
				</a>
				<!-- Card Content - Collapse -->
				<div class="collapse show" id="collapseCardExample6">
					<div class="card-body">
					<strong>
						<%= @user_representing.name %> <%= @user_representing.lastname %>
					</strong>
					</div>
				</div>
			</div>
		<% end %>

		<!-- Collapsable Card Example -->
		<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
			<a href="#collapseCardExample7" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample7">
				<h6 class="m-0 font-weight-bold text-dark"><% if @user.roles.count > 1 %> Roles <% else%> Rol <% end %> </h6>
			</a>
			<!-- Card Content - Collapse -->
			<div class="collapse show" id="collapseCardExample7">
				<div class="card-body">
				<strong>
					<% Role.all.each do |rol| %>					
						<% @user.roles.each do |ur| %>
							<% if ur.id == rol.id %>
								<%= rol.name %>
								<br>
							<% end %>
						<% end %>
					<% end %>
				</strong>
				</div>
			</div>
		</div>

		<div class="form-group">
		<hr>
		    <div class="col-sm-4 mb-4 mb-sm-0">
				<% if can? :update, User %>
	        		<%= link_to "Editar" , edit_admin_user_path(@user), :class => 'btn btn-primary btn-sm shadow-sm' %>
				<%end%>
				
				<% if can? :read, User %>
	    			<%= link_to 'Atras', url_for(:back), :class => 'btn btn-sm btn-light shadow-sm' %>
				<%end%>
			</div>
		</div>
	
	</div>
</div>