<!-- BARRA LATERAL IZQUIERDA -->
<%# <div class="col-md-3 barra-lateral-izquierda" id="barra-lateral-izquierda">
  <nav>
    <a href="#"><i class="far fa-comment-dots"></i> Foro</a>
    <a href="#"><i class="fas fa-award"></i> Calificaciones</a>
    <a href="#"><i class="far fa-comments"></i> Mensajes</a>
    <a href="#"><i class="fas fa-users-cog"></i> Configuraciones</a>
  </nav>
</div> %>