<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <%= favicon_link_tag asset_path('logop.png') %>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="./images/logop.png" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CruzCarrilloApp</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,400,500&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
  </head>


  <body class="fixed-sn white-skin">

    <!-- Main Navigation -->
    <header>
      
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.min.js"></script>
      <!-- Sidebar navigation -->
      <%= render 'admin/home/sidebar' %>
      <!-- Sidebar navigation -->

      <!-- Navbar -->
      <%= render 'admin/home/navbar' %>
      <!-- Navbar -->

    </header>
    <!-- Main Navigation -->

    <!-- Main layout -->
    <main>
      <div class="container-fluid">

        <!-- Section: Main panel -->
        <!-- <section class="mb-5"> -->

          <!-- Card -->
          <!-- <div class="card card-cascade narrower"> -->


            <!-- Section: Table -->
            <!-- <section> -->

              <!-- <div class="card card-cascade narrower z-depth-0"> -->

                <!-- <div class="px-4"> -->
                  <%= yield %>
                  

                  <!-- <hr class="my-0"> -->

                <!-- </div> -->

              <!-- </div> -->

            <!-- </section> -->
            <!--Section: Table-->

          <!-- </div> -->
          <!-- Card -->

        <!-- </section> -->
        <!-- Section: Main panel -->
      </div>
    </main>
    <!-- Main layout -->

    <!-- Footer -->
    <footer class="page-footer pt-0 mt-5 rgba-stylish-light">

      

    </footer>
    <!-- Footer -->
    <%= render 'admin/home/footer' %>
    <!-- Initializations -->
    
    <script>
      /*$(document).ready(function () {

        //rgb(255, 255, 255) es blanco
        window.setInterval(function(){
          mode =  
        }, 2500);

      });*/
    </script>

    <script>
      $(document).ready(function () {

       //rgb(255, 255, 255) es blanco
        window.setInterval(function(){
          /// call your function here
          //alert($("body").css("background-color"));
          if ($("body").css("background-color") == "rgb(255, 255, 255)" || $("body").css("background-color") == "rgba(0, 0, 0, 0)" ){
            //blanco
            //$('h6, .card, p, td, th, i, h4, input, label').toggleClass('text-black');

            $('TD').each(function() {
              if( $(this).hasClass("text-white") ){
                $(this).removeClass( "text-white" ).addClass( "text-black" );
              }
            });


          } 
          else if ( $("body").css("background-color") == "rgb(54, 57, 71)"){
            //Oscuro
            $('TD').each(function() {
              if( $(this).hasClass("text-black") ){
                $(this).removeClass( "text-black" ).addClass( "text-white" );
              } else {
                $(this).removeClass( "text-black" ).addClass( "text-white" );
              }
            });
          } 
          //else {
          //   $('h6, .card, p, td, th, i, h4, input, label').not('#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-white');
          // }
        }, 2500);

      });
    </script>
    
    <script>
      $(document).ready(function () {

        var message = '<% flash.each do |name, msg| %> <%= msg %> <% end %>';
        //console.log('Este es el alert '+message);
        if (message){
          $modal = $('#FlashMessageModal');
          $modal.modal('show');
        }
      });
    </script>

    <script>

      // SideNav Initialization
      $(".button-collapse").sideNav();

      var container = document.querySelector('.custom-scrollbar');

      Ps.initialize(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20
      });

      // Data Picker Initialization
      $('.datepicker').pickadate();

      // Material Select Initialization
      $(document).ready(function () {
        $('.mdb-select').material_select();
      });

      // Tooltips Initialization
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })

    </script>

    <!-- Charts -->
    <script>

      check_mode_background();
      
      /*
        rgba(0, 0, 0, 0) ----> Va  a Oscuro
        rgb(255, 255, 255) -----> Va a Claro
        Modo Claro: Con this: rgba(0, 0, 0, 0) Con body: rgb(255, 255, 255)
        Modo Oscuro: Con this: rgb(255, 255, 255) Con body: rgb(54, 57, 71)
      */

      $(function() {
        $('#dark-mode').on('click', function (e) {

          e.preventDefault();
          
          var color = $(this).css("background-color");  
          
          // console.log(e);
          // console.log(this);
          //alert('COn this: '+$(this).css("background-color")+' Con body: '+$('body').css("background-color"));
          
          if ($('body').css('background-color') == 'rgb(255, 255, 255)' || $(this).css("background-color") == 'rgba(0, 0, 0, 0)') { //Significa que el modo es claro va a Oscuro
          
            $('footer, .card').toggleClass('dark-card-admin');
            $('body, .navbar').toggleClass('white-skin navy-blue-skin');
            $(this).toggleClass('white text-dark btn-outline-black');
            $('body').toggleClass('dark-bg-admin');
            $('h6, .card, p, td, th, i, h4, input, label').not('#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-white');
            //$('li a,').not('#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-black');
            $('.btn-dash').toggleClass('black blue').toggleClass('lighten-3 darken-3');
            $('.gradient-card-header').toggleClass('white black lighten-4');
            $('.list-panel a').toggleClass('navy-blue-bg-a text-black').toggleClass('list-group-border');
            
            $('.card.shadow.mb-4.dark-card-admin').css('background-color','transparent');

                       
            $('.modalResetOrDelete').removeClass( "text-white" ).addClass( "text-dark" );
            $('.active').removeClass( "text-white" ).addClass( "text-dark" );
            $('.form-control').removeClass( "text-white" ).addClass( "text-dark" );
            $('#labelCorreoMensaje').removeClass( "text-white" ).addClass( "text-dark" );
            $('#labelCorreoAsunto').removeClass( "text-white" ).addClass( "text-dark" );
            $('#labelCorreoreceiversMM').removeClass( "text-white" ).addClass( "text-dark" );
            $('#labelCorreoMMAsunto').removeClass( "text-white" ).addClass( "text-dark" );
            $('#labelCorreoMMMensaje').removeClass( "text-white" ).addClass( "text-dark" );
            $('#success_p_modal').removeClass( "text-white" ).addClass( "text-dark" );

            //El color de fondo es disntinto de blanco por lo tanto es oscuro
            $('body').css('background-color', '#363947');
            $('.h3.mb-2.text-gray-800').css('color','white');
            $('.h3.mb-0.text-gray-800').css('color','white');
            $(".dataTables_info").css("color","white");
            update_mode_background('Oscuro');       

          } else if ( $('body').css('background-color') == 'rgb(54, 57, 71)' || $(this).css("background-color") == 'rgb(255, 255, 255)') { //Significa que el modo es Oscuro va a Claro

            $('footer, .card').toggleClass('dark-card-admin');
            $('body, .navbar').toggleClass('white-skin navy-blue-skin');
            $(this).toggleClass('white text-dark btn-outline-black');
            $('body').toggleClass('dark-bg-admin');
            $('h6, .card, p, td, th, i, h4, input, label').not('#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-white');
            //$('li a,').not('#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-black');
            $('.btn-dash').toggleClass('black blue').toggleClass('lighten-3 darken-3');
            $('.gradient-card-header').toggleClass('white black lighten-4');
            $('.list-panel a').toggleClass('navy-blue-bg-a text-black').toggleClass('list-group-border');
            
            $('.card.shadow.mb-4.dark-card-admin').css('background-color','transparent');


            //El color de fondo es blanco
            $('body').css('background-color', 'rgba(0, 0, 0, 0)');
            $('.h3.mb-2.text-gray-800').css('color','#212529');
            $('.h3.mb-0.text-gray-800').css('color','#212529');
            $(".dataTables_info").css("color","#212529");
            update_mode_background('Blanco'); 
          }        
        });
      });      

      function update_mode_background(color){
        url = "<%= admin_update_mode_path %>";
        $.ajax({
          type: "GET",  
          //dataType: "json",
          //http://0.0.0.0:3000/admin/send_email_representing/1,subject,message
          url: url,
          data: {mode: color},
          contentType: "application/json",
          success: function (data) {
            // check_mode_background();
            if (data.status == "Ok"){
              // check_mode_background();
              console.log('Cambiado el color a: '+color);
            } else if(data.status == "NotOK"){
              // check_mode_background();              
              console.log('Color no cambiado');
            }         
          },
          error: function (data) {
            console.log("Ha ocurrido un error: "+data);
            // alert("Ocurrió un Error");
            // $('#EmailModal').modal('hide');
            // check_mode_background();
          }
        });
      }

      function check_mode_background(){
        
        var mode;
        //alert('Entre');
        // var color = $('body').css("background-color");  
        // alert(color);

        $.ajax({
          type: "GET",
          dataType: "json",
          url: "<%= admin_check_mode_path %>",
          success: function (data) {
            $.each(data, function(index, element) {
                mode = element,mode;
            });
            //console.log(mode);
            if (mode == 'Oscuro'){
              //Significa que el modo seleccionado es oscuro
              dark_mode(this);
            }       
          },
          error: function (data) {
              console.log("Ha ocurrido un error: "+data);
          }
        });
      }

      
      function dark_mode() {

          $('footer, .card').toggleClass('dark-card-admin');
          $('body, .navbar').toggleClass('white-skin navy-blue-skin');
          $(this).toggleClass('white text-dark btn-outline-black');
          $('body').toggleClass('dark-bg-admin');
          $('h6, .card, p, td, th, i, h4, input, label').not('#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-white');
          //$('li a,').not('#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-black');
          $('.btn-dash').toggleClass('black blue').toggleClass('lighten-3 darken-3');
          $('.gradient-card-header').toggleClass('white black lighten-4');
          $('.list-panel a').toggleClass('navy-blue-bg-a text-black').toggleClass('list-group-border');
          
          $('.card.shadow.mb-4.dark-card-admin').css('background-color','transparent');

                     
          $('.modalResetOrDelete').removeClass( "text-white" ).addClass( "text-dark" );
          $('.active').removeClass( "text-white" ).addClass( "text-dark" );
          $('.form-control').removeClass( "text-white" ).addClass( "text-dark" );
          $('#labelCorreoMensaje').removeClass( "text-white" ).addClass( "text-dark" );
          $('#labelCorreoAsunto').removeClass( "text-white" ).addClass( "text-dark" );
          $('#labelCorreoreceiversMM').removeClass( "text-white" ).addClass( "text-dark" );
          $('#labelCorreoMMAsunto').removeClass( "text-white" ).addClass( "text-dark" );
          $('#labelCorreoMMMensaje').removeClass( "text-white" ).addClass( "text-dark" );
          $('#success_p_modal').removeClass( "text-white" ).addClass( "text-dark" );

          //El color de fondo es disntinto de blanco por lo tanto es oscuro
          $('body').css('background-color', '#363947');
          $('.h3.mb-2.text-gray-800').css('color','white');
          $('.h3.mb-0.text-gray-800').css('color','white');
          $(".dataTables_info").css("text-color","white");
          //update_mode_background('Blanco'); 

          $('#dark-mode').removeClass("btn btn-outline-black btn-sm");    
          $('#dark-mode').addClass("btn btn-sm white text-dark");             
      }
   
    </script>
  </body>

</html>