<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= favicon_link_tag asset_path('logop.png') %>
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="./images/logop.png" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CruzCarrilloApp</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!-- Favicons -->
      <!-- <link href="img/favicon.png" rel="icon">
      <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/css/mdb.css">
  
  

  <!-- Main Stylesheet File -->
  <!--  <link href="css/style.css" rel="stylesheet"> -->
  <style type="text/css">
    
    /*<!-- Main Stylesheet File -->*/
  
      
    /*
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    */
    /*--------------------------------------------------------------
    # General
    --------------------------------------------------------------*/
    body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    }

    a {
    color: #2dc997;
    }

    a:hover, a:active, a:focus {
    color: #2dca98;
    outline: none;
    text-decoration: none;
    }

    p {
    padding: 0;
    margin: 0 0 30px 0;
    }

    h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    }

    /* Prelaoder */
    #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("/images/img/preloader.svg") no-repeat center center;
    }

    /* Back to top button */
    .back-to-top {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    }

    @media (max-width: 768px) {
    .back-to-top {
    bottom: 15px;
    }
    }

    .back-to-top:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
    }

    .back-to-top:hover {
    background: #2dc997;
    color: #fff;
    }

    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
    #header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    }

    #header #logo {
    float: left;
    }

    #header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    }

    #header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
    }

    #header #logo img {
    padding: 0;
    margin: 0;
    }

    @media (max-width: 768px) {
    #header #logo h1 {
    font-size: 26px;
    }
    #header #logo img {
    max-height: 40px;
    }
    }

    #header.header-fixed {
    background: rgba(52, 59, 64, 0.9);
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
    }

    /*--------------------------------------------------------------
    # Hero Section
    --------------------------------------------------------------*/
    #hero {
    width: 100%;
    height: 100vh;
    background: url(/images/img/hero-bg2.jpg) top center;
    background-size: cover;
    position: relative;
    }

    @media (min-width: 1024px) {
    #hero {
    background-attachment: fixed;
    }
    }

    #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    }

    #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    }

    #hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
    }

    @media (max-width: 768px) {
    #hero h1 {
    font-size: 28px;
    line-height: 36px;
    }
    }

    #hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
    }

    @media (max-width: 768px) {
    #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    }
    }

    #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    }

    #hero .btn-get-started:hover {
    background: #2dc997;
    border: 2px solid #2dc997;
    }

    /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
    /* Nav Menu Essentials */
    .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    }

    .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
    }

    .nav-menu li {
    position: relative;
    white-space: nowrap;
    }

    .nav-menu > li {
    float: left;
    }

    .nav-menu li:hover > ul,
    .nav-menu li.sfHover > ul {
    display: block;
    }

    .nav-menu ul ul {
    top: 0;
    left: 100%;
    }

    .nav-menu ul li {
    min-width: 180px;
    }

    /* Nav Menu Arrows */
    .sf-arrows .sf-with-ul {
    padding-right: 30px;
    }

    .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    }

    .sf-arrows ul .sf-with-ul:after {
    content: "\f105";
    }

    /* Nav Meu Container */
    #nav-menu-container {
    float: right;
    margin: 0;
    }

    @media (max-width: 768px) {
    #nav-menu-container {
    display: none;
    }
    }

    /* Nav Meu Styling */
    .nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    outline: none;
    }

    .nav-menu > li {
    margin-left: 10px;
    }

    .nav-menu > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2dc997;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    }

    .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }

    .nav-menu ul {
    margin: 4px 0 0 0;
    border: 1px solid #e7e7e7;
    }

    .nav-menu ul li {
    background: #fff;
    }

    .nav-menu ul li:first-child {
    border-top: 0;
    }

    .nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
    }

    .nav-menu ul li a:hover {
    background: #2dc997;
    color: #fff;
    }

    .nav-menu ul ul {
    margin: 0;
    }

    /* Mobile Nav Toggle */
    #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
    }

    #mobile-nav-toggle i {
    color: #fff;
    }

    @media (max-width: 768px) {
    #mobile-nav-toggle {
    display: inline;
    }
    }

    /* Mobile Nav Styling */
    #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(52, 59, 64, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
    }

    #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    }

    #mobile-nav ul li {
    position: relative;
    }

    #mobile-nav ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    }

    #mobile-nav ul li a:hover {
    color: #fff;
    }

    #mobile-nav ul li li {
    padding-left: 30px;
    }

    #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    }

    #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #2dc997;
    }

    #mobile-nav ul .menu-item-active {
    color: #2dc997;
    }

    #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(52, 59, 64, 0.9);
    display: none;
    }

    /* Mobile Nav body classes */
    body.mobile-nav-active {
    overflow: hidden;
    }

    body.mobile-nav-active #mobile-nav {
    left: 0;
    }

    body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
    }

    /*--------------------------------------------------------------
    # Sections
    --------------------------------------------------------------*/
    /* Sections Header
    --------------------------------*/
    .section-header .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    }

    .section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;
    }

    /* About Us Section
    --------------------------------*/
    #about {
    background: #fff;
    padding: 80px 0;
    }

    #about .about-container .background {
    min-height: 300px;
    background: url(/images/portal.png) center top no-repeat;
    margin-bottom: 10px;
    }

    #about .about-container .content {
    background: #fff;
    }

    #about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
    }

    @media (max-width: 768px) {
    #about .about-container .title {
    padding-top: 15px;
    }
    }

    #about .about-container p {
    line-height: 26px;
    }

    #about .about-container p:last-child {
    margin-bottom: 0;
    }

    #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
    }

    #about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #2dc997;
    }

    #about .about-container .icon-box .icon i {
    color: #2dc997;
    font-size: 24px;
    }

    #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    }

    #about .about-container .icon-box .title a {
    color: #111;
    }

    #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
    }

    /* Facts Section
    --------------------------------*/
    #facts {
    background: #f7f7f7;
    padding: 80px 0 60px 0;
    }

    #facts .counters span {
    font-size: 48px;
    display: block;
    color: #2dc997;
    }

    #facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    }

    /* Services Section
    --------------------------------*/
    #services {
    background: #fff;
    background-size: cover;
    padding: 80px 0 60px 0;
    }

    #services .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 200px;
    position: relative;
    background: #fafafa;
    }

    #services .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #2dc997;
    }

    #services .icon a {
    display: inline-block;
    }

    #services .icon i {
    color: #fff;
    font-size: 24px;
    }

    #services .box:hover .icon {
    background: #fff;
    border: 2px solid #2dc997;
    }

    #services .box:hover .icon i {
    color: #2dc997;
    }

    #services .box:hover .icon a {
    color: #2dc997;
    }

    #services .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    }

    #services .title a {
    color: #111;
    }

    #services .description {
    font-size: 14px;
    line-height: 24px;
    }

    /* Call To Action Section
    --------------------------------*/
    #call-to-action {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/img/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
    }

    #call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    }

    #call-to-action .cta-text {
    color: #fff;
    }

    @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }
    }

    #call-to-action .cta-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    }

    #call-to-action .cta-btn:hover {
    background: #2dc997;
    border: 2px solid #2dc997;
    }

    /* Portfolio Section
    --------------------------------*/
    #portfolio {
    background: #f7f7f7;
    padding: 80px 0;
    }

    #portfolio #portfolio-wrapper {
    padding-right: 15px;
    }

    #portfolio #portfolio-flters {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
    }

    #portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    }

    #portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
    background: #2dc997;
    color: #fff;
    }

    #portfolio .portfolio-item {
    position: relative;
    height: 200px;
    overflow: hidden !important;
    margin-bottom: 15px;
    transition: all 350ms ease;
    transform: scale(1);
    }

    #portfolio .portfolio-item a {
    display: block;
    margin-right: 15px;
    }

    #portfolio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    #portfolio .portfolio-item .details {
    height: 50px;
    background: #2dc997;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -50px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    #portfolio .portfolio-item .details h4 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 8px 0 2px 8px;
    margin: 0;
    }

    #portfolio .portfolio-item .details span {
    display: block;
    color: #fff;
    font-size: 13px;
    padding-left: 8px;
    }

    #portfolio .portfolio-item:hover .details {
    bottom: 0;
    }

    #portfolio .portfolio-item:hover img {
    top: -30px;
    }

    /* Team Section
    --------------------------------*/
    #team {
    background: #fff;
    padding: 80px 0 60px 0;
    }

    #team .member {
    text-align: center;
    margin-bottom: 20px;
    }

    #team .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    height: 260px;
    }

    #team .member .pic img {
    max-width: 100%;
    }

    #team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    }

    #team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    }

    #team .member .social {
    margin-top: 15px;
    }

    #team .member .social a {
    color: #b3b3b3;
    }

    #team .member .social a:hover {
    color: #2dc997;
    }

    #team .member .social i {
    font-size: 18px;
    margin: 0 2px;
    }

    /* Contact Section
    --------------------------------*/
    #contact {
    background: #f7f7f7;
    padding: 80px 0 40px 0;
    }

    #contact #google-map {
    height: 300px;
    margin-bottom: 20px;
    }

    #contact .info {
    color: #333333;
    }

    #contact .info i {
    font-size: 32px;
    color: #2dc997;
    float: left;
    }

    #contact .info p {
    padding: 0 0 10px 50px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
    }

    #contact .info .email p {
    padding-top: 5px;
    }

    #contact .social-links {
    padding-bottom: 20px;
    }

    #contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    }

    #contact .social-links a:hover {
    background: #2dc997;
    color: #fff;
    }

    #contact .form #sendmessage {
    color: #2dc997;
    border: 1px solid #2dc997;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    }

    #contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    }

    #contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
    display: block;
    }

    #contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
    }

    #contact .form input, #contact .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    }

    #contact .form button[type="submit"] {
    background: #2dc997;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    }

    #contact .form button[type="submit"]:hover {
    background: #51d8ad;
    }

    /*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
    #footer {
    background: #343b40;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
    }

    #footer .copyright {
    text-align: center;
    }

    #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
    }

    .navbar-brand2 {
        color: #fed136;
        font-family: 'Kaushan Script',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    }
  


    /*<!-- =======================================================
      Theme Name: Regna
      Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->*/

  </style>

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  
  <%= yield %>


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.10.0/jquery.hoverIntent.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.9/js/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->

  <!-- Template Main Javascript File -->
  <!-- <script src="js/main.js"></script> -->
  <script>

      $(document).ready(function(){ 
        $('.svg-inline--fa.fa-bars.fa-w-14').css('color', '#fff');
      });

      $(document).ready(function () {

        var message = '<% flash.each do |name, msg| %> <%= msg %> <% end %>';
        //console.log('Este es el alert '+message);
        if (message){
          $modal = $('#FlashMessageModal');
          $("#AcceptButton").css('color', 'rgb(0,0,0)');
          $("#labelModalMessages").addClass('text-dark');
          $modal.modal('show');
        }
      });
      
      jQuery(document).ready(function ($) {

        // Header fixed and Back to top button
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $('.back-to-top').fadeIn('slow');
            $('#header').addClass('header-fixed');
          } else {
            $('.back-to-top').fadeOut('slow');
            $('#header').removeClass('header-fixed');
          }
        });
        $('.back-to-top').click(function () {
          $('html, body').animate({
            scrollTop: 0
          }, 1500, 'easeInOutExpo');
          return false;
        });

        // Initiate the wowjs
        new WOW().init();

        // Initiate superfish on nav menu
        $('.nav-menu').superfish({
          animation: {
            opacity: 'show'
          },
          speed: 400
        });

        // Mobile Navigation
        if ($('#nav-menu-container').length) {
          var $mobile_nav = $('#nav-menu-container').clone().prop({
            id: 'mobile-nav'
          });
          $mobile_nav.find('> ul').attr({
            'class': '',
            'id': ''
          });
          $('body').append($mobile_nav);
          $('body').prepend('<button type="button" id="mobile-nav-toggle"><i class="fa fa-bars"></i></button>');
          $('body').append('<div id="mobile-body-overly"></div>');
          $('#mobile-nav').find('.menu-has-children').prepend('<i class="fa fa-chevron-down"></i>');

          $(document).on('click', '.menu-has-children i', function (e) {
            $(this).next().toggleClass('menu-item-active');
            $(this).nextAll('ul').eq(0).slideToggle();
            $(this).toggleClass("fa-chevron-up fa-chevron-down");
          });

          $(document).on('click', '#mobile-nav-toggle', function (e) {
            $('body').toggleClass('mobile-nav-active');
            $('#mobile-nav-toggle i').toggleClass('fa-times fa-bars');
            $('#mobile-body-overly').toggle();
          });

          $(document).click(function (e) {
            var container = $("#mobile-nav, #mobile-nav-toggle");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
              if ($('body').hasClass('mobile-nav-active')) {
                $('body').removeClass('mobile-nav-active');
                $('#mobile-nav-toggle i').toggleClass('fa-times fa-bars');
                $('#mobile-body-overly').fadeOut();
              }
            }
          });
        } else if ($("#mobile-nav, #mobile-nav-toggle").length) {
          $("#mobile-nav, #mobile-nav-toggle").hide();
        }

        // Smoth scroll on page hash links
        $('a[href*="#"]:not([href="#"])').on('click', function () {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {

            var target = $(this.hash);
            if (target.length) {
              var top_space = 0;

              if ($('#header').length) {
                top_space = $('#header').outerHeight();

                if (!$('#header').hasClass('header-fixed')) {
                  top_space = top_space - 20;
                }
              }

              $('html, body').animate({
                scrollTop: target.offset().top - top_space
              }, 1500, 'easeInOutExpo');

              if ($(this).parents('.nav-menu').length) {
                $('.nav-menu .menu-active').removeClass('menu-active');
                $(this).closest('li').addClass('menu-active');
              }

              if ($('body').hasClass('mobile-nav-active')) {
                $('body').removeClass('mobile-nav-active');
                $('#mobile-nav-toggle i').toggleClass('fa-times fa-bars');
                $('#mobile-body-overly').fadeOut();
              }
              return false;
            }
          }
        });

        // Porfolio filter
        $("#portfolio-flters li").click(function () {
          $("#portfolio-flters li").removeClass('filter-active');
          $(this).addClass('filter-active');

          var selectedFilter = $(this).data("filter");
          $("#portfolio-wrapper").fadeTo(100, 0);

          $(".portfolio-item").fadeOut().css('transform', 'scale(0)');

          setTimeout(function () {
            $(selectedFilter).fadeIn(100).css('transform', 'scale(1)');
            $("#portfolio-wrapper").fadeTo(300, 1);
          }, 300);
        });

        // jQuery counterUp
        $('[data-toggle="counter-up"]').counterUp({
          delay: 10,
          time: 1000
        });

        // custom code
      });
  </script>

</body>
</html>